<a href="https://colab.research.google.com/github/yirlenarias/TFG_PD/blob/main/Datos/Observado/Temperatura/Temperatura_Observada_20230501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Climatología de Temperatura Observada

* Para trabajar más cómodamente vamos a descargar todos los ficheros del repositorio GitHub
* De esa manera dispondremos de los datos localmente para nuestro análisis.

In [ ]:
# Directorio de trabajo local en la nube de Google Colab 
# ------------------------------------------------------------
%cd /content

# Si existe una copia previa del repositorio, la borramos:
# ----------------------------------------------------------------------------
!  rm -rf TFG_PD

# Creamos una copia del repositorio SOLO si no existe previamente
# ----------------------------------------------------------------------------
! [ ! -d TFG_PD ] && git clone https://github.com/yirlenarias/TFG_PD.git

# Entramos en el repositorio que acabamos de copiar
# --------------------------------------------------
%cd TFG_PD/Datos/Observado/Temperatura

## Importar librerias

In [ ]:
import glob
import pandas as pd
import numpy as np

## Abrir todos los archivos excel por cuenca

In [ ]:
# Criterios de coincidencia de patrones para archivos de Excel en el directorio
filenames = 'Cuenca*.xlsx'

In [ ]:
# Crea un diccionario vacío para almacenar los datos de cada archivo
dat = {}

# Recorra cada archivo de Excel que coincida con el patrón y lea sus datos en un marco de datos de pandas
for file in glob.glob(filenames):
    dat[file] = pd.read_excel(file)

In [ ]:
# Access the data from each file using its file name as the key in the data_dict
data_new = []

for file, data in dat.items():
    data_new.append(data)

In [ ]:
# Definir una función para aplicar a los datos y en la columna 'ESTACION' todos los valores tengan 3 digitos
for i, df in enumerate(data_new):
    def formatear_valor(valor):
        if valor < 10:
            return '00' + str(valor)
        elif valor < 100:
            return '0' + str(valor)
        else:
            return str(valor)

    # Aplicar la función a la tabla
    data_new[i]['ESTACION'] = data_new[i]['ESTACION'].apply(formatear_valor)

In [ ]:
data_new

[       CUENCA ESTACION      FECHA    MAX    MIN
 0         100      633 2003-10-17  30.37  22.96
 1         100      633 2003-10-18  31.28  24.03
 2         100      633 2003-10-19  26.45  23.46
 3         100      633 2003-10-20  25.54  23.43
 4         100      633 2003-10-21  27.59  23.50
 ...       ...      ...        ...    ...    ...
 29327     100      655 2022-12-27  32.90  22.70
 29328     100      655 2022-12-28  31.50  22.50
 29329     100      655 2022-12-29  31.80  22.80
 29330     100      655 2022-12-30  32.70  23.10
 29331     100      655 2022-12-31  32.60  22.00

 [29332 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0        200      002 2002-01-01  28.76  23.30
 1        200      002 2002-01-02  28.85  23.93
 2        200      002 2002-01-03  26.98  23.89
 3        200      002 2002-01-04  28.69  22.63
 4        200      002 2002-01-05  28.69  22.87
 ...      ...      ...        ...    ...    ...
 6977     200      009 2018-03-04  30.90  21.60
 6978     200      009 2018-03-05  32.20  22.30
 6979     200      009 2018-03-06  32.50  22.80
 6980     200      009 2018-03-07  30.80  23.80
 6981     200      009 2018-03-08  31.40  23.40

 [6982 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          69      633 2002-01-01  30.57  23.33
 1          69      633 2002-01-02  30.12  22.43
 2          69      633 2002-01-03  31.15  22.53
 3          69      633 2002-01-04  29.14  22.56
 4          69      633 2002-01-05  26.01  21.73
 ...       ...      ...        ...    ...    ...
 94209      69      749 2022-12-27  23.30  18.00
 94210      69      749 2022-12-28  23.00  17.70
 94211      69      749 2022-12-29  25.40  17.80
 94212      69      749 2022-12-30  24.60  18.30
 94213      69      749 2022-12-31  23.60  15.90

 [94214 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         71      015 2002-01-01  31.88  22.32
 1         71      015 2002-01-02  31.25  22.86
 2         71      015 2002-01-03  31.61  23.29
 3         71      015 2002-01-04  29.63  22.22
 4         71      015 2002-01-05  29.30  22.06
 ...      ...      ...        ...    ...    ...
 8577      71      023 2022-07-04  27.30  23.30
 8578      71      023 2022-07-05  26.50  23.30
 8579      71      023 2022-07-06  29.10  23.90
 8580      71      023 2022-07-07  29.50  23.40
 8581      71      023 2022-07-08  31.40  23.20

 [8582 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          72      149 2004-03-24  35.41  27.00
 1          72      149 2004-03-25  36.96  26.70
 2          72      149 2004-03-26  36.01  25.39
 3          72      149 2004-03-27  36.65  25.41
 4          72      149 2004-03-28  36.12  25.63
 ...       ...      ...        ...    ...    ...
 53909      72      195 2022-11-26  26.00  21.30
 53910      72      195 2022-11-27  25.10  21.60
 53911      72      195 2022-11-28  23.40  21.70
 53912      72      195 2022-11-29  26.90  21.70
 53913      72      195 2022-11-30  29.10  21.10

 [53914 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          73      123 2002-01-01  24.01  16.92
 1          73      123 2002-01-02  23.24  15.67
 2          73      123 2002-01-03  24.61  16.19
 3          73      123 2002-01-04  20.98  14.97
 4          73      123 2002-01-05  21.23  15.10
 ...       ...      ...        ...    ...    ...
 65877      73      171 2022-12-27  22.20  11.20
 65878      73      171 2022-12-28  24.20  12.20
 65879      73      171 2022-12-29  24.20  15.60
 65880      73      171 2022-12-30  24.10  16.10
 65881      73      171 2022-12-31  23.30  13.00

 [65882 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          74      051 2002-01-01  35.46  22.10
 1          74      051 2002-01-02  33.99  20.08
 2          74      051 2002-01-03  34.64  21.18
 3          74      051 2002-01-04  33.92  22.40
 4          74      051 2002-01-05  31.37  21.38
 ...       ...      ...        ...    ...    ...
 38197      74      083 2022-11-18  31.50  23.90
 38198      74      083 2022-11-19  32.10  20.70
 38199      74      083 2022-11-20  29.50  22.60
 38200      74      083 2022-11-21  30.30  20.60
 38201      74      083 2022-11-22  30.60  22.50

 [38202 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          76      055 2002-01-01  33.76  24.11
 1          76      055 2002-01-02  33.10  23.84
 2          76      055 2002-01-03  33.37  24.24
 3          76      055 2002-01-04  31.89  23.25
 4          76      055 2002-01-05  28.80  23.58
 ...       ...      ...        ...    ...    ...
 18009      76      067 2022-11-01  27.00  19.20
 18010      76      067 2022-11-02  27.70  18.70
 18011      76      067 2022-11-03  27.80  19.00
 18012      76      067 2022-11-04  25.80  19.60
 18013      76      067 2022-11-05  23.50  20.10

 [18014 rows x 5 columns],
        CUENCA ESTACION      FECHA   MAX    MIN
 0          78      027 2002-01-01  30.1  25.80
 1          78      027 2002-01-02  32.2  24.78
 2          78      027 2002-01-03  30.0  25.90
 3          78      027 2002-01-04  32.3  25.56
 4          78      027 2002-01-05  30.1  24.28
 ...       ...      ...        ...   ...    ...
 13456      78      035 2022-12-27  33.0  23.30
 13457      78      035 2022-12-28  32.0  22.70
 13458      78      035 2022-12-29  34.6  24.20
 13459      78      035 2022-12-30  35.5  23.70
 13460      78      035 2022-12-31  32.4  23.70

 [13461 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         80      013 2014-08-20  23.97  23.01
 1         80      013 2014-08-24  32.31  21.81
 2         80      013 2014-08-25  30.33  22.67
 3         80      013 2014-08-26  32.52  22.72
 4         80      013 2014-08-27  32.01  22.49
 ...      ...      ...        ...    ...    ...
 2754      80      013 2022-11-04  29.60  23.20
 2755      80      013 2022-11-05  28.90  22.30
 2756      80      013 2022-11-06  26.50  22.10
 2757      80      013 2022-11-07  25.80  22.40
 2758      80      013 2022-11-08  25.80  21.50

 [2759 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         81      005 2002-01-01  30.28  23.34
 1         81      005 2002-01-02  30.32  22.57
 2         81      005 2002-01-03  30.15  23.20
 3         81      005 2002-01-04  29.69  22.61
 4         81      005 2002-01-05  29.52  21.91
 ...      ...      ...        ...    ...    ...
 9804      81      013 2022-07-07  26.90  16.90
 9805      81      013 2022-07-08  27.90  17.30
 9806      81      013 2022-07-09  27.30  18.00
 9807      81      013 2022-07-10  24.20  17.20
 9808      81      013 2022-07-11  27.10  20.00

 [9809 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          82      011 2012-11-22  29.65  20.51
 1          82      011 2012-11-23  31.06  19.16
 2          82      011 2012-11-24  33.76  19.51
 3          82      011 2012-11-25  32.25  19.16
 4          82      011 2012-11-26  31.36  20.91
 ...       ...      ...        ...    ...    ...
 13732      82      019 2022-12-27  32.20  19.00
 13733      82      019 2022-12-28  31.90  17.80
 13734      82      019 2022-12-29  31.90  19.10
 13735      82      019 2022-12-30  31.80  19.80
 13736      82      019 2022-12-31  32.20  18.50

 [13737 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         83      007 2013-09-12  28.16  22.14
 1         83      007 2013-09-13  30.97  21.05
 2         83      007 2013-09-14  31.55  22.76
 3         83      007 2013-09-15  32.23  22.21
 4         83      007 2013-09-16  33.29  22.62
 ...      ...      ...        ...    ...    ...
 3022      83      007 2022-10-29  30.70  22.10
 3023      83      007 2022-10-30  31.70  20.80
 3024      83      007 2022-10-31  31.80  19.40
 3025      83      007 2022-11-01  32.10  20.50
 3026      83      007 2022-11-02  31.60  20.10

 [3027 rows x 5 columns],
         CUENCA ESTACION      FECHA    MAX    MIN
 0           84      139 2002-01-01  26.69  17.52
 1           84      139 2002-01-02  24.88  15.77
 2           84      139 2002-01-03  26.84  17.80
 3           84      139 2002-01-04  22.07  16.04
 4           84      139 2002-01-05  22.96  15.83
 ...        ...      ...        ...    ...    ...
 123966      84      295 2022-12-27  31.20  14.70
 123967      84      295 2022-12-28  32.00  14.70
 123968      84      295 2022-12-29  31.20  16.20
 123969      84      295 2022-12-30  31.90  16.70
 123970      84      295 2022-12-31  28.60  14.40

 [123971 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          85      021 2002-01-01  28.64  21.72
 1          85      021 2002-01-02  30.87  21.30
 2          85      021 2002-01-03  30.44  21.95
 3          85      021 2002-01-04  29.80  21.29
 4          85      021 2002-01-05  31.77  20.90
 ...       ...      ...        ...    ...    ...
 16205      85      027 2020-10-30  32.10  24.00
 16206      85      027 2020-10-31  32.40  24.60
 16207      85      027 2020-11-01  31.10  23.40
 16208      85      027 2020-11-02  32.30  23.80
 16209      85      027 2020-11-03  30.60  24.10

 [16210 rows x 5 columns],
       CUENCA ESTACION      FECHA   MAX   MIN
 0         86      013 2015-05-07  32.2  24.7
 1         86      013 2015-05-08  32.9  25.1
 2         86      013 2015-05-09  32.8  24.8
 3         86      013 2015-05-10  33.2  24.8
 4         86      013 2015-05-11  32.5  24.0
 ...      ...      ...        ...   ...   ...
 2767      86      013 2022-12-18  31.7  23.7
 2768      86      013 2022-12-19  32.3  22.2
 2769      86      013 2022-12-20  29.5  21.7
 2770      86      013 2022-12-21  30.5  22.1
 2771      86      013 2022-12-22  31.4  23.6

 [2772 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         87      013 2002-01-01  28.84  22.74
 1         87      013 2002-01-02  31.31  22.68
 2         87      013 2002-01-03  29.34  23.11
 3         87      013 2002-01-04  30.65  22.39
 4         87      013 2002-01-05  32.31  21.82
 ...      ...      ...        ...    ...    ...
 6473      87      013 2022-12-27  31.60  20.10
 6474      87      013 2022-12-28  32.00  19.60
 6475      87      013 2022-12-29  31.70  20.90
 6476      87      013 2022-12-30  30.40  21.50
 6477      87      013 2022-12-31  29.80  19.60

 [6478 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          88      035 2002-01-01  23.82  16.14
 1          88      035 2002-01-02  22.41  14.92
 2          88      035 2002-01-03  25.51  15.46
 3          88      035 2002-01-04  20.32  14.11
 4          88      035 2002-01-05  20.90  14.38
 ...       ...      ...        ...    ...    ...
 15764      88      055 2022-12-02  25.60  17.20
 15765      88      055 2022-12-03  26.30  16.20
 15766      88      055 2022-12-04  24.70  14.40
 15767      88      055 2022-12-05  25.20  15.30
 15768      88      055 2022-12-06  26.50  14.90

 [15769 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         90      015 2014-03-13  30.75  26.22
 1         90      015 2014-03-14  30.86  24.61
 2         90      015 2014-03-15  30.38  25.76
 3         90      015 2014-03-16  30.83  25.73
 4         90      015 2014-03-17  30.39  26.02
 ...      ...      ...        ...    ...    ...
 2976      90      015 2022-11-13  26.10  21.50
 2977      90      015 2022-11-14  25.80  21.70
 2978      90      015 2022-11-15  26.60  21.50
 2979      90      015 2022-11-16  27.80  22.40
 2980      90      015 2022-11-17  27.00  22.50

 [2981 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX   MIN
 0         94      013 2012-02-01  10.92  0.92
 1         94      013 2012-02-02  10.12  1.94
 2         94      013 2012-02-03  12.59  3.21
 3         94      013 2012-02-04  13.09  4.50
 4         94      013 2012-02-05  14.97  4.94
 ...      ...      ...        ...    ...   ...
 8231      94      019 2022-12-27  11.80  4.00
 8232      94      019 2022-12-28  13.80  2.90
 8233      94      019 2022-12-29  14.20  4.60
 8234      94      019 2022-12-30  12.60  5.30
 8235      94      019 2022-12-31  10.60  2.80

 [8236 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         96      003 2013-05-28  31.78  23.20
 1         96      003 2013-05-29  30.92  22.12
 2         96      003 2013-05-30  31.93  22.41
 3         96      003 2013-05-31  30.39  21.85
 4         96      003 2013-06-01  30.87  23.57
 ...      ...      ...        ...    ...    ...
 3267      96      003 2022-11-06  28.70  22.20
 3268      96      003 2022-11-07  26.50  22.40
 3269      96      003 2022-11-08  27.20  22.70
 3270      96      003 2022-11-09  29.10  22.10
 3271      96      003 2022-11-10  27.90  22.50

 [3272 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          98      075 2002-01-01  22.09  16.71
 1          98      075 2002-01-02  26.98  16.74
 2          98      075 2002-01-03  25.52  17.53
 3          98      075 2002-01-04  25.66  16.01
 4          98      075 2002-01-05  27.67  18.29
 ...       ...      ...        ...    ...    ...
 40836      98      109 2022-11-06  24.00  17.50
 40837      98      109 2022-11-07  24.00  18.00
 40838      98      109 2022-11-08  22.70  17.80
 40839      98      109 2022-11-09  26.20  18.20
 40840      98      109 2022-11-10  23.70  17.40

 [40841 rows x 5 columns]]

## Arreglar datos

In [ ]:
#Unir el numero de 'CUENCA' con 'ESTACION' para tener el numero de cada estacion
for i, df in enumerate(data_new):
    data_new[i]['ESTACION_NEW'] = data_new[i]['CUENCA'].astype(str) + data_new[i]['ESTACION'].astype(str)

In [ ]:
#Eliminar las columnas que no son necesarias
for i, df in enumerate(data_new):
    data_new[i].pop('CUENCA')
    data_new[i].pop('ESTACION')

In [ ]:
data_new

[           FECHA    MAX    MIN ESTACION_NEW
 0     2003-10-17  30.37  22.96       100633
 1     2003-10-18  31.28  24.03       100633
 2     2003-10-19  26.45  23.46       100633
 3     2003-10-20  25.54  23.43       100633
 4     2003-10-21  27.59  23.50       100633
 ...          ...    ...    ...          ...
 29327 2022-12-27  32.90  22.70       100655
 29328 2022-12-28  31.50  22.50       100655
 29329 2022-12-29  31.80  22.80       100655
 29330 2022-12-30  32.70  23.10       100655
 29331 2022-12-31  32.60  22.00       100655

 [29332 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  28.76  23.30       200002
 1    2002-01-02  28.85  23.93       200002
 2    2002-01-03  26.98  23.89       200002
 3    2002-01-04  28.69  22.63       200002
 4    2002-01-05  28.69  22.87       200002
 ...         ...    ...    ...          ...
 6977 2018-03-04  30.90  21.60       200009
 6978 2018-03-05  32.20  22.30       200009
 6979 2018-03-06  32.50  22.80       200009
 6980 2018-03-07  30.80  23.80       200009
 6981 2018-03-08  31.40  23.40       200009

 [6982 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  30.57  23.33        69633
 1     2002-01-02  30.12  22.43        69633
 2     2002-01-03  31.15  22.53        69633
 3     2002-01-04  29.14  22.56        69633
 4     2002-01-05  26.01  21.73        69633
 ...          ...    ...    ...          ...
 94209 2022-12-27  23.30  18.00        69749
 94210 2022-12-28  23.00  17.70        69749
 94211 2022-12-29  25.40  17.80        69749
 94212 2022-12-30  24.60  18.30        69749
 94213 2022-12-31  23.60  15.90        69749

 [94214 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  31.88  22.32        71015
 1    2002-01-02  31.25  22.86        71015
 2    2002-01-03  31.61  23.29        71015
 3    2002-01-04  29.63  22.22        71015
 4    2002-01-05  29.30  22.06        71015
 ...         ...    ...    ...          ...
 8577 2022-07-04  27.30  23.30        71023
 8578 2022-07-05  26.50  23.30        71023
 8579 2022-07-06  29.10  23.90        71023
 8580 2022-07-07  29.50  23.40        71023
 8581 2022-07-08  31.40  23.20        71023

 [8582 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2004-03-24  35.41  27.00        72149
 1     2004-03-25  36.96  26.70        72149
 2     2004-03-26  36.01  25.39        72149
 3     2004-03-27  36.65  25.41        72149
 4     2004-03-28  36.12  25.63        72149
 ...          ...    ...    ...          ...
 53909 2022-11-26  26.00  21.30        72195
 53910 2022-11-27  25.10  21.60        72195
 53911 2022-11-28  23.40  21.70        72195
 53912 2022-11-29  26.90  21.70        72195
 53913 2022-11-30  29.10  21.10        72195

 [53914 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  24.01  16.92        73123
 1     2002-01-02  23.24  15.67        73123
 2     2002-01-03  24.61  16.19        73123
 3     2002-01-04  20.98  14.97        73123
 4     2002-01-05  21.23  15.10        73123
 ...          ...    ...    ...          ...
 65877 2022-12-27  22.20  11.20        73171
 65878 2022-12-28  24.20  12.20        73171
 65879 2022-12-29  24.20  15.60        73171
 65880 2022-12-30  24.10  16.10        73171
 65881 2022-12-31  23.30  13.00        73171

 [65882 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  35.46  22.10        74051
 1     2002-01-02  33.99  20.08        74051
 2     2002-01-03  34.64  21.18        74051
 3     2002-01-04  33.92  22.40        74051
 4     2002-01-05  31.37  21.38        74051
 ...          ...    ...    ...          ...
 38197 2022-11-18  31.50  23.90        74083
 38198 2022-11-19  32.10  20.70        74083
 38199 2022-11-20  29.50  22.60        74083
 38200 2022-11-21  30.30  20.60        74083
 38201 2022-11-22  30.60  22.50        74083

 [38202 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  33.76  24.11        76055
 1     2002-01-02  33.10  23.84        76055
 2     2002-01-03  33.37  24.24        76055
 3     2002-01-04  31.89  23.25        76055
 4     2002-01-05  28.80  23.58        76055
 ...          ...    ...    ...          ...
 18009 2022-11-01  27.00  19.20        76067
 18010 2022-11-02  27.70  18.70        76067
 18011 2022-11-03  27.80  19.00        76067
 18012 2022-11-04  25.80  19.60        76067
 18013 2022-11-05  23.50  20.10        76067

 [18014 rows x 4 columns],
            FECHA   MAX    MIN ESTACION_NEW
 0     2002-01-01  30.1  25.80        78027
 1     2002-01-02  32.2  24.78        78027
 2     2002-01-03  30.0  25.90        78027
 3     2002-01-04  32.3  25.56        78027
 4     2002-01-05  30.1  24.28        78027
 ...          ...   ...    ...          ...
 13456 2022-12-27  33.0  23.30        78035
 13457 2022-12-28  32.0  22.70        78035
 13458 2022-12-29  34.6  24.20        78035
 13459 2022-12-30  35.5  23.70        78035
 13460 2022-12-31  32.4  23.70        78035

 [13461 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2014-08-20  23.97  23.01        80013
 1    2014-08-24  32.31  21.81        80013
 2    2014-08-25  30.33  22.67        80013
 3    2014-08-26  32.52  22.72        80013
 4    2014-08-27  32.01  22.49        80013
 ...         ...    ...    ...          ...
 2754 2022-11-04  29.60  23.20        80013
 2755 2022-11-05  28.90  22.30        80013
 2756 2022-11-06  26.50  22.10        80013
 2757 2022-11-07  25.80  22.40        80013
 2758 2022-11-08  25.80  21.50        80013

 [2759 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  30.28  23.34        81005
 1    2002-01-02  30.32  22.57        81005
 2    2002-01-03  30.15  23.20        81005
 3    2002-01-04  29.69  22.61        81005
 4    2002-01-05  29.52  21.91        81005
 ...         ...    ...    ...          ...
 9804 2022-07-07  26.90  16.90        81013
 9805 2022-07-08  27.90  17.30        81013
 9806 2022-07-09  27.30  18.00        81013
 9807 2022-07-10  24.20  17.20        81013
 9808 2022-07-11  27.10  20.00        81013

 [9809 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2012-11-22  29.65  20.51        82011
 1     2012-11-23  31.06  19.16        82011
 2     2012-11-24  33.76  19.51        82011
 3     2012-11-25  32.25  19.16        82011
 4     2012-11-26  31.36  20.91        82011
 ...          ...    ...    ...          ...
 13732 2022-12-27  32.20  19.00        82019
 13733 2022-12-28  31.90  17.80        82019
 13734 2022-12-29  31.90  19.10        82019
 13735 2022-12-30  31.80  19.80        82019
 13736 2022-12-31  32.20  18.50        82019

 [13737 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2013-09-12  28.16  22.14        83007
 1    2013-09-13  30.97  21.05        83007
 2    2013-09-14  31.55  22.76        83007
 3    2013-09-15  32.23  22.21        83007
 4    2013-09-16  33.29  22.62        83007
 ...         ...    ...    ...          ...
 3022 2022-10-29  30.70  22.10        83007
 3023 2022-10-30  31.70  20.80        83007
 3024 2022-10-31  31.80  19.40        83007
 3025 2022-11-01  32.10  20.50        83007
 3026 2022-11-02  31.60  20.10        83007

 [3027 rows x 4 columns],
             FECHA    MAX    MIN ESTACION_NEW
 0      2002-01-01  26.69  17.52        84139
 1      2002-01-02  24.88  15.77        84139
 2      2002-01-03  26.84  17.80        84139
 3      2002-01-04  22.07  16.04        84139
 4      2002-01-05  22.96  15.83        84139
 ...           ...    ...    ...          ...
 123966 2022-12-27  31.20  14.70        84295
 123967 2022-12-28  32.00  14.70        84295
 123968 2022-12-29  31.20  16.20        84295
 123969 2022-12-30  31.90  16.70        84295
 123970 2022-12-31  28.60  14.40        84295

 [123971 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  28.64  21.72        85021
 1     2002-01-02  30.87  21.30        85021
 2     2002-01-03  30.44  21.95        85021
 3     2002-01-04  29.80  21.29        85021
 4     2002-01-05  31.77  20.90        85021
 ...          ...    ...    ...          ...
 16205 2020-10-30  32.10  24.00        85027
 16206 2020-10-31  32.40  24.60        85027
 16207 2020-11-01  31.10  23.40        85027
 16208 2020-11-02  32.30  23.80        85027
 16209 2020-11-03  30.60  24.10        85027

 [16210 rows x 4 columns],
           FECHA   MAX   MIN ESTACION_NEW
 0    2015-05-07  32.2  24.7        86013
 1    2015-05-08  32.9  25.1        86013
 2    2015-05-09  32.8  24.8        86013
 3    2015-05-10  33.2  24.8        86013
 4    2015-05-11  32.5  24.0        86013
 ...         ...   ...   ...          ...
 2767 2022-12-18  31.7  23.7        86013
 2768 2022-12-19  32.3  22.2        86013
 2769 2022-12-20  29.5  21.7        86013
 2770 2022-12-21  30.5  22.1        86013
 2771 2022-12-22  31.4  23.6        86013

 [2772 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  28.84  22.74        87013
 1    2002-01-02  31.31  22.68        87013
 2    2002-01-03  29.34  23.11        87013
 3    2002-01-04  30.65  22.39        87013
 4    2002-01-05  32.31  21.82        87013
 ...         ...    ...    ...          ...
 6473 2022-12-27  31.60  20.10        87013
 6474 2022-12-28  32.00  19.60        87013
 6475 2022-12-29  31.70  20.90        87013
 6476 2022-12-30  30.40  21.50        87013
 6477 2022-12-31  29.80  19.60        87013

 [6478 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  23.82  16.14        88035
 1     2002-01-02  22.41  14.92        88035
 2     2002-01-03  25.51  15.46        88035
 3     2002-01-04  20.32  14.11        88035
 4     2002-01-05  20.90  14.38        88035
 ...          ...    ...    ...          ...
 15764 2022-12-02  25.60  17.20        88055
 15765 2022-12-03  26.30  16.20        88055
 15766 2022-12-04  24.70  14.40        88055
 15767 2022-12-05  25.20  15.30        88055
 15768 2022-12-06  26.50  14.90        88055

 [15769 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2014-03-13  30.75  26.22        90015
 1    2014-03-14  30.86  24.61        90015
 2    2014-03-15  30.38  25.76        90015
 3    2014-03-16  30.83  25.73        90015
 4    2014-03-17  30.39  26.02        90015
 ...         ...    ...    ...          ...
 2976 2022-11-13  26.10  21.50        90015
 2977 2022-11-14  25.80  21.70        90015
 2978 2022-11-15  26.60  21.50        90015
 2979 2022-11-16  27.80  22.40        90015
 2980 2022-11-17  27.00  22.50        90015

 [2981 rows x 4 columns],
           FECHA    MAX   MIN ESTACION_NEW
 0    2012-02-01  10.92  0.92        94013
 1    2012-02-02  10.12  1.94        94013
 2    2012-02-03  12.59  3.21        94013
 3    2012-02-04  13.09  4.50        94013
 4    2012-02-05  14.97  4.94        94013
 ...         ...    ...   ...          ...
 8231 2022-12-27  11.80  4.00        94019
 8232 2022-12-28  13.80  2.90        94019
 8233 2022-12-29  14.20  4.60        94019
 8234 2022-12-30  12.60  5.30        94019
 8235 2022-12-31  10.60  2.80        94019

 [8236 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2013-05-28  31.78  23.20        96003
 1    2013-05-29  30.92  22.12        96003
 2    2013-05-30  31.93  22.41        96003
 3    2013-05-31  30.39  21.85        96003
 4    2013-06-01  30.87  23.57        96003
 ...         ...    ...    ...          ...
 3267 2022-11-06  28.70  22.20        96003
 3268 2022-11-07  26.50  22.40        96003
 3269 2022-11-08  27.20  22.70        96003
 3270 2022-11-09  29.10  22.10        96003
 3271 2022-11-10  27.90  22.50        96003

 [3272 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  22.09  16.71        98075
 1     2002-01-02  26.98  16.74        98075
 2     2002-01-03  25.52  17.53        98075
 3     2002-01-04  25.66  16.01        98075
 4     2002-01-05  27.67  18.29        98075
 ...          ...    ...    ...          ...
 40836 2022-11-06  24.00  17.50        98109
 40837 2022-11-07  24.00  18.00        98109
 40838 2022-11-08  22.70  17.80        98109
 40839 2022-11-09  26.20  18.20        98109
 40840 2022-11-10  23.70  17.40        98109

 [40841 rows x 4 columns]]

## Agrupar datos por estación

In [ ]:
# Agrupar las filas según los valores de la columna "ESTACION_NEW"
my_list = list(range(0, 22))
porestacion=[]
for i in my_list:
    grupos = data_new[i].groupby('ESTACION_NEW')

    # Crear una tabla separada para cada grupo segun 'ESTACION_NEW'
    for ESTACION, grupo in grupos:
        # Obtener el DataFrame correspondiente a cada grupo
        tabla = grupos.get_group(ESTACION)
        porestacion.append(tabla) #Adjuntar los valores

* Obtener el número de cada estación

In [ ]:
NUMERO = porestacion.copy()
for i, df in enumerate(NUMERO):
    NUMERO[i] = NUMERO[i].iloc[0,3]

## Guardar un archivo por cada estación

Crear nombre para cada archivo

In [ ]:
ESTACION = NUMERO.copy()
for i, df in enumerate(ESTACION):
    ESTACION[i] = 'Estacion' + NUMERO[i]

* Guardar cada tabla de cada estación en un CSV diferente

In [ ]:
#Guardar cada tabla de cada estación en un CSV diferente
my_list = list(range(0, 154))
for a, i in zip(ESTACION,my_list):
    porestacion[i].to_csv(f'{a}.csv', index=True)

## Obtener fecha inicial y final de cada estación

In [ ]:
for i, df in enumerate(porestacion):
    porestacion[i] = porestacion[i].set_index('FECHA')

In [ ]:
# Encontrar los valores de inicio y final de las fechas
my_list = list(range(0, 154))
porestacion_new=[]
for i in my_list:
    fecha_inicial = porestacion[i].index.min()
    fecha_final = porestacion[i].index.max()
    name = NUMERO[i]
    porestacion_new.append((fecha_inicial,fecha_final, name))

* Guardar el rango de fechas en un archivo .txt

In [ ]:
# Abrir el archivo en modo escritura
with open("rango_fechas.txt", "w") as archivo:
    # Escribir la lista en el archivo
    for valor in porestacion_new:
        archivo.write(str(valor) + "\n")

## Obtener los estadisticos

In [ ]:
#Eliminar las columnas que no se necesitan
for i, df in enumerate(porestacion):
    porestacion[i].pop('ESTACION_NEW')

* Separar los datos por temperatura maxima, minima y promedio

In [ ]:
TempMAX=[]
TempMIN=[]

for tabla in porestacion:
    columna1 = tabla.iloc[:, 0]
    columna2 = tabla.iloc[:, 1]
    TempMAX.append(columna1)
    TempMIN.append(columna2)

In [ ]:
type(TempMAX[0])

pandas.core.series.Series

* Crear una lista de las temperaturas Maxima, Minima y Promedio

In [ ]:
#Crear una lista vacía llamada lista_de_listas_de_tablas
lista_de_listas_de_tablas = []

# Agregar las dos listas de tablas a la lista_de_listas_de_tablas
lista_de_listas_de_tablas.append(TempMAX)
lista_de_listas_de_tablas.append(TempMIN)

* Obtener los estadisticos mean, max y min, de cada T(prom, max, min) y cada estación

In [ ]:
# Creamos una lista vacía para almacenar los resultados
lista_resultados = []

# Iteramos a través de cada lista en la lista de listas de tablas
for lista_tablas in lista_de_listas_de_tablas:
    # Creamos una lista vacía para almacenar los resultados de esta lista de tablas
    lista_resultados_tablas = []
    # Iteramos a través de cada tabla en la lista de tablas
    for tabla in lista_tablas:
        # Agrupamos los datos por día y mes y calculamos la media, el máximo y el mínimo
        tabla_agrupada = tabla.groupby(tabla.index.strftime("%m%d")).agg(['mean', 'max', 'min'])
        # Agregamos la tabla agrupada a la lista de resultados para esta lista de tablas
        lista_resultados_tablas.append(tabla_agrupada)
    # Agregamos la lista de resultados para esta lista de tablas a la lista de resultados general
    lista_resultados.append(lista_resultados_tablas)

* Ahora separamos los datos, cada columna la convertimos en una tabla diferente
* Ejemplo de la columna mean saldran 3 tablas (mean.prom, mean.max y mean.min)

In [ ]:
# Lista de columnas a procesar
columnas = ['mean', 'max', 'min']

# Lista de listas de tablas vacía para cada columna
lista_nueva = [[] for i in range(len(columnas))]

# Bucle para iterar sobre cada columna
for i, col in enumerate(columnas):
    # Lista de listas de tablas vacía para la columna actual
    lista_col = []
    # Bucle para iterar sobre cada tabla de la lista original
    for lista_tablas in lista_resultados:
        # Lista de tablas vacía para la tabla actual
        lista_tabla_nueva = []
        # Bucle para iterar sobre cada tabla de la lista original
        for tabla in lista_tablas:
            # Selección de la columna actual y creación de una nueva tabla
            tabla_nueva = tabla[[col]]
            # Agregar la nueva tabla a la lista de tablas para la tabla actual
            lista_tabla_nueva.append(tabla_nueva)
        # Agregar la lista de tablas para la tabla actual a la lista de listas de tablas para la columna actual
        lista_col.append(lista_tabla_nueva)
    # Agregar la lista de listas de tablas para la columna actual a la lista de listas de tablas para todas las columnas
    lista_nueva[i] = lista_col

* Se selecciona solo la columna que necesitamos, para que la fecha no cause problemas

In [ ]:
# Iterar sobre cada lista en la lista principal
lista_de_listas_de_columnas = []
for lista_de_tablas in lista_nueva:
    listas_de_columnas = []
    for lista in lista_de_tablas:
        columnas = []
        for tabla in lista:
            df = tabla.iloc[:, 0]
            columnas.append(df)
        listas_de_columnas.append(columnas)
    lista_de_listas_de_columnas.append(listas_de_columnas)

* Volvemos un dataframe cada estadistico.T(prom, max, min) y luego transponemos cada dataframe

In [ ]:
# Creamos una lista vacía para almacenar los nuevos DataFrames
lista_de_dataframes = []

# Recorremos cada lista en la lista de listas de listas de tablas
for lista_de_listas_de_tablas in lista_de_listas_de_columnas:
    
    # Creamos una lista vacía para almacenar los nuevos DataFrames de esta lista
    lista_de_dataframes_de_esta_lista = []
    
    # Recorremos cada tabla dentro de cada lista
    for tabla in lista_de_listas_de_tablas:
        
        # Convertimos la tabla en un DataFrame y la transponemos
        df = pd.DataFrame(tabla).transpose()
        
        # Agregamos el nuevo DataFrame a la lista de DataFrames de esta lista
        lista_de_dataframes_de_esta_lista.append(df)
    
    # Agregamos la lista de DataFrames de esta lista a la lista general
    lista_de_dataframes.append(lista_de_dataframes_de_esta_lista)

* Renombrar las columnas

In [ ]:
# Cambiar los nombres de las columnas en cada DataFrame
for lista in lista_de_dataframes:
    for df in lista:
        df.columns = NUMERO

## Guardar estadisticos en excel

In [ ]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Diaria_Observada_Temperatura_20230429.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
lista_de_dataframes[0][0].to_excel(writer, sheet_name='mean_tmax', index=True)
lista_de_dataframes[1][0].to_excel(writer, sheet_name='max_tmax', index=True)
lista_de_dataframes[2][0].to_excel(writer, sheet_name='min_tmax', index=True)
lista_de_dataframes[0][1].to_excel(writer, sheet_name='mean_tmin', index=True)
lista_de_dataframes[1][1].to_excel(writer, sheet_name='max_tmin', index=True)
lista_de_dataframes[2][1].to_excel(writer, sheet_name='min_tmin', index=True)

# Guardar el archivo Excel
writer.save()

## Abrir lista de estaciones

In [ ]:
#Cargar la lista de estaciones que contienen el rango de fechas
estaciones = pd.read_excel(r'/Users/arias/OneDrive/Documentos/UCR/TFG/Datos/Observada/Temperatura/Lista de estaciones.xlsx')

In [ ]:
estaciones

,NUMERO,NOMBRE,LATITUD NORTE,LONGITUD OESTE,ALTITUD (msnm),INICIO,FINAL,ESTACION
0,100633,FINCA EL PATIO. PUERTO JIMENEZ,"08º 36' 04.6""","83º25'52.2""",24,2003-10-17,2022-12-31,100633
1,100641,COOPEAGROPAL. LAUREL .,"08º 28' 17.6""","82º51'38.4""",38,2007-03-11,2022-12-31,100641
2,100643,RIO CLARO,"08º 40' 26.5""","83º03'43.2""",51,2009-11-25,2022-12-31,100643
3,100649,FUNDACION NEOTROPICA. RINCON DE OSA,"08º 42' 2.9""","83º30'49.4""",80,2013-01-29,2022-11-10,100649
4,100651,COTO 49. CIUDAD NEILY,"08º 37' 52.3""","82º58'00.7""",30,2013-05-17,2022-12-31,100651
...,...,...,...,...,...,...,...,...
149,98095,ALTAMIRA,"09º 01' 45.7""","83º00'28.7""",1370,2002-01-01,2022-12-31,98095
150,98097,MONTECARLO. PZ,"09º 21' 28""","83º36'03""",1005,2008-06-18,2022-12-31,98097
151,98105,PLANTA DE VOLCAN. BUENOS AIRES,"09º 12' 15""","83º27'2.49""",416,2013-11-22,2022-12-07,98105
152,98107,CAFETALERA EL INDIO. SAN VITO. PUNTARENAS,"08º 49' 57.9""","82º57'10.5""",1027,2016-12-16,2022-11-10,98107
153,98109,CAFETALES GIRO. SAN VITO PUNTARENAS,"08º49'05.1""","82º58'16.4""",1026,2017-12-09,2022-11-10,98109