In [1]:
import glob
import pandas as pd

In [2]:
# Criterios de coincidencia de patrones para archivos de Excel en el directorio
filenames = 'Cuenca*.xlsx'

In [3]:
# Crea un diccionario vacío para almacenar los datos de cada archivo
dat = {}

# Recorra cada archivo de Excel que coincida con el patrón y lea sus datos en un marco de datos de pandas
for file in glob.glob(filenames):
    dat[file] = pd.read_excel(file)

In [4]:
# Access the data from each file using its file name as the key in the data_dict
data_new = []

for file, data in dat.items():
    data_new.append(data)

In [6]:
# Definir una función para aplicar a los datos y en la columna 'ESTACION' todos los valores tengan 3 digitos
for i, df in enumerate(data_new):
    def formatear_valor(valor):
        if valor < 10:
            return '00' + str(valor)
        elif valor < 100:
            return '0' + str(valor)
        else:
            return str(valor)

    # Aplicar la función a la tabla
    data_new[i]['ESTACION'] = data_new[i]['ESTACION'].apply(formatear_valor)

In [7]:
data_new

[       CUENCA ESTACION      FECHA    MAX    MIN
 0         100      633 2003-10-17  30.37  22.96
 1         100      633 2003-10-18  31.28  24.03
 2         100      633 2003-10-19  26.45  23.46
 3         100      633 2003-10-20  25.54  23.43
 4         100      633 2003-10-21  27.59  23.50
 ...       ...      ...        ...    ...    ...
 29327     100      655 2022-12-27  32.90  22.70
 29328     100      655 2022-12-28  31.50  22.50
 29329     100      655 2022-12-29  31.80  22.80
 29330     100      655 2022-12-30  32.70  23.10
 29331     100      655 2022-12-31  32.60  22.00

 [29332 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0        200      002 2002-01-01  28.76  23.30
 1        200      002 2002-01-02  28.85  23.93
 2        200      002 2002-01-03  26.98  23.89
 3        200      002 2002-01-04  28.69  22.63
 4        200      002 2002-01-05  28.69  22.87
 ...      ...      ...        ...    ...    ...
 6977     200      009 2018-03-04  30.90  21.60
 6978     200      009 2018-03-05  32.20  22.30
 6979     200      009 2018-03-06  32.50  22.80
 6980     200      009 2018-03-07  30.80  23.80
 6981     200      009 2018-03-08  31.40  23.40

 [6982 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          69      633 2002-01-01  30.57  23.33
 1          69      633 2002-01-02  30.12  22.43
 2          69      633 2002-01-03  31.15  22.53
 3          69      633 2002-01-04  29.14  22.56
 4          69      633 2002-01-05  26.01  21.73
 ...       ...      ...        ...    ...    ...
 94209      69      749 2022-12-27  23.30  18.00
 94210      69      749 2022-12-28  23.00  17.70
 94211      69      749 2022-12-29  25.40  17.80
 94212      69      749 2022-12-30  24.60  18.30
 94213      69      749 2022-12-31  23.60  15.90

 [94214 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         71      015 2002-01-01  31.88  22.32
 1         71      015 2002-01-02  31.25  22.86
 2         71      015 2002-01-03  31.61  23.29
 3         71      015 2002-01-04  29.63  22.22
 4         71      015 2002-01-05  29.30  22.06
 ...      ...      ...        ...    ...    ...
 8577      71      023 2022-07-04  27.30  23.30
 8578      71      023 2022-07-05  26.50  23.30
 8579      71      023 2022-07-06  29.10  23.90
 8580      71      023 2022-07-07  29.50  23.40
 8581      71      023 2022-07-08  31.40  23.20

 [8582 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          72      149 2004-03-24  35.41  27.00
 1          72      149 2004-03-25  36.96  26.70
 2          72      149 2004-03-26  36.01  25.39
 3          72      149 2004-03-27  36.65  25.41
 4          72      149 2004-03-28  36.12  25.63
 ...       ...      ...        ...    ...    ...
 53909      72      195 2022-11-26  26.00  21.30
 53910      72      195 2022-11-27  25.10  21.60
 53911      72      195 2022-11-28  23.40  21.70
 53912      72      195 2022-11-29  26.90  21.70
 53913      72      195 2022-11-30  29.10  21.10

 [53914 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          73      123 2002-01-01  24.01  16.92
 1          73      123 2002-01-02  23.24  15.67
 2          73      123 2002-01-03  24.61  16.19
 3          73      123 2002-01-04  20.98  14.97
 4          73      123 2002-01-05  21.23  15.10
 ...       ...      ...        ...    ...    ...
 65877      73      171 2022-12-27  22.20  11.20
 65878      73      171 2022-12-28  24.20  12.20
 65879      73      171 2022-12-29  24.20  15.60
 65880      73      171 2022-12-30  24.10  16.10
 65881      73      171 2022-12-31  23.30  13.00

 [65882 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          74      051 2002-01-01  35.46  22.10
 1          74      051 2002-01-02  33.99  20.08
 2          74      051 2002-01-03  34.64  21.18
 3          74      051 2002-01-04  33.92  22.40
 4          74      051 2002-01-05  31.37  21.38
 ...       ...      ...        ...    ...    ...
 38197      74      083 2022-11-18  31.50  23.90
 38198      74      083 2022-11-19  32.10  20.70
 38199      74      083 2022-11-20  29.50  22.60
 38200      74      083 2022-11-21  30.30  20.60
 38201      74      083 2022-11-22  30.60  22.50

 [38202 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          76      055 2002-01-01  33.76  24.11
 1          76      055 2002-01-02  33.10  23.84
 2          76      055 2002-01-03  33.37  24.24
 3          76      055 2002-01-04  31.89  23.25
 4          76      055 2002-01-05  28.80  23.58
 ...       ...      ...        ...    ...    ...
 18009      76      067 2022-11-01  27.00  19.20
 18010      76      067 2022-11-02  27.70  18.70
 18011      76      067 2022-11-03  27.80  19.00
 18012      76      067 2022-11-04  25.80  19.60
 18013      76      067 2022-11-05  23.50  20.10

 [18014 rows x 5 columns],
        CUENCA ESTACION      FECHA   MAX    MIN
 0          78      027 2002-01-01  30.1  25.80
 1          78      027 2002-01-02  32.2  24.78
 2          78      027 2002-01-03  30.0  25.90
 3          78      027 2002-01-04  32.3  25.56
 4          78      027 2002-01-05  30.1  24.28
 ...       ...      ...        ...   ...    ...
 13456      78      035 2022-12-27  33.0  23.30
 13457      78      035 2022-12-28  32.0  22.70
 13458      78      035 2022-12-29  34.6  24.20
 13459      78      035 2022-12-30  35.5  23.70
 13460      78      035 2022-12-31  32.4  23.70

 [13461 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         80      013 2014-08-20  23.97  23.01
 1         80      013 2014-08-24  32.31  21.81
 2         80      013 2014-08-25  30.33  22.67
 3         80      013 2014-08-26  32.52  22.72
 4         80      013 2014-08-27  32.01  22.49
 ...      ...      ...        ...    ...    ...
 2754      80      013 2022-11-04  29.60  23.20
 2755      80      013 2022-11-05  28.90  22.30
 2756      80      013 2022-11-06  26.50  22.10
 2757      80      013 2022-11-07  25.80  22.40
 2758      80      013 2022-11-08  25.80  21.50

 [2759 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         81      005 2002-01-01  30.28  23.34
 1         81      005 2002-01-02  30.32  22.57
 2         81      005 2002-01-03  30.15  23.20
 3         81      005 2002-01-04  29.69  22.61
 4         81      005 2002-01-05  29.52  21.91
 ...      ...      ...        ...    ...    ...
 9804      81      013 2022-07-07  26.90  16.90
 9805      81      013 2022-07-08  27.90  17.30
 9806      81      013 2022-07-09  27.30  18.00
 9807      81      013 2022-07-10  24.20  17.20
 9808      81      013 2022-07-11  27.10  20.00

 [9809 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          82      011 2012-11-22  29.65  20.51
 1          82      011 2012-11-23  31.06  19.16
 2          82      011 2012-11-24  33.76  19.51
 3          82      011 2012-11-25  32.25  19.16
 4          82      011 2012-11-26  31.36  20.91
 ...       ...      ...        ...    ...    ...
 13732      82      019 2022-12-27  32.20  19.00
 13733      82      019 2022-12-28  31.90  17.80
 13734      82      019 2022-12-29  31.90  19.10
 13735      82      019 2022-12-30  31.80  19.80
 13736      82      019 2022-12-31  32.20  18.50

 [13737 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         83      007 2013-09-12  28.16  22.14
 1         83      007 2013-09-13  30.97  21.05
 2         83      007 2013-09-14  31.55  22.76
 3         83      007 2013-09-15  32.23  22.21
 4         83      007 2013-09-16  33.29  22.62
 ...      ...      ...        ...    ...    ...
 3022      83      007 2022-10-29  30.70  22.10
 3023      83      007 2022-10-30  31.70  20.80
 3024      83      007 2022-10-31  31.80  19.40
 3025      83      007 2022-11-01  32.10  20.50
 3026      83      007 2022-11-02  31.60  20.10

 [3027 rows x 5 columns],
         CUENCA ESTACION      FECHA    MAX    MIN
 0           84      139 2002-01-01  26.69  17.52
 1           84      139 2002-01-02  24.88  15.77
 2           84      139 2002-01-03  26.84  17.80
 3           84      139 2002-01-04  22.07  16.04
 4           84      139 2002-01-05  22.96  15.83
 ...        ...      ...        ...    ...    ...
 123966      84      295 2022-12-27  31.20  14.70
 123967      84      295 2022-12-28  32.00  14.70
 123968      84      295 2022-12-29  31.20  16.20
 123969      84      295 2022-12-30  31.90  16.70
 123970      84      295 2022-12-31  28.60  14.40

 [123971 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          85      021 2002-01-01  28.64  21.72
 1          85      021 2002-01-02  30.87  21.30
 2          85      021 2002-01-03  30.44  21.95
 3          85      021 2002-01-04  29.80  21.29
 4          85      021 2002-01-05  31.77  20.90
 ...       ...      ...        ...    ...    ...
 16205      85      027 2020-10-30  32.10  24.00
 16206      85      027 2020-10-31  32.40  24.60
 16207      85      027 2020-11-01  31.10  23.40
 16208      85      027 2020-11-02  32.30  23.80
 16209      85      027 2020-11-03  30.60  24.10

 [16210 rows x 5 columns],
       CUENCA ESTACION      FECHA   MAX   MIN
 0         86      013 2015-05-07  32.2  24.7
 1         86      013 2015-05-08  32.9  25.1
 2         86      013 2015-05-09  32.8  24.8
 3         86      013 2015-05-10  33.2  24.8
 4         86      013 2015-05-11  32.5  24.0
 ...      ...      ...        ...   ...   ...
 2767      86      013 2022-12-18  31.7  23.7
 2768      86      013 2022-12-19  32.3  22.2
 2769      86      013 2022-12-20  29.5  21.7
 2770      86      013 2022-12-21  30.5  22.1
 2771      86      013 2022-12-22  31.4  23.6

 [2772 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         87      013 2002-01-01  28.84  22.74
 1         87      013 2002-01-02  31.31  22.68
 2         87      013 2002-01-03  29.34  23.11
 3         87      013 2002-01-04  30.65  22.39
 4         87      013 2002-01-05  32.31  21.82
 ...      ...      ...        ...    ...    ...
 6473      87      013 2022-12-27  31.60  20.10
 6474      87      013 2022-12-28  32.00  19.60
 6475      87      013 2022-12-29  31.70  20.90
 6476      87      013 2022-12-30  30.40  21.50
 6477      87      013 2022-12-31  29.80  19.60

 [6478 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          88      035 2002-01-01  23.82  16.14
 1          88      035 2002-01-02  22.41  14.92
 2          88      035 2002-01-03  25.51  15.46
 3          88      035 2002-01-04  20.32  14.11
 4          88      035 2002-01-05  20.90  14.38
 ...       ...      ...        ...    ...    ...
 15764      88      055 2022-12-02  25.60  17.20
 15765      88      055 2022-12-03  26.30  16.20
 15766      88      055 2022-12-04  24.70  14.40
 15767      88      055 2022-12-05  25.20  15.30
 15768      88      055 2022-12-06  26.50  14.90

 [15769 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         90      015 2014-03-13  30.75  26.22
 1         90      015 2014-03-14  30.86  24.61
 2         90      015 2014-03-15  30.38  25.76
 3         90      015 2014-03-16  30.83  25.73
 4         90      015 2014-03-17  30.39  26.02
 ...      ...      ...        ...    ...    ...
 2976      90      015 2022-11-13  26.10  21.50
 2977      90      015 2022-11-14  25.80  21.70
 2978      90      015 2022-11-15  26.60  21.50
 2979      90      015 2022-11-16  27.80  22.40
 2980      90      015 2022-11-17  27.00  22.50

 [2981 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX   MIN
 0         94      013 2012-02-01  10.92  0.92
 1         94      013 2012-02-02  10.12  1.94
 2         94      013 2012-02-03  12.59  3.21
 3         94      013 2012-02-04  13.09  4.50
 4         94      013 2012-02-05  14.97  4.94
 ...      ...      ...        ...    ...   ...
 8231      94      019 2022-12-27  11.80  4.00
 8232      94      019 2022-12-28  13.80  2.90
 8233      94      019 2022-12-29  14.20  4.60
 8234      94      019 2022-12-30  12.60  5.30
 8235      94      019 2022-12-31  10.60  2.80

 [8236 rows x 5 columns],
       CUENCA ESTACION      FECHA    MAX    MIN
 0         96      003 2013-05-28  31.78  23.20
 1         96      003 2013-05-29  30.92  22.12
 2         96      003 2013-05-30  31.93  22.41
 3         96      003 2013-05-31  30.39  21.85
 4         96      003 2013-06-01  30.87  23.57
 ...      ...      ...        ...    ...    ...
 3267      96      003 2022-11-06  28.70  22.20
 3268      96      003 2022-11-07  26.50  22.40
 3269      96      003 2022-11-08  27.20  22.70
 3270      96      003 2022-11-09  29.10  22.10
 3271      96      003 2022-11-10  27.90  22.50

 [3272 rows x 5 columns],
        CUENCA ESTACION      FECHA    MAX    MIN
 0          98      075 2002-01-01  22.09  16.71
 1          98      075 2002-01-02  26.98  16.74
 2          98      075 2002-01-03  25.52  17.53
 3          98      075 2002-01-04  25.66  16.01
 4          98      075 2002-01-05  27.67  18.29
 ...       ...      ...        ...    ...    ...
 40836      98      109 2022-11-06  24.00  17.50
 40837      98      109 2022-11-07  24.00  18.00
 40838      98      109 2022-11-08  22.70  17.80
 40839      98      109 2022-11-09  26.20  18.20
 40840      98      109 2022-11-10  23.70  17.40

 [40841 rows x 5 columns]]

In [8]:
#Unir el numero de 'CUENCA' con 'ESTACION' para tener el numero de cada estacion
for i, df in enumerate(data_new):
    data_new[i]['ESTACION_NEW'] = data_new[i]['CUENCA'].astype(str) + data_new[i]['ESTACION'].astype(str)

In [9]:
#Eliminar las columnas que no son necesarias
for i, df in enumerate(data_new):
    data_new[i].pop('CUENCA')
    data_new[i].pop('ESTACION')

In [11]:
data_new

[           FECHA    MAX    MIN ESTACION_NEW
 0     2003-10-17  30.37  22.96       100633
 1     2003-10-18  31.28  24.03       100633
 2     2003-10-19  26.45  23.46       100633
 3     2003-10-20  25.54  23.43       100633
 4     2003-10-21  27.59  23.50       100633
 ...          ...    ...    ...          ...
 29327 2022-12-27  32.90  22.70       100655
 29328 2022-12-28  31.50  22.50       100655
 29329 2022-12-29  31.80  22.80       100655
 29330 2022-12-30  32.70  23.10       100655
 29331 2022-12-31  32.60  22.00       100655

 [29332 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  28.76  23.30       200002
 1    2002-01-02  28.85  23.93       200002
 2    2002-01-03  26.98  23.89       200002
 3    2002-01-04  28.69  22.63       200002
 4    2002-01-05  28.69  22.87       200002
 ...         ...    ...    ...          ...
 6977 2018-03-04  30.90  21.60       200009
 6978 2018-03-05  32.20  22.30       200009
 6979 2018-03-06  32.50  22.80       200009
 6980 2018-03-07  30.80  23.80       200009
 6981 2018-03-08  31.40  23.40       200009

 [6982 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  30.57  23.33        69633
 1     2002-01-02  30.12  22.43        69633
 2     2002-01-03  31.15  22.53        69633
 3     2002-01-04  29.14  22.56        69633
 4     2002-01-05  26.01  21.73        69633
 ...          ...    ...    ...          ...
 94209 2022-12-27  23.30  18.00        69749
 94210 2022-12-28  23.00  17.70        69749
 94211 2022-12-29  25.40  17.80        69749
 94212 2022-12-30  24.60  18.30        69749
 94213 2022-12-31  23.60  15.90        69749

 [94214 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  31.88  22.32        71015
 1    2002-01-02  31.25  22.86        71015
 2    2002-01-03  31.61  23.29        71015
 3    2002-01-04  29.63  22.22        71015
 4    2002-01-05  29.30  22.06        71015
 ...         ...    ...    ...          ...
 8577 2022-07-04  27.30  23.30        71023
 8578 2022-07-05  26.50  23.30        71023
 8579 2022-07-06  29.10  23.90        71023
 8580 2022-07-07  29.50  23.40        71023
 8581 2022-07-08  31.40  23.20        71023

 [8582 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2004-03-24  35.41  27.00        72149
 1     2004-03-25  36.96  26.70        72149
 2     2004-03-26  36.01  25.39        72149
 3     2004-03-27  36.65  25.41        72149
 4     2004-03-28  36.12  25.63        72149
 ...          ...    ...    ...          ...
 53909 2022-11-26  26.00  21.30        72195
 53910 2022-11-27  25.10  21.60        72195
 53911 2022-11-28  23.40  21.70        72195
 53912 2022-11-29  26.90  21.70        72195
 53913 2022-11-30  29.10  21.10        72195

 [53914 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  24.01  16.92        73123
 1     2002-01-02  23.24  15.67        73123
 2     2002-01-03  24.61  16.19        73123
 3     2002-01-04  20.98  14.97        73123
 4     2002-01-05  21.23  15.10        73123
 ...          ...    ...    ...          ...
 65877 2022-12-27  22.20  11.20        73171
 65878 2022-12-28  24.20  12.20        73171
 65879 2022-12-29  24.20  15.60        73171
 65880 2022-12-30  24.10  16.10        73171
 65881 2022-12-31  23.30  13.00        73171

 [65882 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  35.46  22.10        74051
 1     2002-01-02  33.99  20.08        74051
 2     2002-01-03  34.64  21.18        74051
 3     2002-01-04  33.92  22.40        74051
 4     2002-01-05  31.37  21.38        74051
 ...          ...    ...    ...          ...
 38197 2022-11-18  31.50  23.90        74083
 38198 2022-11-19  32.10  20.70        74083
 38199 2022-11-20  29.50  22.60        74083
 38200 2022-11-21  30.30  20.60        74083
 38201 2022-11-22  30.60  22.50        74083

 [38202 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  33.76  24.11        76055
 1     2002-01-02  33.10  23.84        76055
 2     2002-01-03  33.37  24.24        76055
 3     2002-01-04  31.89  23.25        76055
 4     2002-01-05  28.80  23.58        76055
 ...          ...    ...    ...          ...
 18009 2022-11-01  27.00  19.20        76067
 18010 2022-11-02  27.70  18.70        76067
 18011 2022-11-03  27.80  19.00        76067
 18012 2022-11-04  25.80  19.60        76067
 18013 2022-11-05  23.50  20.10        76067

 [18014 rows x 4 columns],
            FECHA   MAX    MIN ESTACION_NEW
 0     2002-01-01  30.1  25.80        78027
 1     2002-01-02  32.2  24.78        78027
 2     2002-01-03  30.0  25.90        78027
 3     2002-01-04  32.3  25.56        78027
 4     2002-01-05  30.1  24.28        78027
 ...          ...   ...    ...          ...
 13456 2022-12-27  33.0  23.30        78035
 13457 2022-12-28  32.0  22.70        78035
 13458 2022-12-29  34.6  24.20        78035
 13459 2022-12-30  35.5  23.70        78035
 13460 2022-12-31  32.4  23.70        78035

 [13461 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2014-08-20  23.97  23.01        80013
 1    2014-08-24  32.31  21.81        80013
 2    2014-08-25  30.33  22.67        80013
 3    2014-08-26  32.52  22.72        80013
 4    2014-08-27  32.01  22.49        80013
 ...         ...    ...    ...          ...
 2754 2022-11-04  29.60  23.20        80013
 2755 2022-11-05  28.90  22.30        80013
 2756 2022-11-06  26.50  22.10        80013
 2757 2022-11-07  25.80  22.40        80013
 2758 2022-11-08  25.80  21.50        80013

 [2759 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  30.28  23.34        81005
 1    2002-01-02  30.32  22.57        81005
 2    2002-01-03  30.15  23.20        81005
 3    2002-01-04  29.69  22.61        81005
 4    2002-01-05  29.52  21.91        81005
 ...         ...    ...    ...          ...
 9804 2022-07-07  26.90  16.90        81013
 9805 2022-07-08  27.90  17.30        81013
 9806 2022-07-09  27.30  18.00        81013
 9807 2022-07-10  24.20  17.20        81013
 9808 2022-07-11  27.10  20.00        81013

 [9809 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2012-11-22  29.65  20.51        82011
 1     2012-11-23  31.06  19.16        82011
 2     2012-11-24  33.76  19.51        82011
 3     2012-11-25  32.25  19.16        82011
 4     2012-11-26  31.36  20.91        82011
 ...          ...    ...    ...          ...
 13732 2022-12-27  32.20  19.00        82019
 13733 2022-12-28  31.90  17.80        82019
 13734 2022-12-29  31.90  19.10        82019
 13735 2022-12-30  31.80  19.80        82019
 13736 2022-12-31  32.20  18.50        82019

 [13737 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2013-09-12  28.16  22.14        83007
 1    2013-09-13  30.97  21.05        83007
 2    2013-09-14  31.55  22.76        83007
 3    2013-09-15  32.23  22.21        83007
 4    2013-09-16  33.29  22.62        83007
 ...         ...    ...    ...          ...
 3022 2022-10-29  30.70  22.10        83007
 3023 2022-10-30  31.70  20.80        83007
 3024 2022-10-31  31.80  19.40        83007
 3025 2022-11-01  32.10  20.50        83007
 3026 2022-11-02  31.60  20.10        83007

 [3027 rows x 4 columns],
             FECHA    MAX    MIN ESTACION_NEW
 0      2002-01-01  26.69  17.52        84139
 1      2002-01-02  24.88  15.77        84139
 2      2002-01-03  26.84  17.80        84139
 3      2002-01-04  22.07  16.04        84139
 4      2002-01-05  22.96  15.83        84139
 ...           ...    ...    ...          ...
 123966 2022-12-27  31.20  14.70        84295
 123967 2022-12-28  32.00  14.70        84295
 123968 2022-12-29  31.20  16.20        84295
 123969 2022-12-30  31.90  16.70        84295
 123970 2022-12-31  28.60  14.40        84295

 [123971 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  28.64  21.72        85021
 1     2002-01-02  30.87  21.30        85021
 2     2002-01-03  30.44  21.95        85021
 3     2002-01-04  29.80  21.29        85021
 4     2002-01-05  31.77  20.90        85021
 ...          ...    ...    ...          ...
 16205 2020-10-30  32.10  24.00        85027
 16206 2020-10-31  32.40  24.60        85027
 16207 2020-11-01  31.10  23.40        85027
 16208 2020-11-02  32.30  23.80        85027
 16209 2020-11-03  30.60  24.10        85027

 [16210 rows x 4 columns],
           FECHA   MAX   MIN ESTACION_NEW
 0    2015-05-07  32.2  24.7        86013
 1    2015-05-08  32.9  25.1        86013
 2    2015-05-09  32.8  24.8        86013
 3    2015-05-10  33.2  24.8        86013
 4    2015-05-11  32.5  24.0        86013
 ...         ...   ...   ...          ...
 2767 2022-12-18  31.7  23.7        86013
 2768 2022-12-19  32.3  22.2        86013
 2769 2022-12-20  29.5  21.7        86013
 2770 2022-12-21  30.5  22.1        86013
 2771 2022-12-22  31.4  23.6        86013

 [2772 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2002-01-01  28.84  22.74        87013
 1    2002-01-02  31.31  22.68        87013
 2    2002-01-03  29.34  23.11        87013
 3    2002-01-04  30.65  22.39        87013
 4    2002-01-05  32.31  21.82        87013
 ...         ...    ...    ...          ...
 6473 2022-12-27  31.60  20.10        87013
 6474 2022-12-28  32.00  19.60        87013
 6475 2022-12-29  31.70  20.90        87013
 6476 2022-12-30  30.40  21.50        87013
 6477 2022-12-31  29.80  19.60        87013

 [6478 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  23.82  16.14        88035
 1     2002-01-02  22.41  14.92        88035
 2     2002-01-03  25.51  15.46        88035
 3     2002-01-04  20.32  14.11        88035
 4     2002-01-05  20.90  14.38        88035
 ...          ...    ...    ...          ...
 15764 2022-12-02  25.60  17.20        88055
 15765 2022-12-03  26.30  16.20        88055
 15766 2022-12-04  24.70  14.40        88055
 15767 2022-12-05  25.20  15.30        88055
 15768 2022-12-06  26.50  14.90        88055

 [15769 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2014-03-13  30.75  26.22        90015
 1    2014-03-14  30.86  24.61        90015
 2    2014-03-15  30.38  25.76        90015
 3    2014-03-16  30.83  25.73        90015
 4    2014-03-17  30.39  26.02        90015
 ...         ...    ...    ...          ...
 2976 2022-11-13  26.10  21.50        90015
 2977 2022-11-14  25.80  21.70        90015
 2978 2022-11-15  26.60  21.50        90015
 2979 2022-11-16  27.80  22.40        90015
 2980 2022-11-17  27.00  22.50        90015

 [2981 rows x 4 columns],
           FECHA    MAX   MIN ESTACION_NEW
 0    2012-02-01  10.92  0.92        94013
 1    2012-02-02  10.12  1.94        94013
 2    2012-02-03  12.59  3.21        94013
 3    2012-02-04  13.09  4.50        94013
 4    2012-02-05  14.97  4.94        94013
 ...         ...    ...   ...          ...
 8231 2022-12-27  11.80  4.00        94019
 8232 2022-12-28  13.80  2.90        94019
 8233 2022-12-29  14.20  4.60        94019
 8234 2022-12-30  12.60  5.30        94019
 8235 2022-12-31  10.60  2.80        94019

 [8236 rows x 4 columns],
           FECHA    MAX    MIN ESTACION_NEW
 0    2013-05-28  31.78  23.20        96003
 1    2013-05-29  30.92  22.12        96003
 2    2013-05-30  31.93  22.41        96003
 3    2013-05-31  30.39  21.85        96003
 4    2013-06-01  30.87  23.57        96003
 ...         ...    ...    ...          ...
 3267 2022-11-06  28.70  22.20        96003
 3268 2022-11-07  26.50  22.40        96003
 3269 2022-11-08  27.20  22.70        96003
 3270 2022-11-09  29.10  22.10        96003
 3271 2022-11-10  27.90  22.50        96003

 [3272 rows x 4 columns],
            FECHA    MAX    MIN ESTACION_NEW
 0     2002-01-01  22.09  16.71        98075
 1     2002-01-02  26.98  16.74        98075
 2     2002-01-03  25.52  17.53        98075
 3     2002-01-04  25.66  16.01        98075
 4     2002-01-05  27.67  18.29        98075
 ...          ...    ...    ...          ...
 40836 2022-11-06  24.00  17.50        98109
 40837 2022-11-07  24.00  18.00        98109
 40838 2022-11-08  22.70  17.80        98109
 40839 2022-11-09  26.20  18.20        98109
 40840 2022-11-10  23.70  17.40        98109

 [40841 rows x 4 columns]]

In [90]:
# Agrupar las filas según los valores de la columna "ESTACION_NEW"
my_list = list(range(0, 22))
porestacion=[]
for i in my_list:
    grupos = data_new[i].groupby('ESTACION_NEW')

    # Crear una tabla separada para cada grupo segun 'ESTACION_NEW'
    for ESTACION, grupo in grupos:
        # Obtener el DataFrame correspondiente a cada grupo
        tabla = grupos.get_group(ESTACION)
        porestacion.append(tabla) #Adjuntar los valores

In [91]:
NUMERO = porestacion.copy()
for i, df in enumerate(NUMERO):
    NUMERO[i] = NUMERO[i].iloc[0,3]

In [92]:
ESTACION = NUMERO.copy()
for i, df in enumerate(ESTACION):
    ESTACION[i] = 'Estacion' + NUMERO[i]

In [214]:
#Guardar cada tabla de cada estación en un CSV diferente
my_list = list(range(0, 154))
for a, i in zip(ESTACION,my_list):
    porestacion[i].to_csv(f'{a}.csv', index=True)

In [106]:
for i, df in enumerate(porestacion):
    porestacion[i] = porestacion[i].set_index('FECHA')

In [107]:
# Encontrar los valores de inicio y final de las fechas
my_list = list(range(0, 154))
porestacion_new=[]
for i in my_list:
    fecha_inicial = porestacion[i].index.min()
    fecha_final = porestacion[i].index.max()
    name = NUMERO[i]
    porestacion_new.append((fecha_inicial,fecha_final, name))

In [108]:
porestacion_new

[(Timestamp('2003-10-17 00:00:00'),
  Timestamp('2022-12-31 00:00:00'),
  '100633'),
 (Timestamp('2007-03-11 00:00:00'),
  Timestamp('2022-12-31 00:00:00'),
  '100641'),
 (Timestamp('2009-11-25 00:00:00'),
  Timestamp('2022-12-31 00:00:00'),
  '100643'),
 (Timestamp('2013-01-29 00:00:00'),
  Timestamp('2022-11-10 00:00:00'),
  '100649'),
 (Timestamp('2013-05-17 00:00:00'),
  Timestamp('2022-12-31 00:00:00'),
  '100651'),
 (Timestamp('2013-09-06 00:00:00'),
  Timestamp('2022-11-10 00:00:00'),
  '100653'),
 (Timestamp('2014-10-24 00:00:00'),
  Timestamp('2022-12-31 00:00:00'),
  '100655'),
 (Timestamp('2002-01-01 00:00:00'),
  Timestamp('2017-07-11 00:00:00'),
  '200002'),
 (Timestamp('2008-05-25 00:00:00'),
  Timestamp('2019-08-15 00:00:00'),
  '200007'),
 (Timestamp('2013-11-24 00:00:00'),
  Timestamp('2018-03-08 00:00:00'),
  '200009'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-07-13 00:00:00'), '69633'),
 (Timestamp('2002-11-08 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69647'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2021-10-13 00:00:00'), '69677'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69679'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69681'),
 (Timestamp('2011-03-17 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69699'),
 (Timestamp('2011-09-22 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69701'),
 (Timestamp('2012-08-21 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69709'),
 (Timestamp('2013-04-11 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69711'),
 (Timestamp('2013-04-14 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69713'),
 (Timestamp('2013-05-05 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69715'),
 (Timestamp('2013-09-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69717'),
 (Timestamp('2015-10-29 00:00:00'), Timestamp('2022-10-05 00:00:00'), '69719'),
 (Timestamp('2013-10-09 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69721'),
 (Timestamp('2013-10-11 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69723'),
 (Timestamp('2014-10-16 00:00:00'), Timestamp('2022-12-08 00:00:00'), '69725'),
 (Timestamp('2014-03-27 00:00:00'), Timestamp('2022-11-21 00:00:00'), '69727'),
 (Timestamp('2014-09-23 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69729'),
 (Timestamp('2014-11-07 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69731'),
 (Timestamp('2015-02-22 00:00:00'), Timestamp('2022-11-16 00:00:00'), '69735'),
 (Timestamp('2015-05-14 00:00:00'), Timestamp('2022-12-16 00:00:00'), '69737'),
 (Timestamp('2015-05-15 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69739'),
 (Timestamp('2017-03-26 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69743'),
 (Timestamp('2017-04-22 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69747'),
 (Timestamp('2017-05-11 00:00:00'), Timestamp('2022-12-31 00:00:00'), '69749'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '71015'),
 (Timestamp('2014-01-18 00:00:00'), Timestamp('2022-07-08 00:00:00'), '71023'),
 (Timestamp('2004-03-24 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72149'),
 (Timestamp('2004-11-11 00:00:00'), Timestamp('2022-12-21 00:00:00'), '72153'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72157'),
 (Timestamp('2002-10-27 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72159'),
 (Timestamp('2012-04-01 00:00:00'), Timestamp('2022-11-17 00:00:00'), '72163'),
 (Timestamp('2012-09-23 00:00:00'), Timestamp('2022-06-27 00:00:00'), '72165'),
 (Timestamp('2013-04-24 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72167'),
 (Timestamp('2015-11-25 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72177'),
 (Timestamp('2014-12-13 00:00:00'), Timestamp('2020-02-19 00:00:00'), '72179'),
 (Timestamp('2015-05-21 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72181'),
 (Timestamp('2016-04-28 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72183'),
 (Timestamp('2017-08-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72185'),
 (Timestamp('2017-08-05 00:00:00'), Timestamp('2022-02-21 00:00:00'), '72187'),
 (Timestamp('2017-08-08 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72189'),
 (Timestamp('2017-09-02 00:00:00'), Timestamp('2022-12-31 00:00:00'), '72191'),
 (Timestamp('2018-02-11 00:00:00'), Timestamp('2022-11-30 00:00:00'), '72195'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73123'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-06-08 00:00:00'), '73129'),
 (Timestamp('2004-11-04 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73137'),
 (Timestamp('2007-07-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73141'),
 (Timestamp('2010-01-27 00:00:00'), Timestamp('2022-10-08 00:00:00'), '73143'),
 (Timestamp('2011-11-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73145'),
 (Timestamp('2011-12-20 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73147'),
 (Timestamp('2012-02-16 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73149'),
 (Timestamp('2007-10-21 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73151'),
 (Timestamp('2013-07-06 00:00:00'), Timestamp('2022-10-21 00:00:00'), '73153'),
 (Timestamp('2013-09-28 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73155'),
 (Timestamp('2013-11-03 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73157'),
 (Timestamp('2014-02-14 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73159'),
 (Timestamp('2015-02-27 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73161'),
 (Timestamp('2018-09-11 00:00:00'), Timestamp('2021-10-25 00:00:00'), '73163'),
 (Timestamp('2015-05-08 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73167'),
 (Timestamp('2017-07-19 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73169'),
 (Timestamp('2018-09-08 00:00:00'), Timestamp('2022-12-31 00:00:00'), '73171'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74051'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74053'),
 (Timestamp('2012-03-01 00:00:00'), Timestamp('2022-11-30 00:00:00'), '74061'),
 (Timestamp('2012-03-08 00:00:00'), Timestamp('2022-11-18 00:00:00'), '74063'),
 (Timestamp('2013-04-05 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74067'),
 (Timestamp('2015-09-22 00:00:00'), Timestamp('2022-05-05 00:00:00'), '74069'),
 (Timestamp('2016-06-14 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74071'),
 (Timestamp('2017-05-19 00:00:00'), Timestamp('2022-10-21 00:00:00'), '74073'),
 (Timestamp('2017-07-25 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74075'),
 (Timestamp('2017-05-19 00:00:00'), Timestamp('2022-11-21 00:00:00'), '74077'),
 (Timestamp('2017-04-22 00:00:00'), Timestamp('2022-12-31 00:00:00'), '74081'),
 (Timestamp('2017-09-29 00:00:00'), Timestamp('2022-11-22 00:00:00'), '74083'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '76055'),
 (Timestamp('2011-05-07 00:00:00'), Timestamp('2022-12-31 00:00:00'), '76059'),
 (Timestamp('2014-10-31 00:00:00'), Timestamp('2022-12-31 00:00:00'), '76061'),
 (Timestamp('2016-09-16 00:00:00'), Timestamp('2022-11-14 00:00:00'), '76063'),
 (Timestamp('2017-11-24 00:00:00'), Timestamp('2022-11-05 00:00:00'), '76067'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-11-08 00:00:00'), '78027'),
 (Timestamp('2013-09-18 00:00:00'), Timestamp('2022-01-04 00:00:00'), '78031'),
 (Timestamp('2016-07-09 00:00:00'), Timestamp('2022-12-31 00:00:00'), '78033'),
 (Timestamp('2017-07-05 00:00:00'), Timestamp('2022-12-31 00:00:00'), '78035'),
 (Timestamp('2014-08-20 00:00:00'), Timestamp('2022-11-08 00:00:00'), '80013'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '81005'),
 (Timestamp('2014-12-04 00:00:00'), Timestamp('2022-07-11 00:00:00'), '81013'),
 (Timestamp('2012-11-22 00:00:00'), Timestamp('2022-12-22 00:00:00'), '82011'),
 (Timestamp('2013-11-02 00:00:00'), Timestamp('2022-11-09 00:00:00'), '82013'),
 (Timestamp('2014-11-08 00:00:00'), Timestamp('2022-11-08 00:00:00'), '82015'),
 (Timestamp('2017-03-04 00:00:00'), Timestamp('2022-12-31 00:00:00'), '82017'),
 (Timestamp('2017-06-06 00:00:00'), Timestamp('2022-12-31 00:00:00'), '82019'),
 (Timestamp('2013-09-12 00:00:00'), Timestamp('2022-11-02 00:00:00'), '83007'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84139'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84141'),
 (Timestamp('2003-02-21 00:00:00'), Timestamp('2022-10-21 00:00:00'), '84181'),
 (Timestamp('2008-04-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84185'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84187'),
 (Timestamp('2003-04-08 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84189'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84191'),
 (Timestamp('2008-08-02 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84193'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-06 00:00:00'), '84197'),
 (Timestamp('2004-11-03 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84199'),
 (Timestamp('2007-11-15 00:00:00'), Timestamp('2022-08-22 00:00:00'), '84203'),
 (Timestamp('2010-09-15 00:00:00'), Timestamp('2022-12-12 00:00:00'), '84207'),
 (Timestamp('2011-10-01 00:00:00'), Timestamp('2022-05-26 00:00:00'), '84209'),
 (Timestamp('2011-07-02 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84213'),
 (Timestamp('2012-11-15 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84215'),
 (Timestamp('2013-11-17 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84217'),
 (Timestamp('2011-03-02 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84219'),
 (Timestamp('2012-09-22 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84225'),
 (Timestamp('2012-08-30 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84231'),
 (Timestamp('2013-10-25 00:00:00'), Timestamp('2022-12-13 00:00:00'), '84239'),
 (Timestamp('2013-10-31 00:00:00'), Timestamp('2022-10-21 00:00:00'), '84241'),
 (Timestamp('2013-11-20 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84243'),
 (Timestamp('2016-02-25 00:00:00'), Timestamp('2020-06-10 00:00:00'), '84247'),
 (Timestamp('2015-05-14 00:00:00'), Timestamp('2022-10-21 00:00:00'), '84249'),
 (Timestamp('2014-10-10 00:00:00'), Timestamp('2022-10-21 00:00:00'), '84251'),
 (Timestamp('2018-05-05 00:00:00'), Timestamp('2021-11-01 00:00:00'), '84283'),
 (Timestamp('2015-03-06 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84285'),
 (Timestamp('2021-05-29 00:00:00'), Timestamp('2022-10-21 00:00:00'), '84291'),
 (Timestamp('2015-11-11 00:00:00'), Timestamp('2022-12-31 00:00:00'), '84295'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-11-01 00:00:00'), '85021'),
 (Timestamp('2005-01-28 00:00:00'), Timestamp('2022-12-31 00:00:00'), '85023'),
 (Timestamp('2013-11-07 00:00:00'), Timestamp('2022-12-31 00:00:00'), '85025'),
 (Timestamp('2016-01-17 00:00:00'), Timestamp('2020-11-03 00:00:00'), '85027'),
 (Timestamp('2015-05-07 00:00:00'), Timestamp('2022-12-22 00:00:00'), '86013'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '87013'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2010-08-06 00:00:00'), '88035'),
 (Timestamp('2009-03-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '88047'),
 (Timestamp('2013-07-17 00:00:00'), Timestamp('2022-12-31 00:00:00'), '88049'),
 (Timestamp('2015-02-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '88051'),
 (Timestamp('2017-06-02 00:00:00'), Timestamp('2022-12-06 00:00:00'), '88055'),
 (Timestamp('2014-03-13 00:00:00'), Timestamp('2022-11-17 00:00:00'), '90015'),
 (Timestamp('2012-02-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '94013'),
 (Timestamp('2014-04-09 00:00:00'), Timestamp('2022-12-31 00:00:00'), '94015'),
 (Timestamp('2016-12-17 00:00:00'), Timestamp('2022-12-31 00:00:00'), '94019'),
 (Timestamp('2013-05-28 00:00:00'), Timestamp('2022-11-10 00:00:00'), '96003'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-11-10 00:00:00'), '98075'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '98087'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-04-18 00:00:00'), '98091'),
 (Timestamp('2002-01-01 00:00:00'), Timestamp('2022-12-31 00:00:00'), '98095'),
 (Timestamp('2008-06-18 00:00:00'), Timestamp('2022-12-31 00:00:00'), '98097'),
 (Timestamp('2013-11-22 00:00:00'), Timestamp('2022-12-07 00:00:00'), '98105'),
 (Timestamp('2016-12-16 00:00:00'), Timestamp('2022-11-10 00:00:00'), '98107'),
 (Timestamp('2017-12-09 00:00:00'), Timestamp('2022-11-10 00:00:00'), '98109')]

In [109]:
#Guardar el rango de fechas en un archivo .txt
# Abrir el archivo en modo escritura
with open("rango_fechas.txt", "w") as archivo:
    # Escribir la lista en el archivo
    for valor in porestacion_new:
        archivo.write(str(valor) + "\n")

In [78]:
#Eliminar las columnas que no se necesitan
for i, df in enumerate(porestacion):
    porestacion[i].pop('ESTACION_NEW')

In [79]:
# Agrupar las filas según los valores de la columna "ESTACION_NEW"
my_list = list(range(0, 154))
TempMAX=[]
TempMIN=[]
for i in my_list:
    maxima = porestacion[i].copy()
    maxima.pop('MIN')
    minima = porestacion[i].copy()
    minima.pop('MAX')
    TempMAX.append(maxima)
    TempMIN.append(minima)

In [80]:
for i, df in enumerate(TempMAX):
    TempMAX[i] = TempMAX[i].set_index('FECHA')
    
for i, df in enumerate(TempMIN):
    TempMIN[i] = TempMIN[i].set_index('FECHA')

In [81]:
TempMAX

[              MAX
 FECHA
 2003-10-17  30.37
 2003-10-18  31.28
 2003-10-19  26.45
 2003-10-20  25.54
 2003-10-21  27.59
 ...           ...
 2022-12-27  39.10
 2022-12-28  30.00
 2022-12-29  30.90
 2022-12-30  31.00
 2022-12-31  30.20

 [6656 rows x 1 columns],
               MAX
 FECHA
 2007-03-11  34.71
 2007-03-12  34.91
 2007-03-13  35.18
 2007-03-14  35.05
 2007-03-15  34.71
 ...           ...
 2022-12-27  32.60
 2022-12-28  32.00
 2022-12-29  32.70
 2022-12-30  32.00
 2022-12-31  32.30

 [5355 rows x 1 columns],
               MAX
 FECHA
 2009-11-25  24.72
 2009-11-26  24.76
 2009-12-13  32.75
 2009-12-14  33.43
 2009-12-15  32.99
 ...           ...
 2022-12-27  31.90
 2022-12-28  31.80
 2022-12-29  32.60
 2022-12-30  31.10
 2022-12-31  32.20

 [4765 rows x 1 columns],
               MAX
 FECHA
 2013-01-29  33.71
 2013-01-30  32.79
 2013-01-31  34.00
 2013-02-01  33.63
 2013-02-02  33.20
 ...           ...
 2022-11-06  28.10
 2022-11-07  24.70
 2022-11-08  25.80
 2022-11-09  26.70
 2022-11-10  25.10

 [3387 rows x 1 columns],
               MAX
 FECHA
 2013-05-17  26.12
 2013-05-18  28.05
 2013-05-19  33.23
 2013-05-20  31.61
 2013-05-21  30.46
 ...           ...
 2022-12-27  32.10
 2022-12-28  31.40
 2022-12-29  32.30
 2022-12-30  31.90
 2022-12-31  31.40

 [3345 rows x 1 columns],
               MAX
 FECHA
 2013-09-06  26.10
 2013-09-07  27.98
 2013-09-08  28.36
 2013-09-09  29.93
 2013-09-10  28.54
 ...           ...
 2022-11-06  25.10
 2022-11-07  23.50
 2022-11-08  24.30
 2022-11-09  23.50
 2022-11-10  23.20

 [2935 rows x 1 columns],
               MAX
 FECHA
 2014-10-24  30.48
 2014-10-25  31.10
 2014-10-26  31.80
 2014-10-27  30.59
 2014-10-28  31.73
 ...           ...
 2022-12-27  32.90
 2022-12-28  31.50
 2022-12-29  31.80
 2022-12-30  32.70
 2022-12-31  32.60

 [2889 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  28.76
 2002-01-02  28.85
 2002-01-03  26.98
 2002-01-04  28.69
 2002-01-05  28.69
 ...           ...
 2017-07-07  24.50
 2017-07-08  28.20
 2017-07-09  26.70
 2017-07-10  27.40
 2017-07-11  27.50

 [2458 rows x 1 columns],
               MAX
 FECHA
 2008-05-25  30.25
 2008-05-26  31.66
 2008-05-27  27.90
 2008-05-28  28.37
 2008-05-29  26.97
 ...           ...
 2019-08-11  33.20
 2019-08-12  32.50
 2019-08-13  32.60
 2019-08-14  34.30
 2019-08-15  33.00

 [2996 rows x 1 columns],
               MAX
 FECHA
 2013-11-24  30.28
 2013-11-25  31.00
 2013-11-26  27.48
 2013-11-27  28.13
 2013-11-28  29.44
 ...           ...
 2018-03-04  30.90
 2018-03-05  32.20
 2018-03-06  32.50
 2018-03-07  30.80
 2018-03-08  31.40

 [1528 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  30.57
 2002-01-02  30.12
 2002-01-03  31.15
 2002-01-04  29.14
 2002-01-05  26.01
 ...           ...
 2022-07-09  28.60
 2022-07-10  30.60
 2022-07-11  31.00
 2022-07-12  29.90
 2022-07-13  25.20

 [7017 rows x 1 columns],
               MAX
 FECHA
 2002-11-08  23.60
 2002-11-09  24.09
 2002-11-10  25.21
 2002-11-11  28.69
 2002-11-12  27.60
 ...           ...
 2022-12-27  26.00
 2022-12-28  25.90
 2022-12-29  27.40
 2022-12-30  26.40
 2022-12-31  27.40

 [7048 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  32.03
 2002-01-02  32.33
 2002-01-03  32.20
 2002-01-04  31.28
 2002-01-05  25.84
 ...           ...
 2021-10-09  30.30
 2021-10-10  31.90
 2021-10-11  30.70
 2021-10-12  30.70
 2021-10-13  32.90

 [6947 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  33.48
 2002-01-02  30.19
 2002-01-03  31.45
 2002-01-04  29.01
 2002-01-05  24.98
 ...           ...
 2022-12-27  30.50
 2022-12-28  29.90
 2022-12-29  31.10
 2022-12-30  30.40
 2022-12-31  30.90

 [7450 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  31.49
 2002-01-02  30.15
 2002-01-03  30.79
 2002-01-04  29.79
 2002-01-05  28.20
 ...           ...
 2022-12-27  30.10
 2022-12-28  31.00
 2022-12-29  31.00
 2022-12-30  29.80
 2022-12-31  29.80

 [7093 rows x 1 columns],
               MAX
 FECHA
 2011-03-17  27.21
 2011-03-18  25.61
 2011-03-19  23.60
 2011-03-20  21.83
 2011-03-21  23.65
 ...           ...
 2022-12-27  30.20
 2022-12-28  31.10
 2022-12-29  30.80
 2022-12-30  30.40
 2022-12-31  30.20

 [3670 rows x 1 columns],
               MAX
 FECHA
 2011-09-22  32.97
 2011-09-23  32.89
 2011-09-24  32.35
 2011-09-25  30.82
 2011-09-26  29.37
 ...           ...
 2022-12-27  30.70
 2022-12-28  31.00
 2022-12-29  30.80
 2022-12-30  31.00
 2022-12-31  29.80

 [4008 rows x 1 columns],
               MAX
 FECHA
 2012-08-21  34.25
 2012-08-22  32.66
 2012-08-23  29.98
 2012-08-24  31.84
 2012-08-25  34.35
 ...           ...
 2022-12-27  29.90
 2022-12-28  30.90
 2022-12-29  30.30
 2022-12-30  30.30
 2022-12-31  28.90

 [3642 rows x 1 columns],
               MAX
 FECHA
 2013-04-11  29.26
 2013-04-12  34.83
 2013-04-13  34.88
 2013-04-14  34.62
 2013-04-15  33.18
 ...           ...
 2022-12-27  28.00
 2022-12-28  28.10
 2022-12-29  28.60
 2022-12-30  28.60
 2022-12-31  29.10

 [3184 rows x 1 columns],
               MAX
 FECHA
 2013-04-14  34.31
 2013-04-15  32.95
 2013-04-16  34.97
 2013-04-17  35.18
 2013-04-18  34.42
 ...           ...
 2022-12-27  31.50
 2022-12-28  31.20
 2022-12-29  32.60
 2022-12-30  31.70
 2022-12-31  32.50

 [3423 rows x 1 columns],
               MAX
 FECHA
 2013-05-05  30.25
 2013-05-06  32.98
 2013-05-07  34.59
 2013-05-08  34.22
 2013-05-10  34.97
 ...           ...
 2022-12-27  31.30
 2022-12-28  31.80
 2022-12-29  31.70
 2022-12-30  31.20
 2022-12-31  30.10

 [3317 rows x 1 columns],
               MAX
 FECHA
 2013-09-18  26.63
 2013-09-19  25.56
 2013-09-20  28.74
 2013-09-21  25.23
 2013-09-22  28.86
 ...           ...
 2022-12-27  30.20
 2022-12-28  31.00
 2022-12-29  30.90
 2022-12-30  30.40
 2022-12-31  29.90

 [3356 rows x 1 columns],
              MAX
 FECHA
 2015-10-29  30.4
 2015-10-30  30.0
 2015-10-31  29.0
 2015-11-01  29.5
 2015-11-02  31.3
 ...          ...
 2022-10-01  28.1
 2022-10-02  24.8
 2022-10-03  26.2
 2022-10-04  28.8
 2022-10-05  29.4

 [2270 rows x 1 columns],
               MAX
 FECHA
 2013-10-09  25.19
 2013-10-10  29.25
 2013-10-11  27.77
 2013-10-12  26.50
 2013-10-13  28.24
 ...           ...
 2022-12-27  27.70
 2022-12-28  28.30
 2022-12-29  28.10
 2022-12-30  27.30
 2022-12-31  27.20

 [3007 rows x 1 columns],
               MAX
 FECHA
 2013-10-11  27.88
 2013-10-12  30.32
 2013-10-13  32.27
 2013-10-14  30.31
 2013-10-15  31.84
 ...           ...
 2022-12-27  30.20
 2022-12-28  31.10
 2022-12-29  31.00
 2022-12-30  30.10
 2022-12-31  29.80

 [3304 rows x 1 columns],
               MAX
 FECHA
 2014-10-16  28.91
 2014-10-17  32.51
 2014-10-18  29.29
 2014-10-19  31.95
 2014-10-20  32.27
 ...           ...
 2022-12-04  29.20
 2022-12-05  30.20
 2022-12-06  31.30
 2022-12-07  31.00
 2022-12-08  29.80

 [2802 rows x 1 columns],
               MAX
 FECHA
 2014-03-27  29.91
 2014-03-28  31.47
 2014-03-29  31.30
 2014-03-30  30.62
 2014-03-31  32.05
 ...           ...
 2022-11-17  30.00
 2022-11-18  29.90
 2022-11-19  30.60
 2022-11-20  26.90
 2022-11-21  25.60

 [2842 rows x 1 columns],
               MAX
 FECHA
 2014-09-23  27.42
 2014-09-24  31.58
 2014-09-25  31.16
 2014-09-26  30.49
 2014-09-27  33.90
 ...           ...
 2022-12-27  31.80
 2022-12-28  32.80
 2022-12-29  32.50
 2022-12-30  31.00
 2022-12-31  30.70

 [2876 rows x 1 columns],
              MAX
 FECHA
 2014-11-07  22.5
 2014-11-08  23.1
 2014-11-09  27.0
 2014-11-10  22.8
 2014-11-11  27.0
 ...          ...
 2022-12-27  28.5
 2022-12-28  29.9
 2022-12-29  29.1
 2022-12-30  28.6
 2022-12-31  25.4

 [2867 rows x 1 columns],
              MAX
 FECHA
 2015-02-22  24.4
 2015-02-23  29.8
 2015-02-24  30.4
 2015-02-25  27.1
 2015-02-26  30.3
 ...          ...
 2022-11-12  27.9
 2022-11-13  28.9
 2022-11-14  27.2
 2022-11-15  27.0
 2022-11-16  25.4

 [2747 rows x 1 columns],
              MAX
 FECHA
 2015-05-14  23.5
 2015-05-15  25.9
 2015-05-16  20.2
 2015-05-17  20.4
 2015-05-18  20.1
 ...          ...
 2022-12-12  21.9
 2022-12-13  22.5
 2022-12-14  24.5
 2022-12-15  24.5
 2022-12-16  25.8

 [2738 rows x 1 columns],
              MAX
 FECHA
 2015-05-15  30.7
 2015-05-16  26.1
 2015-05-17  25.1
 2015-05-18  31.7
 2015-05-19  30.3
 ...          ...
 2022-12-27  29.6
 2022-12-28  29.4
 2022-12-29  30.2
 2022-12-30  28.9
 2022-12-31  29.7

 [2717 rows x 1 columns],
              MAX
 FECHA
 2017-03-26  23.5
 2017-03-27  24.1
 2017-03-28  22.4
 2017-03-29  23.3
 2017-03-30  23.0
 ...          ...
 2022-12-27  23.7
 2022-12-28  24.6
 2022-12-29  24.6
 2022-12-30  23.3
 2022-12-31  23.2

 [2056 rows x 1 columns],
              MAX
 FECHA
 2017-04-22  34.4
 2017-04-23  34.9
 2017-04-24  34.2
 2017-04-25  33.3
 2017-04-26  34.4
 ...          ...
 2022-12-27  30.3
 2022-12-28  29.9
 2022-12-29  31.3
 2022-12-30  29.2
 2022-12-31  31.0

 [1780 rows x 1 columns],
              MAX
 FECHA
 2017-05-11  21.6
 2017-05-12  28.2
 2017-05-13  27.2
 2017-05-14  25.2
 2017-05-15  28.0
 ...          ...
 2022-12-27  23.3
 2022-12-28  23.0
 2022-12-29  25.4
 2022-12-30  24.6
 2022-12-31  23.6

 [2053 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  31.88
 2002-01-02  31.25
 2002-01-03  31.61
 2002-01-04  29.63
 2002-01-05  29.30
 ...           ...
 2022-12-27  30.10
 2022-12-28  31.20
 2022-12-29  30.70
 2022-12-30  29.80
 2022-12-31  30.40

 [6228 rows x 1 columns],
               MAX
 FECHA
 2014-01-18  23.44
 2014-01-19  29.40
 2014-01-20  27.96
 2014-01-21  28.71
 2014-01-22  27.52
 ...           ...
 2022-07-04  27.30
 2022-07-05  26.50
 2022-07-06  29.10
 2022-07-07  29.50
 2022-07-08  31.40

 [2354 rows x 1 columns],
               MAX
 FECHA
 2004-03-24  35.41
 2004-03-25  36.96
 2004-03-26  36.01
 2004-03-27  36.65
 2004-03-28  36.12
 ...           ...
 2022-12-27  31.90
 2022-12-28  32.10
 2022-12-29  32.20
 2022-12-30  32.70
 2022-12-31  33.00

 [5779 rows x 1 columns],
               MAX
 FECHA
 2004-11-11  30.95
 2004-11-12  31.08
 2004-11-13  29.85
 2004-11-14  29.75
 2004-11-15  27.85
 ...           ...
 2022-12-17  32.60
 2022-12-18  31.60
 2022-12-19  30.30
 2022-12-20  31.00
 2022-12-21  31.50

 [6171 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  33.67
 2002-01-02  34.18
 2002-01-03  35.08
 2002-01-04  32.80
 2002-01-05  30.90
 ...           ...
 2022-12-27  33.00
 2022-12-28  32.80
 2022-12-29  33.90
 2022-12-30  33.60
 2022-12-31  33.30

 [7263 rows x 1 columns],
               MAX
 FECHA
 2002-10-27  29.23
 2002-10-28  32.11
 2002-10-29  30.35
 2002-10-30  32.14
 2002-10-31  29.92
 ...           ...
 2022-12-27  33.50
 2022-12-28  33.00
 2022-12-29  32.10
 2022-12-30  31.40
 2022-12-31  33.00

 [6502 rows x 1 columns],
               MAX
 FECHA
 2012-04-01  34.25
 2012-04-02  33.50
 2012-04-03  34.01
 2012-04-04  34.20
 2012-04-05  34.69
 ...           ...
 2022-11-13  30.40
 2022-11-14  30.30
 2022-11-15  30.40
 2022-11-16  31.10
 2022-11-17  30.40

 [3835 rows x 1 columns],
               MAX
 FECHA
 2012-09-23  33.05
 2012-09-24  34.69
 2012-09-25  33.82
 2012-09-26  35.13
 2012-09-27  36.21
 ...           ...
 2022-06-23  35.10
 2022-06-24  35.30
 2022-06-25  33.90
 2022-06-26  33.10
 2022-06-27  30.10

 [3187 rows x 1 columns],
               MAX
 FECHA
 2013-04-24  34.32
 2013-04-25  35.29
 2013-04-26  37.56
 2013-04-28  35.17
 2013-04-29  35.84
 ...           ...
 2022-12-27  32.50
 2022-12-28  34.10
 2022-12-29  32.40
 2022-12-30  32.10
 2022-12-31  32.10

 [3412 rows x 1 columns],
              MAX
 FECHA
 2015-11-25  30.9
 2015-11-26  31.7
 2015-11-27  31.1
 2015-11-28  31.0
 2015-11-29  31.6
 ...          ...
 2022-12-27  28.8
 2022-12-28  29.6
 2022-12-29  30.1
 2022-12-30  29.8
 2022-12-31  30.2

 [1939 rows x 1 columns],
              MAX
 FECHA
 2014-12-13  29.8
 2014-12-14  30.4
 2014-12-15  32.2
 2014-12-16  31.7
 2014-12-17  31.6
 ...          ...
 2020-02-15  35.2
 2020-02-16  33.2
 2020-02-17  34.5
 2020-02-18  34.6
 2020-02-19  35.1

 [1757 rows x 1 columns],
              MAX
 FECHA
 2015-05-21  31.8
 2015-05-22  30.8
 2015-05-23  32.3
 2015-05-24  32.5
 2015-05-25  31.1
 ...          ...
 2022-12-27  31.4
 2022-12-28  31.0
 2022-12-29  30.2
 2022-12-30  30.4
 2022-12-31  31.2

 [2685 rows x 1 columns],
              MAX
 FECHA
 2016-04-28  27.0
 2016-04-29  34.1
 2016-04-30  33.1
 2016-05-01  34.5
 2016-05-02  32.9
 ...          ...
 2022-12-27  32.1
 2022-12-28  31.7
 2022-12-29  32.5
 2022-12-30  33.2
 2022-12-31  32.3

 [2438 rows x 1 columns],
              MAX
 FECHA
 2017-08-18  29.4
 2017-08-19  30.3
 2017-08-20  30.3
 2017-08-21  29.5
 2017-08-22  29.9
 ...          ...
 2022-12-27  29.7
 2022-12-28  29.7
 2022-12-29  32.0
 2022-12-30  31.7
 2022-12-31  30.8

 [1842 rows x 1 columns],
              MAX
 FECHA
 2017-08-05  30.4
 2017-08-06  27.9
 2017-08-07  27.1
 2017-08-08  28.7
 2017-08-09  30.1
 ...          ...
 2022-02-17  30.1
 2022-02-18  32.1
 2022-02-19  30.1
 2022-02-20  30.7
 2022-02-21  31.5

 [1521 rows x 1 columns],
              MAX
 FECHA
 2017-08-08  30.1
 2017-08-09  32.3
 2017-08-10  31.6
 2017-08-11  31.6
 2017-08-12  31.0
 ...          ...
 2022-12-27  32.7
 2022-12-28  32.8
 2022-12-29  32.5
 2022-12-30  32.3
 2022-12-31  33.0

 [1896 rows x 1 columns],
              MAX
 FECHA
 2017-09-02  31.5
 2017-09-03  29.1
 2017-09-04  26.6
 2017-09-05  29.5
 2017-09-06  28.9
 ...          ...
 2022-12-27  26.9
 2022-12-28  26.4
 2022-12-29  27.2
 2022-12-30  27.5
 2022-12-31  28.0

 [1939 rows x 1 columns],
              MAX
 FECHA
 2018-02-11  31.4
 2018-02-12  31.1
 2018-02-13  31.9
 2018-02-14  32.1
 2018-02-15  31.9
 ...          ...
 2022-11-26  26.0
 2022-11-27  25.1
 2022-11-28  23.4
 2022-11-29  26.9
 2022-11-30  29.1

 [1748 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  24.01
 2002-01-02  23.24
 2002-01-03  24.61
 2002-01-04  20.98
 2002-01-05  21.23
 ...           ...
 2022-12-27  21.20
 2022-12-28  22.80
 2022-12-29  22.80
 2022-12-30  23.10
 2022-12-31  22.10

 [7423 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  22.06
 2002-01-02  22.88
 2002-01-03  23.69
 2002-01-04  21.80
 2002-01-05  20.78
 ...           ...
 2022-06-04  23.90
 2022-06-05  24.00
 2022-06-06  24.90
 2022-06-07  22.10
 2022-06-08  20.10

 [7174 rows x 1 columns],
               MAX
 FECHA
 2004-11-04  13.79
 2004-11-05  16.78
 2004-11-06  14.20
 2004-11-07  14.46
 2004-11-08  10.57
 ...           ...
 2022-12-27  14.30
 2022-12-28  12.50
 2022-12-29  11.70
 2022-12-30  15.70
 2022-12-31  15.50

 [6372 rows x 1 columns],
               MAX
 FECHA
 2007-07-18  19.40
 2007-07-19  19.78
 2007-07-20  22.29
 2007-07-21  21.88
 2007-07-22  21.27
 ...           ...
 2022-12-27  19.40
 2022-12-28  21.30
 2022-12-29  20.50
 2022-12-30  21.30
 2022-12-31  19.80

 [3762 rows x 1 columns],
               MAX
 FECHA
 2010-01-27  17.86
 2010-01-28  14.66
 2010-01-29  17.52
 2010-01-30  16.85
 2010-01-31  24.20
 ...           ...
 2022-10-04  13.40
 2022-10-05  13.20
 2022-10-06  12.10
 2022-10-07   9.40
 2022-10-08   8.90

 [4441 rows x 1 columns],
               MAX
 FECHA
 2011-11-01  28.20
 2011-11-02  28.33
 2011-11-03  30.67
 2011-11-04  27.73
 2011-11-05  29.54
 ...           ...
 2022-12-27  30.90
 2022-12-28  31.80
 2022-12-29  31.90
 2022-12-30  31.00
 2022-12-31  31.10

 [3899 rows x 1 columns],
               MAX
 FECHA
 2011-12-20  26.98
 2011-12-21  29.22
 2011-12-22  30.59
 2011-12-23  23.67
 2011-12-24  30.33
 ...           ...
 2022-12-27  28.70
 2022-12-28  29.60
 2022-12-29  29.30
 2022-12-30  28.40
 2022-12-31  29.00

 [3941 rows x 1 columns],
               MAX
 FECHA
 2012-02-16  27.58
 2012-02-17  23.03
 2012-02-18  24.94
 2012-02-19  23.96
 2012-02-20  24.20
 ...           ...
 2022-12-27  24.30
 2022-12-28  25.20
 2022-12-29  25.00
 2022-12-30  25.30
 2022-12-31  24.20

 [3893 rows x 1 columns],
               MAX
 FECHA
 2007-10-21  26.46
 2007-10-22  29.91
 2007-10-23  29.12
 2007-10-24  30.87
 2007-10-25  30.80
 ...           ...
 2022-12-27  28.50
 2022-12-28  29.10
 2022-12-29  29.30
 2022-12-30  29.30
 2022-12-31  28.50

 [2775 rows x 1 columns],
               MAX
 FECHA
 2013-07-06  18.04
 2013-07-07  20.99
 2013-07-08  19.49
 2013-07-09  19.02
 2013-07-10  19.56
 ...           ...
 2022-10-17  21.30
 2022-10-18  18.80
 2022-10-19  22.30
 2022-10-20  21.70
 2022-10-21  21.70

 [3142 rows x 1 columns],
               MAX
 FECHA
 2013-09-28  25.03
 2013-09-29  27.39
 2013-09-30  27.30
 2013-10-01  26.69
 2013-10-02  26.35
 ...           ...
 2022-12-27  26.00
 2022-12-28  27.30
 2022-12-29  26.90
 2022-12-30  26.00
 2022-12-31  24.00

 [3266 rows x 1 columns],
               MAX
 FECHA
 2013-11-03  20.69
 2013-11-04  18.65
 2013-11-05  19.59
 2013-11-06  20.20
 2013-11-07  21.88
 ...           ...
 2022-12-27  18.10
 2022-12-28  19.40
 2022-12-29  18.90
 2022-12-30  19.60
 2022-12-31  19.20

 [3329 rows x 1 columns],
               MAX
 FECHA
 2014-02-14  29.68
 2014-02-15  31.40
 2014-02-16  31.03
 2014-02-17  31.36
 2014-02-18  31.52
 ...           ...
 2022-12-27  31.60
 2022-12-28  32.60
 2022-12-29  32.90
 2022-12-30  31.30
 2022-12-31  32.00

 [3124 rows x 1 columns],
              MAX
 FECHA
 2015-02-27  20.2
 2015-02-28  21.2
 2015-03-01  20.6
 2015-03-02  21.0
 2015-03-03  20.3
 ...          ...
 2022-12-27  18.9
 2022-12-28  20.2
 2022-12-29  19.6
 2022-12-30  20.2
 2022-12-31  19.7

 [2767 rows x 1 columns],
              MAX
 FECHA
 2018-09-11  32.8
 2018-09-12  33.7
 2018-09-13  32.5
 2018-09-14  32.5
 2018-09-15  32.2
 ...          ...
 2021-10-21  30.0
 2021-10-22  32.8
 2021-10-23  32.9
 2021-10-24  30.4
 2021-10-25  33.2

 [555 rows x 1 columns],
              MAX
 FECHA
 2015-05-08  21.8
 2015-05-09  25.7
 2015-05-10  25.2
 2015-05-11  25.1
 2015-05-12  26.0
 ...          ...
 2022-12-27  22.8
 2022-12-28  24.2
 2022-12-29  24.4
 2022-12-30  24.4
 2022-12-31  22.7

 [2774 rows x 1 columns],
              MAX
 FECHA
 2017-07-19  28.2
 2017-07-20  27.8
 2017-07-21  30.4
 2017-07-22  30.3
 2017-07-23  32.6
 ...          ...
 2022-12-27  30.2
 2022-12-28  31.9
 2022-12-29  30.9
 2022-12-30  30.5
 2022-12-31  31.1

 [1987 rows x 1 columns],
              MAX
 FECHA
 2018-09-08  25.6
 2018-09-09  24.6
 2018-09-10  26.6
 2018-09-11  27.4
 2018-09-12  27.1
 ...          ...
 2022-12-27  22.2
 2022-12-28  24.2
 2022-12-29  24.2
 2022-12-30  24.1
 2022-12-31  23.3

 [1258 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  35.46
 2002-01-02  33.99
 2002-01-03  34.64
 2002-01-04  33.92
 2002-01-05  31.37
 ...           ...
 2022-12-27  32.20
 2022-12-28  32.00
 2022-12-29  33.10
 2022-12-30  33.30
 2022-12-31  33.30

 [7459 rows x 1 columns],
               MAX
 FECHA
 2002-01-01  33.41
 2002-01-02  32.98
 2002-01-03  33.74
 2002-01-04  32.58
 2002-01-05  29.66
 ...           ...
 2022-12-27  32.20
 2022-12-28  33.00
 2022-12-29  33.20
 2022-12-30  28.00
 2022-12-31  33.70

 [6999 rows x 1 columns],
               MAX
 FECHA
 2012-03-01  34.39
 2012-03-02  34.02
 2012-03-03  36.26
 2012-03-04  36.90
 2012-03-05  36.06
 ...           ...
 2022-11-26  32.90
 2022-11-27  30.00
 2022-11-28  30.90
 2022-11-29  32.40
 2022-11-30  32.10

 [3736 rows x 1 columns],
               MAX
 FECHA
 2012-03-08  32.96
 2012-03-09  33.16
 2012-03-10  33.48
 2012-03-11  33.77
 2012-03-12  33.37
 ...           ...
 2022-11-14  31.90
 2022-11-15  30.40
 2022-11-16  32.90
 2022-11-17  32.90
 2022-11-18  32.70

 [3763 rows x 1 columns],
               MAX
 FECHA
 2013-04-05  33.01
 2013-04-06  36.14
 2013-04-07  35.43
 2013-04-08  34.93
 2013-04-09  36.07
 ...           ...
 2022-12-27  32.00
 2022-12-28  32.00
 2022-12-29  32.80
 2022-12-30  33.70
 2022-12-31  33.50

 [3203 rows x 1 columns],
              MAX
 FECHA
 2015-09-22  36.0
 2015-09-23  34.0
 2015-09-24  31.5
 2015-09-25  32.7
 2015-09-26  33.2
 ...          ...
 2022-05-01  36.0
 2022-05-02  35.9
 2022-05-03  36.8
 2022-05-04  36.7
 2022-05-05  36.6

 [1348 rows x 1 columns],
              MAX
 FECHA
 2016-06-14  27.6
 2016-06-15  29.6
 2016-06-16  29.6
 2016-06-17  29.9

In [96]:
#Obtener el promedio diario
TempMAX_mean = []
for i, df in enumerate(TempMAX):
    value = TempMAX[i].groupby(TempMAX[i].index.strftime("%m%d")).mean() 
    #groupby() se usa agrupando por mes y por día a la vez
    TempMAX_mean.append(value)
    
#Obtener el promedio diario
TempMIN_mean = []
for i, df in enumerate(TempMIN):
    value = TempMIN[i].groupby(TempMIN[i].index.strftime("%m%d")).mean() 
    #groupby() se usa agrupando por mes y por día a la vez
    TempMIN_mean.append(value)

In [97]:
#Seleccionar solo la columna que se quiere
for i, df in enumerate(TempMAX_mean):
    TempMAX_mean[i] = TempMAX_mean[i].iloc[:,0]

for i, df in enumerate(TempMIN_mean):
    TempMIN_mean[i] = TempMIN_mean[i].iloc[:,0]

In [98]:
#Volver un dataframe
TempMIN_mean = pd.DataFrame(TempMIN_mean)
TempMAX_mean = pd.DataFrame(TempMAX_mean)

In [99]:
#Transponer los valores
TempMIN_mean = TempMIN_mean.T
TempMAX_mean = TempMAX_mean.T

In [100]:
#Cambiar el nombre de las columnas
TempMIN_mean.columns = NUMERO
TempMAX_mean.columns = NUMERO

In [102]:
TempMIN_mean

,100633,100641,100643,100649,100651,100653,100655,200002,200007,200009,...,94019,96003,98075,98087,98091,98095,98097,98105,98107,98109
FECHA,,,,,,,,,,,,,,,,,,,,,
0101,22.102778,22.093333,21.534615,22.520000,22.000000,21.394444,23.078750,23.920000,25.758889,23.452,...,3.350,23.130000,16.219500,19.508889,3.322000,13.8420,17.738571,19.281250,16.550000,17.22
0102,22.192778,22.120000,21.835385,22.612500,22.257778,21.532222,22.956250,23.564286,25.774444,23.098,...,4.075,22.926667,16.523000,19.472222,3.109500,13.9650,17.802143,18.595000,16.683333,17.78
0103,22.032778,22.068333,21.513846,22.395000,22.138889,21.546667,22.788750,23.657143,25.607778,23.658,...,5.200,23.023333,16.517000,19.445789,3.416000,14.1995,17.562143,18.763750,17.450000,18.38
0104,21.968333,21.875833,21.596923,22.371250,22.205556,21.470000,22.351250,23.124286,25.117500,23.548,...,3.425,22.915556,16.365000,19.653684,3.066000,13.8995,17.617143,19.122500,16.916667,18.00
0105,22.272778,21.968333,21.793077,22.654286,22.132222,21.894444,22.858750,23.278571,25.326667,23.542,...,2.025,23.055556,16.596500,19.617895,3.525500,13.9350,17.797143,19.091250,16.450000,17.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,22.232222,22.121538,21.617857,22.622500,21.880000,21.281111,22.800000,23.685000,25.491111,23.020,...,4.140,22.875556,16.414737,20.157222,3.346316,13.8955,17.600000,19.054286,16.616667,17.62
1228,21.845556,21.618462,21.456429,22.436250,21.560000,20.890000,22.551111,23.428333,25.262222,22.886,...,4.100,22.827778,16.611053,20.055556,3.744737,14.1285,17.588000,19.431250,16.733333,17.68
1229,22.250556,22.407692,21.921429,22.498750,22.383000,21.493333,23.003333,23.641667,25.377778,22.924,...,4.880,23.194444,16.924211,19.870556,3.502632,14.3565,18.011333,18.805000,17.150000,18.16
1230,21.928333,22.069231,21.699286,22.517500,22.156000,21.300000,22.833333,23.848333,25.590000,23.242,...,4.360,23.060000,16.426842,19.579444,3.059444,13.8675,17.842000,18.842500,16.633333,18.06
1231,22.126111,21.983846,21.489286,22.495000,21.835000,21.206250,22.755556,23.538333,25.790000,23.112,...,3.620,22.996667,16.275263,19.135556,3.301053,13.6150,17.726667,18.646250,16.983333,17.94

In [110]:
#Cargar la lista de estaciones que contienen el rango de fechas
estaciones = pd.read_excel(r'/Users/arias/OneDrive/Documentos/UCR/TFG/Datos/Observada/Temperatura/Lista de estaciones.xlsx')

In [111]:
estaciones

,NUMERO,NOMBRE,LATITUD NORTE,LONGITUD OESTE,ALTITUD (msnm),INICIO,FINAL,ESTACION
0,100633,FINCA EL PATIO. PUERTO JIMENEZ,"08º 36' 04.6""","83º25'52.2""",24,2003-10-17,2022-12-31,100633
1,100641,COOPEAGROPAL. LAUREL .,"08º 28' 17.6""","82º51'38.4""",38,2007-03-11,2022-12-31,100641
2,100643,RIO CLARO,"08º 40' 26.5""","83º03'43.2""",51,2009-11-25,2022-12-31,100643
3,100649,FUNDACION NEOTROPICA. RINCON DE OSA,"08º 42' 2.9""","83º30'49.4""",80,2013-01-29,2022-11-10,100649
4,100651,COTO 49. CIUDAD NEILY,"08º 37' 52.3""","82º58'00.7""",30,2013-05-17,2022-12-31,100651
...,...,...,...,...,...,...,...,...
149,98095,ALTAMIRA,"09º 01' 45.7""","83º00'28.7""",1370,2002-01-01,2022-12-31,98095
150,98097,MONTECARLO. PZ,"09º 21' 28""","83º36'03""",1005,2008-06-18,2022-12-31,98097
151,98105,PLANTA DE VOLCAN. BUENOS AIRES,"09º 12' 15""","83º27'2.49""",416,2013-11-22,2022-12-07,98105
152,98107,CAFETALERA EL INDIO. SAN VITO. PUNTARENAS,"08º 49' 57.9""","82º57'10.5""",1027,2016-12-16,2022-11-10,98107
153,98109,CAFETALES GIRO. SAN VITO PUNTARENAS,"08º49'05.1""","82º58'16.4""",1026,2017-12-09,2022-11-10,98109