In [593]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

In [594]:
#abrir datos
prcp = pd.read_excel (r'/Users/arias/OneDrive/Documentos/UCR/TFG/Datos/Climatologia/PRCP_datos_para_practica.xlsx', sheet_name='BD')

### Precipitación
Para datos de la forma, columnas= Semana, Día, Mes, Año, Fecha, Estaciones...

In [596]:
#Creamos una copia
prcp1 = prcp.copy()

Eliminar todas las columnas que no necesitamos (Semana, Día, Mes, Año)

In [597]:
prcp1.pop('Semana')
prcp1.pop('Día')
prcp1.pop('Mes')
prcp1.pop('Año')

0        1980
1        1980
2        1980
3        1980
4        1980
         ...
15775    2023
15776    2023
15777    2023
15778    2023
15779    2023
Name: Año, Length: 15780, dtype: int64

In [599]:
#Volver la columna Fecha un datetime
prcp1['Fecha']= pd.to_datetime(prcp1['Fecha'])
prcp1['Fecha']=prcp1['Fecha'].astype(str)

Volvemos la columna 'Date' un DateIndex

In [601]:
prcp1.Fecha = pd.to_datetime(prcp1.Fecha)
prcp1.set_index('Fecha',inplace=True)

Ocupamos volver todas las columnas a un valor numerico

##### (Se hicieron varios cambios en el excel, por que los datos tenian espacios, notaciones diferentes (PEN,...) o errores (36,,2))

In [602]:
prcp1 = prcp1.apply(pd.to_numeric) #Converting column type to float in Pandas DataFrame
prcp1.dtypes

Nicoya                float64
PaloSeco              float64
EstaciónPS            float64
Pocares               float64
Damas                 float64
Cerros                float64
Cerritos              float64
Anita                 float64
Curres                float64
Capital               float64
Capital(L106)         float64
Mona                  float64
Maritima              float64
ViverodeLlorona       float64
Naranjo               float64
Estacionbombeomona    float64
dtype: object

Obtenemos el promedio diario de la climatología

In [605]:
prcp_mean = prcp1.groupby(prcp1.index.strftime("%m%d")).mean() #groupby() se usa agrupando por mes y por día a la vez

In [606]:
prcp_mean

,Nicoya,PaloSeco,EstaciónPS,Pocares,Damas,Cerros,Cerritos,Anita,Curres,Capital,Capital(L106),Mona,Maritima,ViverodeLlorona,Naranjo,Estacionbombeomona
Fecha,,,,,,,,,,,,,,,,
0101,2.622727,1.200000,1.666667,1.602273,2.286047,1.490909,2.350000,2.536364,2.931818,1.320455,6.10,2.131818,1.927273,2.163636,1.221905,2.133333
0102,0.354545,0.388636,2.703333,1.511364,1.779545,2.195455,2.700000,1.550000,7.431818,2.906818,19.85,3.195455,1.590909,2.193182,2.809524,7.066667
0103,1.711364,2.038636,5.386667,2.170455,2.536364,4.338636,3.220000,3.982045,5.527273,3.679545,15.80,4.872727,3.627273,2.693182,4.079048,7.803333
0104,0.786364,1.065909,2.053333,0.572727,1.215909,2.009091,2.250000,2.363636,3.704545,1.325000,8.00,0.713636,1.568182,1.972727,1.507619,1.206667
0105,1.550000,1.570455,8.626667,2.250000,3.752273,5.954545,8.960000,3.588636,4.881818,3.097727,17.80,1.977273,3.665909,2.309091,1.870000,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,2.227907,2.527907,19.306667,3.655814,5.188372,5.258140,5.910000,2.439767,4.136364,5.832558,3.40,3.290909,3.555814,2.041860,2.333810,2.433333
1228,2.830233,3.965116,0.200000,4.302326,5.567442,3.802326,2.540000,5.609302,5.345455,5.118605,5.60,6.881818,4.776744,5.425581,4.435000,4.400000
1229,4.940000,4.900000,14.366667,3.220930,4.125581,5.358140,7.480000,5.004651,4.240909,4.958140,5.85,7.568182,5.009302,4.211628,6.175000,3.500000
1230,1.393023,2.027907,14.083333,2.734884,1.086047,1.879070,2.550000,1.218605,1.863636,1.365116,2.60,2.390909,2.525581,3.018605,4.026000,0.000000
1231,0.931818,1.961364,7.873333,1.456818,1.886047,2.438636,8.445455,3.152273,2.713043,1.602273,1.30,2.400000,1.681818,2.802273,2.009524,1.100000