<a href="https://colab.research.google.com/github/yirlenarias/TFG_PD/blob/main/Datos/Observado/Lluvia/Lluvia_Observada_20230501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Climatología de Lluvia Observada

* Para trabajar más cómodamente vamos a descargar todos los ficheros del repositorio GitHub
* De esa manera dispondremos de los datos localmente para nuestro análisis.

In [1]:
# Directorio de trabajo local en la nube de Google Colab 
# ------------------------------------------------------------
%cd /content

# Si existe una copia previa del repositorio, la borramos:
# ----------------------------------------------------------------------------
!  rm -rf TFG_PD

# Creamos una copia del repositorio SOLO si no existe previamente
# ----------------------------------------------------------------------------
! [ ! -d TFG_PD ] && git clone https://github.com/yirlenarias/TFG_PD.git

# Entramos en el repositorio que acabamos de copiar
# --------------------------------------------------
%cd TFG_PD/Datos/Observado/Lluvia

/content
Cloning into 'TFG_PD'...
remote: Enumerating objects: 199, done.
remote: Counting objects: 100% (106/106), done.
remote: Compressing objects: 100% (81/81), done.
remote: Total 199 (delta 27), reused 98 (delta 25), pack-reused 93
Receiving objects: 100% (199/199), 31.78 MiB | 18.36 MiB/s, done.
Resolving deltas: 100% (42/42), done.
/content/TFG_PD/Datos/Observado/Lluvia

## Importar librerias

In [27]:
import glob
import pandas as pd
import os
import zipfile

## Abrir todos los archivos excel por cuenca

In [13]:
# Criterios de coincidencia de patrones para archivos de Excel en el directorio
filenames = 'Cuenca*.xlsx'

In [10]:
filenames

['Cuenca100.xlsx',
 'Cuenca200.xlsx',
 'Cuenca69.xlsx',
 'Cuenca71.xlsx',
 'Cuenca72.xlsx',
 'Cuenca73.xlsx',
 'Cuenca74.xlsx',
 'Cuenca76.xlsx',
 'Cuenca78.xlsx',
 'Cuenca80.xlsx',
 'Cuenca81.xlsx',
 'Cuenca82.xlsx',
 'Cuenca83.xlsx',
 'Cuenca84.xlsx',
 'Cuenca85.xlsx',
 'Cuenca86.xlsx',
 'Cuenca87.xlsx',
 'Cuenca88.xlsx',
 'Cuenca90.xlsx',
 'Cuenca94.xlsx',
 'Cuenca96.xlsx',
 'Cuenca98.xlsx']

In [14]:
# Crea un diccionario vacío para almacenar los datos de cada archivo
dat = {}

# Recorra cada archivo de Excel que coincida con el patrón y lea sus datos en un marco de datos de pandas
for file in sorted(glob.glob(filenames)):
    dat[file] = pd.read_excel(file)

In [15]:
dat

{'Cuenca100.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         100       633 2004-02-12           0.00
 1         100       633 2004-02-13           1.78
 2         100       633 2004-02-14           0.51
 3         100       633 2004-02-15           0.00
 4         100       633 2004-02-16           0.00
 ...       ...       ...        ...            ...
 29854     100       655 2022-12-27           0.20
 29855     100       655 2022-12-28           0.00
 29856     100       655 2022-12-29           7.80
 29857     100       655 2022-12-30           0.60
 29858     100       655 2022-12-31           0.20

 [29859 rows x 4 columns],
 'Cuenca200.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0        200         2 2002-01-01            6.0
 1        200         2 2002-01-02            1.3
 2        200         2 2002-01-03            1.6
 3        200         2 2002-01-04           42.2
 4        200         2 2002-01-05            0.0
 ...      ...       ...        ...            ...
 6636     200         9 2018-03-04            0.0
 6637     200         9 2018-03-05            0.0
 6638     200         9 2018-03-06            0.0
 6639     200         9 2018-03-07            0.3
 6640     200         9 2018-03-08            2.0

 [6641 rows x 4 columns],
 'Cuenca69.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          69       633 2002-01-01            0.0
 1          69       633 2002-01-02            1.9
 2          69       633 2002-01-03            8.9
 3          69       633 2002-01-04            4.1
 4          69       633 2002-01-05            3.2
 ...       ...       ...        ...            ...
 94758      69       749 2022-12-27            6.4
 94759      69       749 2022-12-28            1.2
 94760      69       749 2022-12-29            5.4
 94761      69       749 2022-12-30           10.2
 94762      69       749 2022-12-31            0.0

 [94763 rows x 4 columns],
 'Cuenca71.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         71        15 2002-01-01           10.7
 1         71        15 2002-01-02            1.3
 2         71        15 2002-01-03            4.0
 3         71        15 2002-01-04           24.0
 4         71        15 2002-01-05           20.2
 ...      ...       ...        ...            ...
 8662      71        23 2021-11-13            2.2
 8663      71        23 2021-11-14            6.8
 8664      71        23 2021-11-15           45.8
 8665      71        23 2021-11-16            2.2
 8666      71        23 2021-11-17           36.8

 [8667 rows x 4 columns],
 'Cuenca72.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          72       149 2004-03-23            0.0
 1          72       149 2004-03-24            0.0
 2          72       149 2004-03-25            0.0
 3          72       149 2004-03-26            0.0
 4          72       149 2004-03-27            0.0
 ...       ...       ...        ...            ...
 55831      72       195 2022-11-26           50.6
 55832      72       195 2022-11-27          132.6
 55833      72       195 2022-11-28            8.4
 55834      72       195 2022-11-29            1.0
 55835      72       195 2022-11-30            0.0

 [55836 rows x 4 columns],
 'Cuenca73.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          73       123 2002-01-01            0.2
 1          73       123 2002-01-02            0.0
 2          73       123 2002-01-03            5.3
 3          73       123 2002-01-04            3.0
 4          73       123 2002-01-05            3.0
 ...       ...       ...        ...            ...
 65730      73       171 2022-12-27            0.0
 65731      73       171 2022-12-28            0.0
 65732      73       171 2022-12-29            0.0
 65733      73       171 2022-12-30            0.0
 65734      73       171 2022-12-31            0.0

 [65735 rows x 4 columns],
 'Cuenca74.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          74        51 2002-01-01            0.0
 1          74        51 2002-01-02            0.0
 2          74        51 2002-01-03            0.0
 3          74        51 2002-01-04            0.0
 4          74        51 2002-01-05            0.0
 ...       ...       ...        ...            ...
 38249      74        83 2022-11-18            0.0
 38250      74        83 2022-11-19            0.0
 38251      74        83 2022-11-20            0.0
 38252      74        83 2022-11-21            0.0
 38253      74        83 2022-11-22            0.0

 [38254 rows x 4 columns],
 'Cuenca76.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          76        55 2002-01-01            0.0
 1          76        55 2002-01-02            0.0
 2          76        55 2002-01-03            0.0
 3          76        55 2002-01-04            1.4
 4          76        55 2002-01-05            0.0
 ...       ...       ...        ...            ...
 18068      76        67 2022-11-01            0.2
 18069      76        67 2022-11-02            3.2
 18070      76        67 2022-11-03            3.8
 18071      76        67 2022-11-04            1.2
 18072      76        67 2022-11-05           16.6

 [18073 rows x 4 columns],
 'Cuenca78.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          78        27 2002-01-01            0.0
 1          78        27 2002-01-02            1.1
 2          78        27 2002-01-03            0.1
 3          78        27 2002-01-04            0.0
 4          78        27 2002-01-05            0.0
 ...       ...       ...        ...            ...
 13884      78        35 2022-12-27            0.0
 13885      78        35 2022-12-28            0.0
 13886      78        35 2022-12-29            0.0
 13887      78        35 2022-12-30            0.0
 13888      78        35 2022-12-31            0.0

 [13889 rows x 4 columns],
 'Cuenca80.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         80        13 2014-08-19           17.8
 1         80        13 2014-08-20           41.9
 2         80        13 2014-08-21            0.0
 3         80        13 2014-08-22            2.2
 4         80        13 2014-08-23            0.0
 ...      ...       ...        ...            ...
 2762      80        13 2022-11-04           36.2
 2763      80        13 2022-11-05           82.3
 2764      80        13 2022-11-06           20.0
 2765      80        13 2022-11-07           28.8
 2766      80        13 2022-11-08            0.1

 [2767 rows x 4 columns],
 'Cuenca81.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         81         5 2002-01-01           1.27
 1         81         5 2002-01-02           0.51
 2         81         5 2002-01-03           2.79
 3         81         5 2002-01-04          16.51
 4         81         5 2002-01-05           7.36
 ...      ...       ...        ...            ...
 7383      81         5 2022-12-27           1.60
 7384      81         5 2022-12-28           0.00
 7385      81         5 2022-12-29           0.80
 7386      81         5 2022-12-30           0.80
 7387      81         5 2022-12-31           0.00

 [7388 rows x 4 columns],
 'Cuenca82.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          82        11 2012-11-22            0.2
 1          82        11 2012-11-23            0.0
 2          82        11 2012-11-24            0.0
 3          82        11 2012-11-25            0.9
 4          82        11 2012-11-26            0.0
 ...       ...       ...        ...            ...
 13264      82        19 2022-12-27            0.0
 13265      82        19 2022-12-28            0.0
 13266      82        19 2022-12-29            4.4
 13267      82        19 2022-12-30            0.0
 13268      82        19 2022-12-31            0.0

 [13269 rows x 4 columns],
 'Cuenca83.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         83         7 2013-09-11            8.2
 1         83         7 2013-09-12            4.6
 2         83         7 2013-09-13            0.0
 3         83         7 2013-09-14            0.0
 4         83         7 2013-09-15            0.0
 ...      ...       ...        ...            ...
 3074      83         7 2022-10-29            0.0
 3075      83         7 2022-10-30            0.0
 3076      83         7 2022-10-31            4.6
 3077      83         7 2022-11-01            6.4
 3078      83         7 2022-11-02            0.0

 [3079 rows x 4 columns],
 'Cuenca84.xlsx':         CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0           84       139 2002-01-01            0.1
 1           84       139 2002-01-02            0.2
 2           84       139 2002-01-03            0.0
 3           84       139 2002-01-04            0.0
 4           84       139 2002-01-05            0.0
 ...        ...       ...        ...            ...
 122319      84       295 2022-12-27            0.0
 122320      84       295 2022-12-28            0.0
 122321      84       295 2022-12-29            0.0
 122322      84       295 2022-12-30            0.0
 122323      84       295 2022-12-31            0.0

 [122324 rows x 4 columns],
 'Cuenca85.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          85        21 2002-01-01            1.9
 1          85        21 2002-01-02           12.8
 2          85        21 2002-01-03            8.2
 3          85        21 2002-01-04            7.6
 4          85        21 2002-01-05           10.7
 ...       ...       ...        ...            ...
 16731      85        27 2020-10-30            0.0
 16732      85        27 2020-10-31            0.0
 16733      85        27 2020-11-01            3.8
 16734      85        27 2020-11-02            0.2
 16735      85        27 2020-11-03            0.0

 [16736 rows x 4 columns],
 'Cuenca86.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         86        13 2015-05-06            0.8
 1         86        13 2015-05-07            0.0
 2         86        13 2015-05-08            0.0
 3         86        13 2015-05-09            0.4
 4         86        13 2015-05-10            0.4
 ...      ...       ...        ...            ...
 2780      86        13 2022-12-18            0.0
 2781      86        13 2022-12-19            0.0
 2782      86        13 2022-12-20            0.0
 2783      86        13 2022-12-21            0.0
 2784      86        13 2022-12-22            0.0

 [2785 rows x 4 columns],
 'Cuenca87.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         87        13 2002-01-01           0.00
 1         87        13 2002-01-02           0.25
 2         87        13 2002-01-03          10.91
 3         87        13 2002-01-04           0.00
 4         87        13 2002-01-05           4.57
 ...      ...       ...        ...            ...
 6392      87        13 2022-12-27           0.00
 6393      87        13 2022-12-28           0.00
 6394      87        13 2022-12-29           2.40
 6395      87        13 2022-12-30           0.60
 6396      87        13 2022-12-31           0.00

 [6397 rows x 4 columns],
 'Cuenca88.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          88        35 2002-01-01            0.0
 1          88        35 2002-01-02            0.0
 2          88        35 2002-01-03            0.3
 3          88        35 2002-01-04            0.1
 4          88        35 2002-01-05            0.6
 ...       ...       ...        ...            ...
 16015      88        55 2022-12-02            0.4
 16016      88        55 2022-12-03            0.6
 16017      88        55 2022-12-04            0.0
 16018      88        55 2022-12-05            0.0
 16019      88        55 2022-12-06            0.0

 [16020 rows x 4 columns],
 'Cuenca90.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         90        15 2014-03-12            0.0
 1         90        15 2014-03-13            0.0
 2         90        15 2014-03-14           27.2
 3         90        15 2014-03-15            0.4
 4         90        15 2014-03-16            0.0
 ...      ...       ...        ...            ...
 3070      90        15 2022-12-11            1.0
 3071      90        15 2022-12-12            0.0
 3072      90        15 2022-12-13            9.8
 3073      90        15 2022-12-14           31.4
 3074      90        15 2022-12-15            0.0

 [3075 rows x 4 columns],
 'Cuenca94.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         94        13 2012-01-31            0.0
 1         94        13 2012-02-01            0.0
 2         94        13 2012-02-02            0.0
 3         94        13 2012-02-03            0.0
 4         94        13 2012-02-04            0.4
 ...      ...       ...        ...            ...
 8448      94        19 2022-12-27            0.0
 8449      94        19 2022-12-28            0.2
 8450      94        19 2022-12-29            0.4
 8451      94        19 2022-12-30            6.4
 8452      94        19 2022-12-31            0.2

 [8453 rows x 4 columns],
 'Cuenca96.xlsx':       CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0         96         3 2013-05-14            0.0
 1         96         3 2013-05-15            0.0
 2         96         3 2013-05-16            0.1
 3         96         3 2013-05-17            0.0
 4         96         3 2013-05-18            0.0
 ...      ...       ...        ...            ...
 3450      96         3 2022-11-06           21.8
 3451      96         3 2022-11-07           41.6
 3452      96         3 2022-11-08           24.4
 3453      96         3 2022-11-09            0.6
 3454      96         3 2022-11-10            0.0

 [3455 rows x 4 columns],
 'Cuenca98.xlsx':        CUENCA  ESTACION      FECHA  LLUVIA_DIARIA
 0          98        75 2002-01-01            1.0
 1          98        75 2002-01-02            0.8
 2          98        75 2002-01-03           16.0
 3          98        75 2002-01-04            0.1
 4          98        75 2002-01-05            0.1
 ...       ...       ...        ...            ...
 41261      98       109 2022-11-06           23.3
 41262      98       109 2022-11-07           30.2
 41263      98       109 2022-11-08           51.5
 41264      98       109 2022-11-09            5.4
 41265      98       109 2022-11-10            0.1

 [41266 rows x 4 columns]}

In [16]:
# Access the data from each file using its file name as the key in the data_dict
data_new = []

for file, data in dat.items():
    data_new.append(data)

## Arreglar datos

In [19]:
# Definir una función para aplicar a los datos y en la columna 'ESTACION' todos los valores tengan 3 digitos
for i, df in enumerate(data_new):
    def formatear_valor(valor):
        if valor < 10:
            return '00' + str(valor)
        elif valor < 100:
            return '0' + str(valor)
        else:
            return str(valor)

    # Aplicar la función a la tabla
    data_new[i]['ESTACION'] = data_new[i]['ESTACION'].apply(formatear_valor)

In [20]:
#Unir el numero de 'CUENCA' con 'ESTACION' para tener el numero de cada estacion
for i, df in enumerate(data_new):
    data_new[i]['ESTACION_NEW'] = data_new[i]['CUENCA'].astype(str) + data_new[i]['ESTACION'].astype(str)

In [21]:
#Eliminar las columnas que no son necesarias
for i, df in enumerate(data_new):
    data_new[i].pop('CUENCA')
    data_new[i].pop('ESTACION')

In [22]:
len(data_new)

22

## Agrupar datos por estación

In [23]:
# Agrupar las filas según los valores de la columna "ESTACION_NEW"
my_list = list(range(0, 22))
porestacion=[]
for i in my_list:
    grupos = data_new[i].groupby('ESTACION_NEW')

    # Crear una tabla separada para cada grupo segun 'ESTACION_NEW'
    for ESTACION, grupo in grupos:
        # Obtener el DataFrame correspondiente a cada grupo
        tabla = grupos.get_group(ESTACION)
        porestacion.append(tabla) #Adjuntar los valores

* Obtener el número de cada estación

In [24]:
NUMERO = porestacion.copy()
for i, df in enumerate(NUMERO):
    NUMERO[i] = NUMERO[i].iloc[0,2]

## Guardar un archivo por cada estación

* Crear nombre para cada archivo

In [25]:
ESTACION = []
for i, df in enumerate(ESTACION):
    ESTACION[i] = 'Estacion' + NUMERO[i]

In [26]:
#largo del archivo
len(porestacion)

154

* Guardar cada tabla de cada estación en un CSV diferente

In [28]:
my_list = list(range(0, 154))
with zipfile.ZipFile('tablas.zip', 'w') as mi_zip:
  for a, i in zip(ESTACION,my_list):
      porestacion[i].to_csv(f'{a}.csv', index=True)

## Obtener fecha inicial y final de cada estación

In [ ]:
for i, df in enumerate(porestacion):
    porestacion[i] = porestacion[i].set_index('FECHA')

In [ ]:
# Encontrar los valores de inicio y final de las fechas
my_list = list(range(0, 154))
porestacion_new=[]
for i in my_list:
    fecha_inicial = porestacion[i].index.min()
    fecha_final = porestacion[i].index.max()
    name = NUMERO[i]
    porestacion_new.append((fecha_inicial,fecha_final, name))

* Guardar el rango de fechas en un archivo .txt

In [ ]:
# Abrir el archivo en modo escritura
with open("rango_fechas.txt", "w") as archivo:
    # Escribir la lista en el archivo
    for valor in porestacion_new:
        archivo.write(str(valor) + "\n")

## Obtener los estadisticos

* (media, mediana, máximo y mínimo)

In [ ]:
#Eliminar las columnas que no se necesitan
for i, df in enumerate(data_new):
    porestacion[i].pop('ESTACION_NEW')

In [ ]:
#Obtener el promedio diario
porestacion_mean = []
porestacion_median = []
porestacion_max = []
porestacion_min = []
for i, df in enumerate(porestacion):
    media = porestacion[i].groupby(porestacion[i].index.strftime("%m%d")).mean()
    mediana = porestacion[i].groupby(porestacion[i].index.strftime("%m%d")).median()
    maximo = porestacion[i].groupby(porestacion[i].index.strftime("%m%d")).max()
    minimo = porestacion[i].groupby(porestacion[i].index.strftime("%m%d")).min()
    #groupby() se usa agrupando por mes y por día a la vez
    porestacion_mean.append(media)
    porestacion_median.append(mediana)
    porestacion_max.append(maximo)
    porestacion_min.append(minimo)

* Crear una lista con los estadisticos

In [ ]:
#Crear una lista vacía llamada lista_de_listas_de_tablas
lista_de_listas_de_tablas = []

# Agregar las dos listas de tablas a la lista_de_listas_de_tablas
lista_de_listas_de_tablas.append(porestacion_mean)
lista_de_listas_de_tablas.append(porestacion_median)
lista_de_listas_de_tablas.append(porestacion_max)
lista_de_listas_de_tablas.append(porestacion_min)

* Seleccionar solo la columna que interesa

In [ ]:
# Lista de listas de las columnas seleccionadas
lista_de_columnas_seleccionadas = []

# Iterar a través de cada lista de tablas en lista_de_listas_de_tablas
for lista in lista_de_listas_de_tablas:
    # Crear una lista para almacenar las columnas de 'Nombre' de cada tabla en la lista actual
    columnas_de_nombre = []
    # Iterar a través de cada DataFrame en la lista actual
    for tabla in lista:
        # Seleccionar la columna 'Nombre' de cada tabla y agregarla a la lista de columnas
        columna = tabla['LLUVIA_DIARIA']
        columnas_de_nombre.append(columna)
    # Agregar la lista de columnas de 'Nombre' de la lista actual a la lista de columnas seleccionadas
    lista_de_columnas_seleccionadas.append(columnas_de_nombre)

* Convertir en dataframe cada lista de estaciones

In [ ]:
# Lista de DataFrames individuales
lista_de_dataframes = []

# Iterar sobre cada lista y convertirla en un DataFrame individual
for lista in lista_de_columnas_seleccionadas:
    df = pd.DataFrame(lista)
    lista_de_dataframes.append(df)

* Transponer cada dataframe de estaciones

In [ ]:
# Lista de DataFrames transpuestos
lista_de_dataframes_transpuestos = []

# Iterar sobre cada DataFrame y transponerlo
for df in lista_de_dataframes:
    df_transpuesto = df.transpose()
    lista_de_dataframes_transpuestos.append(df_transpuesto)

* Renombrar las columnas

In [ ]:
# Cambiar los nombres de las columnas en cada DataFrame
for df in lista_de_dataframes_transpuestos:
    df.columns = NUMERO

## Guardar estadisticos en excel

In [ ]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Diaria_Observada_Lluvia_20230429.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
lista_de_dataframes_transpuestos[0].to_excel(writer, sheet_name='mean', index=True)
lista_de_dataframes_transpuestos[1].to_excel(writer, sheet_name='median', index=True)
lista_de_dataframes_transpuestos[2].to_excel(writer, sheet_name='max', index=True)
lista_de_dataframes_transpuestos[3].to_excel(writer, sheet_name='min', index=True)

# Guardar el archivo Excel
writer.save()

## Abrir lista de estaciones

In [ ]:
#Cargar la lista de estaciones (enviadas oor Keily) y que que contienen el rango de fechas que agregamos manualmente del .txt guardado a partir de las fechas de inicio y final
estaciones = pd.read_excel(r'/Users/arias/OneDrive/Documentos/UCR/TFG/Datos/Observada/Lluvia/Lista de estaciones.xlsx')

In [ ]:
estaciones

,NUMERO,NOMBRE,LATITUD NORTE,LONGITUD OESTE,ALTITUD (msnm),INICIO,FINAL,ESTACION
0,100633,FINCA EL PATIO. PUERTO JIMENEZ,"08º 36' 04.6""","83º25'52.2""",24,2004-02-12,2022-12-31,100633
1,100641,COOPEAGROPAL. LAUREL .,"08º 28' 17.6""","82º51'38.4""",38,2007-03-09,2022-12-31,100641
2,100643,RIO CLARO,"08º 40' 26.5""","83º03'43.2""",51,2009-12-11,2022-12-31,100643
3,100649,FUNDACION NEOTROPICA. RINCON DE OSA,"08º 42' 2.9""","83º30'49.4""",80,2013-01-16,2022-11-10,100649
4,100651,COTO 49. CIUDAD NEILY,"08º 37' 52.3""","82º58'00.7""",30,2013-05-16,2022-12-31,100651
...,...,...,...,...,...,...,...,...
149,98095,ALTAMIRA,"09º 01' 45.7""","83º00'28.7""",1370,2002-01-01,2022-12-31,98095
150,98097,MONTECARLO. PZ,"09º 21' 28""","83º36'03""",1005,2008-06-17,2022-12-31,98097
151,98105,PLANTA DE VOLCAN. BUENOS AIRES,"09º 12' 15""","83º27'2.49""",416,2013-11-26,2022-12-07,98105
152,98107,CAFETALERA EL INDIO. SAN VITO. PUNTARENAS,"08º 49' 57.9""","82º57'10.5""",1027,2016-12-15,2022-11-10,98107
153,98109,CAFETALES GIRO. SAN VITO PUNTARENAS,"08º49'05.1""","82º58'16.4""",1026,2017-06-22,2022-11-10,98109

In [ ]:
# Convertir las columnas de fecha a objetos datetime
estaciones['INICIO'] = pd.to_datetime(estaciones['INICIO'])
estaciones['FINAL'] = pd.to_datetime(estaciones['FINAL'])

In [ ]:
# Seleccionar filas con 10 o más años de diferencia entre A y B
df_10_anos = estaciones[(estaciones['FINAL'] - estaciones['INICIO']) >= pd.Timedelta('3650 days')]
df_10_anos

,NUMERO,NOMBRE,LATITUD NORTE,LONGITUD OESTE,ALTITUD (msnm),INICIO,FINAL,ESTACION
0,100633,FINCA EL PATIO. PUERTO JIMENEZ,"08º 36' 04.6""","83º25'52.2""",24,2004-02-12,2022-12-31,100633
1,100641,COOPEAGROPAL. LAUREL .,"08º 28' 17.6""","82º51'38.4""",38,2007-03-09,2022-12-31,100641
2,100643,RIO CLARO,"08º 40' 26.5""","83º03'43.2""",51,2009-12-11,2022-12-31,100643
7,200002,ISLA DEL COCO,"05º 33' 00""","87º03'00""",75,2002-01-01,2017-07-11,200002
8,200007,ISLA SAN JOSE,"10º 51' 15.40""","85º54'34.50""",44,2008-05-24,2019-08-15,200007
...,...,...,...,...,...,...,...,...
146,98075,LAS BRISAS. SABALITO,"08º 52' 38.3""","82º53'27.5""",1073,2002-01-01,2022-11-10,98075
147,98087,PINDECO,"09º 08' 49""","83º20'06""",397,2002-01-01,2022-12-31,98087
148,98091,CHIRRIPO,"09º 27' 30""","83º30'30""",3440,2002-01-01,2022-04-18,98091
149,98095,ALTAMIRA,"09º 01' 45.7""","83º00'28.7""",1370,2002-01-01,2022-12-31,98095
150,98097,MONTECARLO. PZ,"09º 21' 28""","83º36'03""",1005,2008-06-17,2022-12-31,98097

In [ ]:
# Calcular la cantidad de años en cada fila y encontrar la máxima
estaciones['diff'] = estaciones['FINAL'].dt.year - estaciones['INICIO'].dt.year
max_diff = estaciones['diff'].max()

# Seleccionar solo las filas que tienen la cantidad máxima de años
df_max_diff = estaciones[estaciones['diff'] == max_diff]

In [ ]:
df_max_diff

,NUMERO,NOMBRE,LATITUD NORTE,LONGITUD OESTE,ALTITUD (msnm),INICIO,FINAL,ESTACION,diff
10,69633,COMANDO LOS CHILES,"11º 01' 54""","84º42'42""",40,2002-01-01,2022-12-31,69633,20
11,69647,FINCA BRASILIA DEL ORO,"10º 58' 58.9""","85º20'50.7""",381,2002-11-07,2022-12-31,69647,20
13,69679,UPALA,"10º 52' 51.5""","85º04'22.1""",60,2002-01-01,2022-12-31,69679,20
14,69681,LA REBUSCA,"10°28'28.3""","83°00'32.8""",40,2002-01-01,2022-12-31,69681,20
35,71015,CANTA GALLO,"10°29'48.9""","83°40'16.7""",30,2002-01-01,2022-12-31,71015,20
39,72157,FINCA LA CEIBA,"10º 06' 40""","85º19'03""",58,2002-01-01,2022-12-31,72157,20
40,72159,PAQUERA.,"09º 49' 17""","84º56'20""",10,2002-10-27,2022-12-31,72159,20
54,73123,ITCR. CARTAGO,"09º 51' 08""","83º54'31""",1360,2002-01-01,2022-12-31,73123,20
55,73129,RECOPE. OCHOMOGO,"09º 53' 40.21""","83º56'19.41""",1546,2002-01-01,2022-06-08,73129,20
72,74051,AEROP. LIBERIA OESTE 07,"10º 35' 20.40""","85º33'07.70""",89,2002-01-01,2022-12-31,74051,20
73,74053,SANTA CRUZ,"10º 17' 07""","85º35'30""",40,2002-01-01,2022-12-31,74053,20
84,76055,HDA. MOJICA,"10º 27' 09.8""","85º09'54.6""",43,2002-01-01,2022-12-31,76055,20
89,78027,PUNTARENAS,"09º 58' 20""","84º49'51.44""",3,2002-01-01,2022-11-08,78027,20
94,81005,AEROP. LIMON,"9°57'43.5""","83°01'31.2""",13,2002-01-01,2022-12-31,81005,20
101,84139,CIGEFI,"09º 56' 11""","84º02'43""",1210,2002-01-01,2022-12-31,84139,20
102,84141,IMN. ARANJUEZ,"09º 56' 16.61""","84º04'10.83""",1181,2002-01-01,2022-12-31,84141,20
105,84187,FABIO BAUDRIT,"10º 00' 18""","84º15'56""",840,2002-01-01,2022-12-31,84187,20
107,84191,RECOPE. LA GARITA,"10º 00' 19""","84º17'45""",740,2002-01-01,2022-12-31,84191,20
109,84197,SANTA BARBARA,"10º 02' 00""","84º09'57""",1070,2002-01-01,2022-12-06,84197,20
130,85021,HITOY CERERE,"9°40'23.1""","83°01'28.4""",170,2002-01-01,2022-11-01,85021,20
135,87013,SIXAOLA,"09º 31' 39""","82º38'2""",10,2002-01-01,2022-12-31,87013,20
146,98075,LAS BRISAS. SABALITO,"08º 52' 38.3""","82º53'27.5""",1073,2002-01-01,2022-11-10,98075,20
147,98087,PINDECO,"09º 08' 49""","83º20'06""",397,2002-01-01,2022-12-31,98087,20
148,98091,CHIRRIPO,"09º 27' 30""","83º30'30""",3440,2002-01-01,2022-04-18,98091,20
149,98095,ALTAMIRA,"09º 01' 45.7""","83º00'28.7""",1370,2002-01-01,2022-12-31,98095,20