# Climatología de Lluvia Observada

## Importar librerias

In [13]:
import glob
import pandas as pd
import seaborn as sns
import os
import zipfile
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np

## Abrir todos los archivos excel por cuenca

Cargar los archivos. La variable "filenames" contiene una ruta de archivo en Windows que apunta a archivos con extensión ".xlsx" relacionados con datos observados de lluvia en diferentes cuencas.

In [14]:
filenames = 'C:/Users/arias/OneDrive/Documentos/UCR/TFG/Climatologia/Observado/Lluvia/Cuencas/Cuenca*.xlsx'

Se crea un diccionario vacío llamado `dat` para almacenar los datos de cada archivo. Luego, se utiliza un bucle para recorrer cada archivo de Excel que coincide con el patrón especificado en "filenames" utilizando la función `glob`. Los datos de cada archivo se leen utilizando la biblioteca pandas y se almacenan en el diccionario "dat", utilizando el nombre del archivo como clave.

In [15]:
dat = {}

for file in glob.glob(filenames):
    dat[file] = pd.read_excel(file)

Se accede a los datos de cada archivo dentro del diccionario `dat` utilizando su nombre de archivo como clave. Los datos se extraen y se agregan a una lista llamada `data_new`.

In [16]:
data_new = []

for file, data in dat.items():
    data_new.append(data)

In [19]:
data_new

[       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         100      633 2004-02-12           0.00
 1         100      633 2004-02-13           1.78
 2         100      633 2004-02-14           0.51
 3         100      633 2004-02-15           0.00
 4         100      633 2004-02-16           0.00
 ...       ...      ...        ...            ...
 29854     100      655 2022-12-27           0.20
 29855     100      655 2022-12-28           0.00
 29856     100      655 2022-12-29           7.80
 29857     100      655 2022-12-30           0.60
 29858     100      655 2022-12-31           0.20

 [29859 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0        200      002 2002-01-01            6.0
 1        200      002 2002-01-02            1.3
 2        200      002 2002-01-03            1.6
 3        200      002 2002-01-04           42.2
 4        200      002 2002-01-05            0.0
 ...      ...      ...        ...            ...
 6636     200      009 2018-03-04            0.0
 6637     200      009 2018-03-05            0.0
 6638     200      009 2018-03-06            0.0
 6639     200      009 2018-03-07            0.3
 6640     200      009 2018-03-08            2.0

 [6641 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          69      633 2002-01-01            0.0
 1          69      633 2002-01-02            1.9
 2          69      633 2002-01-03            8.9
 3          69      633 2002-01-04            4.1
 4          69      633 2002-01-05            3.2
 ...       ...      ...        ...            ...
 94758      69      749 2022-12-27            6.4
 94759      69      749 2022-12-28            1.2
 94760      69      749 2022-12-29            5.4
 94761      69      749 2022-12-30           10.2
 94762      69      749 2022-12-31            0.0

 [94763 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         71      015 2002-01-01           10.7
 1         71      015 2002-01-02            1.3
 2         71      015 2002-01-03            4.0
 3         71      015 2002-01-04           24.0
 4         71      015 2002-01-05           20.2
 ...      ...      ...        ...            ...
 8662      71      023 2021-11-13            2.2
 8663      71      023 2021-11-14            6.8
 8664      71      023 2021-11-15           45.8
 8665      71      023 2021-11-16            2.2
 8666      71      023 2021-11-17           36.8

 [8667 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          72      149 2004-03-23            0.0
 1          72      149 2004-03-24            0.0
 2          72      149 2004-03-25            0.0
 3          72      149 2004-03-26            0.0
 4          72      149 2004-03-27            0.0
 ...       ...      ...        ...            ...
 55831      72      195 2022-11-26           50.6
 55832      72      195 2022-11-27          132.6
 55833      72      195 2022-11-28            8.4
 55834      72      195 2022-11-29            1.0
 55835      72      195 2022-11-30            0.0

 [55836 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          73      123 2002-01-01            0.2
 1          73      123 2002-01-02            0.0
 2          73      123 2002-01-03            5.3
 3          73      123 2002-01-04            3.0
 4          73      123 2002-01-05            3.0
 ...       ...      ...        ...            ...
 65730      73      171 2022-12-27            0.0
 65731      73      171 2022-12-28            0.0
 65732      73      171 2022-12-29            0.0
 65733      73      171 2022-12-30            0.0
 65734      73      171 2022-12-31            0.0

 [65735 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          74      051 2002-01-01            0.0
 1          74      051 2002-01-02            0.0
 2          74      051 2002-01-03            0.0
 3          74      051 2002-01-04            0.0
 4          74      051 2002-01-05            0.0
 ...       ...      ...        ...            ...
 38249      74      083 2022-11-18            0.0
 38250      74      083 2022-11-19            0.0
 38251      74      083 2022-11-20            0.0
 38252      74      083 2022-11-21            0.0
 38253      74      083 2022-11-22            0.0

 [38254 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          76      055 2002-01-01            0.0
 1          76      055 2002-01-02            0.0
 2          76      055 2002-01-03            0.0
 3          76      055 2002-01-04            1.4
 4          76      055 2002-01-05            0.0
 ...       ...      ...        ...            ...
 18068      76      067 2022-11-01            0.2
 18069      76      067 2022-11-02            3.2
 18070      76      067 2022-11-03            3.8
 18071      76      067 2022-11-04            1.2
 18072      76      067 2022-11-05           16.6

 [18073 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          78      027 2002-01-01            0.0
 1          78      027 2002-01-02            1.1
 2          78      027 2002-01-03            0.1
 3          78      027 2002-01-04            0.0
 4          78      027 2002-01-05            0.0
 ...       ...      ...        ...            ...
 13884      78      035 2022-12-27            0.0
 13885      78      035 2022-12-28            0.0
 13886      78      035 2022-12-29            0.0
 13887      78      035 2022-12-30            0.0
 13888      78      035 2022-12-31            0.0

 [13889 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         80      013 2014-08-19           17.8
 1         80      013 2014-08-20           41.9
 2         80      013 2014-08-21            0.0
 3         80      013 2014-08-22            2.2
 4         80      013 2014-08-23            0.0
 ...      ...      ...        ...            ...
 2762      80      013 2022-11-04           36.2
 2763      80      013 2022-11-05           82.3
 2764      80      013 2022-11-06           20.0
 2765      80      013 2022-11-07           28.8
 2766      80      013 2022-11-08            0.1

 [2767 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         81      005 2002-01-01           1.27
 1         81      005 2002-01-02           0.51
 2         81      005 2002-01-03           2.79
 3         81      005 2002-01-04          16.51
 4         81      005 2002-01-05           7.36
 ...      ...      ...        ...            ...
 7383      81      005 2022-12-27           1.60
 7384      81      005 2022-12-28           0.00
 7385      81      005 2022-12-29           0.80
 7386      81      005 2022-12-30           0.80
 7387      81      005 2022-12-31           0.00

 [7388 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          82      011 2012-11-22            0.2
 1          82      011 2012-11-23            0.0
 2          82      011 2012-11-24            0.0
 3          82      011 2012-11-25            0.9
 4          82      011 2012-11-26            0.0
 ...       ...      ...        ...            ...
 13264      82      019 2022-12-27            0.0
 13265      82      019 2022-12-28            0.0
 13266      82      019 2022-12-29            4.4
 13267      82      019 2022-12-30            0.0
 13268      82      019 2022-12-31            0.0

 [13269 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         83      007 2013-09-11            8.2
 1         83      007 2013-09-12            4.6
 2         83      007 2013-09-13            0.0
 3         83      007 2013-09-14            0.0
 4         83      007 2013-09-15            0.0
 ...      ...      ...        ...            ...
 3074      83      007 2022-10-29            0.0
 3075      83      007 2022-10-30            0.0
 3076      83      007 2022-10-31            4.6
 3077      83      007 2022-11-01            6.4
 3078      83      007 2022-11-02            0.0

 [3079 rows x 4 columns],
         CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0           84      139 2002-01-01            0.1
 1           84      139 2002-01-02            0.2
 2           84      139 2002-01-03            0.0
 3           84      139 2002-01-04            0.0
 4           84      139 2002-01-05            0.0
 ...        ...      ...        ...            ...
 122319      84      295 2022-12-27            0.0
 122320      84      295 2022-12-28            0.0
 122321      84      295 2022-12-29            0.0
 122322      84      295 2022-12-30            0.0
 122323      84      295 2022-12-31            0.0

 [122324 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          85      021 2002-01-01            1.9
 1          85      021 2002-01-02           12.8
 2          85      021 2002-01-03            8.2
 3          85      021 2002-01-04            7.6
 4          85      021 2002-01-05           10.7
 ...       ...      ...        ...            ...
 16731      85      027 2020-10-30            0.0
 16732      85      027 2020-10-31            0.0
 16733      85      027 2020-11-01            3.8
 16734      85      027 2020-11-02            0.2
 16735      85      027 2020-11-03            0.0

 [16736 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         86      013 2015-05-06            0.8
 1         86      013 2015-05-07            0.0
 2         86      013 2015-05-08            0.0
 3         86      013 2015-05-09            0.4
 4         86      013 2015-05-10            0.4
 ...      ...      ...        ...            ...
 2780      86      013 2022-12-18            0.0
 2781      86      013 2022-12-19            0.0
 2782      86      013 2022-12-20            0.0
 2783      86      013 2022-12-21            0.0
 2784      86      013 2022-12-22            0.0

 [2785 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         87      013 2002-01-01           0.00
 1         87      013 2002-01-02           0.25
 2         87      013 2002-01-03          10.91
 3         87      013 2002-01-04           0.00
 4         87      013 2002-01-05           4.57
 ...      ...      ...        ...            ...
 6392      87      013 2022-12-27           0.00
 6393      87      013 2022-12-28           0.00
 6394      87      013 2022-12-29           2.40
 6395      87      013 2022-12-30           0.60
 6396      87      013 2022-12-31           0.00

 [6397 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          88      035 2002-01-01            0.0
 1          88      035 2002-01-02            0.0
 2          88      035 2002-01-03            0.3
 3          88      035 2002-01-04            0.1
 4          88      035 2002-01-05            0.6
 ...       ...      ...        ...            ...
 16015      88      055 2022-12-02            0.4
 16016      88      055 2022-12-03            0.6
 16017      88      055 2022-12-04            0.0
 16018      88      055 2022-12-05            0.0
 16019      88      055 2022-12-06            0.0

 [16020 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         90      015 2014-03-12            0.0
 1         90      015 2014-03-13            0.0
 2         90      015 2014-03-14           27.2
 3         90      015 2014-03-15            0.4
 4         90      015 2014-03-16            0.0
 ...      ...      ...        ...            ...
 3070      90      015 2022-12-11            1.0
 3071      90      015 2022-12-12            0.0
 3072      90      015 2022-12-13            9.8
 3073      90      015 2022-12-14           31.4
 3074      90      015 2022-12-15            0.0

 [3075 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         94      013 2012-01-31            0.0
 1         94      013 2012-02-01            0.0
 2         94      013 2012-02-02            0.0
 3         94      013 2012-02-03            0.0
 4         94      013 2012-02-04            0.4
 ...      ...      ...        ...            ...
 8448      94      019 2022-12-27            0.0
 8449      94      019 2022-12-28            0.2
 8450      94      019 2022-12-29            0.4
 8451      94      019 2022-12-30            6.4
 8452      94      019 2022-12-31            0.2

 [8453 rows x 4 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0         96      003 2013-05-14            0.0
 1         96      003 2013-05-15            0.0
 2         96      003 2013-05-16            0.1
 3         96      003 2013-05-17            0.0
 4         96      003 2013-05-18            0.0
 ...      ...      ...        ...            ...
 3450      96      003 2022-11-06           21.8
 3451      96      003 2022-11-07           41.6
 3452      96      003 2022-11-08           24.4
 3453      96      003 2022-11-09            0.6
 3454      96      003 2022-11-10            0.0

 [3455 rows x 4 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA
 0          98      075 2002-01-01            1.0
 1          98      075 2002-01-02            0.8
 2          98      075 2002-01-03           16.0
 3          98      075 2002-01-04            0.1
 4          98      075 2002-01-05            0.1
 ...       ...      ...        ...            ...
 41261      98      109 2022-11-06           23.3
 41262      98      109 2022-11-07           30.2
 41263      98      109 2022-11-08           51.5
 41264      98      109 2022-11-09            5.4
 41265      98      109 2022-11-10            0.1

 [41266 rows x 4 columns]]

## Arreglar datos

Se realiza un bucle utilizando la función `enumerate()` para recorrer los elementos de la lista `data_new`, donde cada elemento es un marco de datos. Dentro del bucle, se define una función llamada `formatear_valor()` que toma un valor y lo formatea añadiendo ceros a la izquierda según su magnitud. Luego, se aplica esta función a la columna 'ESTACION' del marco de datos actual utilizando el método `apply()`, modificando los valores de esa columna en su lugar. Esto se realiza para garantizar que todos los valores en la columna 'ESTACION' tengan una longitud específica con ceros a la izquierda.

In [18]:
for i, df in enumerate(data_new):
    def formatear_valor(valor):
        if valor < 10:
            return '00' + str(valor)
        elif valor < 100:
            return '0' + str(valor)
        else:
            return str(valor)

    # Aplicar la función a la tabla
    data_new[i]['ESTACION'] = data_new[i]['ESTACION'].apply(formatear_valor)

Se utiliza un bucle `for` con `enumerate()` para iterar sobre los elementos de la lista `data_new`, donde cada elemento es un DataFrame. Dentro del bucle, se crea una nueva columna llamada 'ESTACION_NEW' en el DataFrame actual. Esta columna combina las columnas 'CUENCA' y 'ESTACION' del DataFrame actual, convirtiendo los valores a tipo `str` (cadena de texto) y concatenándolos juntos. El resultado es una nueva columna que contiene la combinación de los valores de 'CUENCA' y 'ESTACION'.

In [20]:
for i, df in enumerate(data_new):
    data_new[i]['ESTACION_NEW'] = data_new[i]['CUENCA'].astype(str) + data_new[i]['ESTACION'].astype(str)

In [21]:
data_new

[       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         100      633 2004-02-12           0.00       100633
 1         100      633 2004-02-13           1.78       100633
 2         100      633 2004-02-14           0.51       100633
 3         100      633 2004-02-15           0.00       100633
 4         100      633 2004-02-16           0.00       100633
 ...       ...      ...        ...            ...          ...
 29854     100      655 2022-12-27           0.20       100655
 29855     100      655 2022-12-28           0.00       100655
 29856     100      655 2022-12-29           7.80       100655
 29857     100      655 2022-12-30           0.60       100655
 29858     100      655 2022-12-31           0.20       100655

 [29859 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0        200      002 2002-01-01            6.0       200002
 1        200      002 2002-01-02            1.3       200002
 2        200      002 2002-01-03            1.6       200002
 3        200      002 2002-01-04           42.2       200002
 4        200      002 2002-01-05            0.0       200002
 ...      ...      ...        ...            ...          ...
 6636     200      009 2018-03-04            0.0       200009
 6637     200      009 2018-03-05            0.0       200009
 6638     200      009 2018-03-06            0.0       200009
 6639     200      009 2018-03-07            0.3       200009
 6640     200      009 2018-03-08            2.0       200009

 [6641 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          69      633 2002-01-01            0.0        69633
 1          69      633 2002-01-02            1.9        69633
 2          69      633 2002-01-03            8.9        69633
 3          69      633 2002-01-04            4.1        69633
 4          69      633 2002-01-05            3.2        69633
 ...       ...      ...        ...            ...          ...
 94758      69      749 2022-12-27            6.4        69749
 94759      69      749 2022-12-28            1.2        69749
 94760      69      749 2022-12-29            5.4        69749
 94761      69      749 2022-12-30           10.2        69749
 94762      69      749 2022-12-31            0.0        69749

 [94763 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         71      015 2002-01-01           10.7        71015
 1         71      015 2002-01-02            1.3        71015
 2         71      015 2002-01-03            4.0        71015
 3         71      015 2002-01-04           24.0        71015
 4         71      015 2002-01-05           20.2        71015
 ...      ...      ...        ...            ...          ...
 8662      71      023 2021-11-13            2.2        71023
 8663      71      023 2021-11-14            6.8        71023
 8664      71      023 2021-11-15           45.8        71023
 8665      71      023 2021-11-16            2.2        71023
 8666      71      023 2021-11-17           36.8        71023

 [8667 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          72      149 2004-03-23            0.0        72149
 1          72      149 2004-03-24            0.0        72149
 2          72      149 2004-03-25            0.0        72149
 3          72      149 2004-03-26            0.0        72149
 4          72      149 2004-03-27            0.0        72149
 ...       ...      ...        ...            ...          ...
 55831      72      195 2022-11-26           50.6        72195
 55832      72      195 2022-11-27          132.6        72195
 55833      72      195 2022-11-28            8.4        72195
 55834      72      195 2022-11-29            1.0        72195
 55835      72      195 2022-11-30            0.0        72195

 [55836 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          73      123 2002-01-01            0.2        73123
 1          73      123 2002-01-02            0.0        73123
 2          73      123 2002-01-03            5.3        73123
 3          73      123 2002-01-04            3.0        73123
 4          73      123 2002-01-05            3.0        73123
 ...       ...      ...        ...            ...          ...
 65730      73      171 2022-12-27            0.0        73171
 65731      73      171 2022-12-28            0.0        73171
 65732      73      171 2022-12-29            0.0        73171
 65733      73      171 2022-12-30            0.0        73171
 65734      73      171 2022-12-31            0.0        73171

 [65735 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          74      051 2002-01-01            0.0        74051
 1          74      051 2002-01-02            0.0        74051
 2          74      051 2002-01-03            0.0        74051
 3          74      051 2002-01-04            0.0        74051
 4          74      051 2002-01-05            0.0        74051
 ...       ...      ...        ...            ...          ...
 38249      74      083 2022-11-18            0.0        74083
 38250      74      083 2022-11-19            0.0        74083
 38251      74      083 2022-11-20            0.0        74083
 38252      74      083 2022-11-21            0.0        74083
 38253      74      083 2022-11-22            0.0        74083

 [38254 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          76      055 2002-01-01            0.0        76055
 1          76      055 2002-01-02            0.0        76055
 2          76      055 2002-01-03            0.0        76055
 3          76      055 2002-01-04            1.4        76055
 4          76      055 2002-01-05            0.0        76055
 ...       ...      ...        ...            ...          ...
 18068      76      067 2022-11-01            0.2        76067
 18069      76      067 2022-11-02            3.2        76067
 18070      76      067 2022-11-03            3.8        76067
 18071      76      067 2022-11-04            1.2        76067
 18072      76      067 2022-11-05           16.6        76067

 [18073 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          78      027 2002-01-01            0.0        78027
 1          78      027 2002-01-02            1.1        78027
 2          78      027 2002-01-03            0.1        78027
 3          78      027 2002-01-04            0.0        78027
 4          78      027 2002-01-05            0.0        78027
 ...       ...      ...        ...            ...          ...
 13884      78      035 2022-12-27            0.0        78035
 13885      78      035 2022-12-28            0.0        78035
 13886      78      035 2022-12-29            0.0        78035
 13887      78      035 2022-12-30            0.0        78035
 13888      78      035 2022-12-31            0.0        78035

 [13889 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         80      013 2014-08-19           17.8        80013
 1         80      013 2014-08-20           41.9        80013
 2         80      013 2014-08-21            0.0        80013
 3         80      013 2014-08-22            2.2        80013
 4         80      013 2014-08-23            0.0        80013
 ...      ...      ...        ...            ...          ...
 2762      80      013 2022-11-04           36.2        80013
 2763      80      013 2022-11-05           82.3        80013
 2764      80      013 2022-11-06           20.0        80013
 2765      80      013 2022-11-07           28.8        80013
 2766      80      013 2022-11-08            0.1        80013

 [2767 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         81      005 2002-01-01           1.27        81005
 1         81      005 2002-01-02           0.51        81005
 2         81      005 2002-01-03           2.79        81005
 3         81      005 2002-01-04          16.51        81005
 4         81      005 2002-01-05           7.36        81005
 ...      ...      ...        ...            ...          ...
 7383      81      005 2022-12-27           1.60        81005
 7384      81      005 2022-12-28           0.00        81005
 7385      81      005 2022-12-29           0.80        81005
 7386      81      005 2022-12-30           0.80        81005
 7387      81      005 2022-12-31           0.00        81005

 [7388 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          82      011 2012-11-22            0.2        82011
 1          82      011 2012-11-23            0.0        82011
 2          82      011 2012-11-24            0.0        82011
 3          82      011 2012-11-25            0.9        82011
 4          82      011 2012-11-26            0.0        82011
 ...       ...      ...        ...            ...          ...
 13264      82      019 2022-12-27            0.0        82019
 13265      82      019 2022-12-28            0.0        82019
 13266      82      019 2022-12-29            4.4        82019
 13267      82      019 2022-12-30            0.0        82019
 13268      82      019 2022-12-31            0.0        82019

 [13269 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         83      007 2013-09-11            8.2        83007
 1         83      007 2013-09-12            4.6        83007
 2         83      007 2013-09-13            0.0        83007
 3         83      007 2013-09-14            0.0        83007
 4         83      007 2013-09-15            0.0        83007
 ...      ...      ...        ...            ...          ...
 3074      83      007 2022-10-29            0.0        83007
 3075      83      007 2022-10-30            0.0        83007
 3076      83      007 2022-10-31            4.6        83007
 3077      83      007 2022-11-01            6.4        83007
 3078      83      007 2022-11-02            0.0        83007

 [3079 rows x 5 columns],
         CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0           84      139 2002-01-01            0.1        84139
 1           84      139 2002-01-02            0.2        84139
 2           84      139 2002-01-03            0.0        84139
 3           84      139 2002-01-04            0.0        84139
 4           84      139 2002-01-05            0.0        84139
 ...        ...      ...        ...            ...          ...
 122319      84      295 2022-12-27            0.0        84295
 122320      84      295 2022-12-28            0.0        84295
 122321      84      295 2022-12-29            0.0        84295
 122322      84      295 2022-12-30            0.0        84295
 122323      84      295 2022-12-31            0.0        84295

 [122324 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          85      021 2002-01-01            1.9        85021
 1          85      021 2002-01-02           12.8        85021
 2          85      021 2002-01-03            8.2        85021
 3          85      021 2002-01-04            7.6        85021
 4          85      021 2002-01-05           10.7        85021
 ...       ...      ...        ...            ...          ...
 16731      85      027 2020-10-30            0.0        85027
 16732      85      027 2020-10-31            0.0        85027
 16733      85      027 2020-11-01            3.8        85027
 16734      85      027 2020-11-02            0.2        85027
 16735      85      027 2020-11-03            0.0        85027

 [16736 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         86      013 2015-05-06            0.8        86013
 1         86      013 2015-05-07            0.0        86013
 2         86      013 2015-05-08            0.0        86013
 3         86      013 2015-05-09            0.4        86013
 4         86      013 2015-05-10            0.4        86013
 ...      ...      ...        ...            ...          ...
 2780      86      013 2022-12-18            0.0        86013
 2781      86      013 2022-12-19            0.0        86013
 2782      86      013 2022-12-20            0.0        86013
 2783      86      013 2022-12-21            0.0        86013
 2784      86      013 2022-12-22            0.0        86013

 [2785 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         87      013 2002-01-01           0.00        87013
 1         87      013 2002-01-02           0.25        87013
 2         87      013 2002-01-03          10.91        87013
 3         87      013 2002-01-04           0.00        87013
 4         87      013 2002-01-05           4.57        87013
 ...      ...      ...        ...            ...          ...
 6392      87      013 2022-12-27           0.00        87013
 6393      87      013 2022-12-28           0.00        87013
 6394      87      013 2022-12-29           2.40        87013
 6395      87      013 2022-12-30           0.60        87013
 6396      87      013 2022-12-31           0.00        87013

 [6397 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          88      035 2002-01-01            0.0        88035
 1          88      035 2002-01-02            0.0        88035
 2          88      035 2002-01-03            0.3        88035
 3          88      035 2002-01-04            0.1        88035
 4          88      035 2002-01-05            0.6        88035
 ...       ...      ...        ...            ...          ...
 16015      88      055 2022-12-02            0.4        88055
 16016      88      055 2022-12-03            0.6        88055
 16017      88      055 2022-12-04            0.0        88055
 16018      88      055 2022-12-05            0.0        88055
 16019      88      055 2022-12-06            0.0        88055

 [16020 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         90      015 2014-03-12            0.0        90015
 1         90      015 2014-03-13            0.0        90015
 2         90      015 2014-03-14           27.2        90015
 3         90      015 2014-03-15            0.4        90015
 4         90      015 2014-03-16            0.0        90015
 ...      ...      ...        ...            ...          ...
 3070      90      015 2022-12-11            1.0        90015
 3071      90      015 2022-12-12            0.0        90015
 3072      90      015 2022-12-13            9.8        90015
 3073      90      015 2022-12-14           31.4        90015
 3074      90      015 2022-12-15            0.0        90015

 [3075 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         94      013 2012-01-31            0.0        94013
 1         94      013 2012-02-01            0.0        94013
 2         94      013 2012-02-02            0.0        94013
 3         94      013 2012-02-03            0.0        94013
 4         94      013 2012-02-04            0.4        94013
 ...      ...      ...        ...            ...          ...
 8448      94      019 2022-12-27            0.0        94019
 8449      94      019 2022-12-28            0.2        94019
 8450      94      019 2022-12-29            0.4        94019
 8451      94      019 2022-12-30            6.4        94019
 8452      94      019 2022-12-31            0.2        94019

 [8453 rows x 5 columns],
       CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0         96      003 2013-05-14            0.0        96003
 1         96      003 2013-05-15            0.0        96003
 2         96      003 2013-05-16            0.1        96003
 3         96      003 2013-05-17            0.0        96003
 4         96      003 2013-05-18            0.0        96003
 ...      ...      ...        ...            ...          ...
 3450      96      003 2022-11-06           21.8        96003
 3451      96      003 2022-11-07           41.6        96003
 3452      96      003 2022-11-08           24.4        96003
 3453      96      003 2022-11-09            0.6        96003
 3454      96      003 2022-11-10            0.0        96003

 [3455 rows x 5 columns],
        CUENCA ESTACION      FECHA  LLUVIA_DIARIA ESTACION_NEW
 0          98      075 2002-01-01            1.0        98075
 1          98      075 2002-01-02            0.8        98075
 2          98      075 2002-01-03           16.0        98075
 3          98      075 2002-01-04            0.1        98075
 4          98      075 2002-01-05            0.1        98075
 ...       ...      ...        ...            ...          ...
 41261      98      109 2022-11-06           23.3        98109
 41262      98      109 2022-11-07           30.2        98109
 41263      98      109 2022-11-08           51.5        98109
 41264      98      109 2022-11-09            5.4        98109
 41265      98      109 2022-11-10            0.1        98109

 [41266 rows x 5 columns]]

Se utiliza un bucle `for` con `enumerate()` para iterar sobre los elementos de la lista `data_new`, donde cada elemento es un DataFrame. Dentro del bucle, se utiliza el método `pop()` para eliminar las columnas 'CUENCA' y 'ESTACION' del DataFrame actual.

In [22]:
data_new = [tabla[['ESTACION_NEW', 'FECHA', 'LLUVIA_DIARIA']] for tabla in data_new]

In [23]:
data_new

[      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           100633 2004-02-12           0.00
 1           100633 2004-02-13           1.78
 2           100633 2004-02-14           0.51
 3           100633 2004-02-15           0.00
 4           100633 2004-02-16           0.00
 ...            ...        ...            ...
 29854       100655 2022-12-27           0.20
 29855       100655 2022-12-28           0.00
 29856       100655 2022-12-29           7.80
 29857       100655 2022-12-30           0.60
 29858       100655 2022-12-31           0.20

 [29859 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0          200002 2002-01-01            6.0
 1          200002 2002-01-02            1.3
 2          200002 2002-01-03            1.6
 3          200002 2002-01-04           42.2
 4          200002 2002-01-05            0.0
 ...           ...        ...            ...
 6636       200009 2018-03-04            0.0
 6637       200009 2018-03-05            0.0
 6638       200009 2018-03-06            0.0
 6639       200009 2018-03-07            0.3
 6640       200009 2018-03-08            2.0

 [6641 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            69633 2002-01-01            0.0
 1            69633 2002-01-02            1.9
 2            69633 2002-01-03            8.9
 3            69633 2002-01-04            4.1
 4            69633 2002-01-05            3.2
 ...            ...        ...            ...
 94758        69749 2022-12-27            6.4
 94759        69749 2022-12-28            1.2
 94760        69749 2022-12-29            5.4
 94761        69749 2022-12-30           10.2
 94762        69749 2022-12-31            0.0

 [94763 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           71015 2002-01-01           10.7
 1           71015 2002-01-02            1.3
 2           71015 2002-01-03            4.0
 3           71015 2002-01-04           24.0
 4           71015 2002-01-05           20.2
 ...           ...        ...            ...
 8662        71023 2021-11-13            2.2
 8663        71023 2021-11-14            6.8
 8664        71023 2021-11-15           45.8
 8665        71023 2021-11-16            2.2
 8666        71023 2021-11-17           36.8

 [8667 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            72149 2004-03-23            0.0
 1            72149 2004-03-24            0.0
 2            72149 2004-03-25            0.0
 3            72149 2004-03-26            0.0
 4            72149 2004-03-27            0.0
 ...            ...        ...            ...
 55831        72195 2022-11-26           50.6
 55832        72195 2022-11-27          132.6
 55833        72195 2022-11-28            8.4
 55834        72195 2022-11-29            1.0
 55835        72195 2022-11-30            0.0

 [55836 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            73123 2002-01-01            0.2
 1            73123 2002-01-02            0.0
 2            73123 2002-01-03            5.3
 3            73123 2002-01-04            3.0
 4            73123 2002-01-05            3.0
 ...            ...        ...            ...
 65730        73171 2022-12-27            0.0
 65731        73171 2022-12-28            0.0
 65732        73171 2022-12-29            0.0
 65733        73171 2022-12-30            0.0
 65734        73171 2022-12-31            0.0

 [65735 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            74051 2002-01-01            0.0
 1            74051 2002-01-02            0.0
 2            74051 2002-01-03            0.0
 3            74051 2002-01-04            0.0
 4            74051 2002-01-05            0.0
 ...            ...        ...            ...
 38249        74083 2022-11-18            0.0
 38250        74083 2022-11-19            0.0
 38251        74083 2022-11-20            0.0
 38252        74083 2022-11-21            0.0
 38253        74083 2022-11-22            0.0

 [38254 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            76055 2002-01-01            0.0
 1            76055 2002-01-02            0.0
 2            76055 2002-01-03            0.0
 3            76055 2002-01-04            1.4
 4            76055 2002-01-05            0.0
 ...            ...        ...            ...
 18068        76067 2022-11-01            0.2
 18069        76067 2022-11-02            3.2
 18070        76067 2022-11-03            3.8
 18071        76067 2022-11-04            1.2
 18072        76067 2022-11-05           16.6

 [18073 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            78027 2002-01-01            0.0
 1            78027 2002-01-02            1.1
 2            78027 2002-01-03            0.1
 3            78027 2002-01-04            0.0
 4            78027 2002-01-05            0.0
 ...            ...        ...            ...
 13884        78035 2022-12-27            0.0
 13885        78035 2022-12-28            0.0
 13886        78035 2022-12-29            0.0
 13887        78035 2022-12-30            0.0
 13888        78035 2022-12-31            0.0

 [13889 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           80013 2014-08-19           17.8
 1           80013 2014-08-20           41.9
 2           80013 2014-08-21            0.0
 3           80013 2014-08-22            2.2
 4           80013 2014-08-23            0.0
 ...           ...        ...            ...
 2762        80013 2022-11-04           36.2
 2763        80013 2022-11-05           82.3
 2764        80013 2022-11-06           20.0
 2765        80013 2022-11-07           28.8
 2766        80013 2022-11-08            0.1

 [2767 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           81005 2002-01-01           1.27
 1           81005 2002-01-02           0.51
 2           81005 2002-01-03           2.79
 3           81005 2002-01-04          16.51
 4           81005 2002-01-05           7.36
 ...           ...        ...            ...
 7383        81005 2022-12-27           1.60
 7384        81005 2022-12-28           0.00
 7385        81005 2022-12-29           0.80
 7386        81005 2022-12-30           0.80
 7387        81005 2022-12-31           0.00

 [7388 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            82011 2012-11-22            0.2
 1            82011 2012-11-23            0.0
 2            82011 2012-11-24            0.0
 3            82011 2012-11-25            0.9
 4            82011 2012-11-26            0.0
 ...            ...        ...            ...
 13264        82019 2022-12-27            0.0
 13265        82019 2022-12-28            0.0
 13266        82019 2022-12-29            4.4
 13267        82019 2022-12-30            0.0
 13268        82019 2022-12-31            0.0

 [13269 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           83007 2013-09-11            8.2
 1           83007 2013-09-12            4.6
 2           83007 2013-09-13            0.0
 3           83007 2013-09-14            0.0
 4           83007 2013-09-15            0.0
 ...           ...        ...            ...
 3074        83007 2022-10-29            0.0
 3075        83007 2022-10-30            0.0
 3076        83007 2022-10-31            4.6
 3077        83007 2022-11-01            6.4
 3078        83007 2022-11-02            0.0

 [3079 rows x 3 columns],
        ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0             84139 2002-01-01            0.1
 1             84139 2002-01-02            0.2
 2             84139 2002-01-03            0.0
 3             84139 2002-01-04            0.0
 4             84139 2002-01-05            0.0
 ...             ...        ...            ...
 122319        84295 2022-12-27            0.0
 122320        84295 2022-12-28            0.0
 122321        84295 2022-12-29            0.0
 122322        84295 2022-12-30            0.0
 122323        84295 2022-12-31            0.0

 [122324 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            85021 2002-01-01            1.9
 1            85021 2002-01-02           12.8
 2            85021 2002-01-03            8.2
 3            85021 2002-01-04            7.6
 4            85021 2002-01-05           10.7
 ...            ...        ...            ...
 16731        85027 2020-10-30            0.0
 16732        85027 2020-10-31            0.0
 16733        85027 2020-11-01            3.8
 16734        85027 2020-11-02            0.2
 16735        85027 2020-11-03            0.0

 [16736 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           86013 2015-05-06            0.8
 1           86013 2015-05-07            0.0
 2           86013 2015-05-08            0.0
 3           86013 2015-05-09            0.4
 4           86013 2015-05-10            0.4
 ...           ...        ...            ...
 2780        86013 2022-12-18            0.0
 2781        86013 2022-12-19            0.0
 2782        86013 2022-12-20            0.0
 2783        86013 2022-12-21            0.0
 2784        86013 2022-12-22            0.0

 [2785 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           87013 2002-01-01           0.00
 1           87013 2002-01-02           0.25
 2           87013 2002-01-03          10.91
 3           87013 2002-01-04           0.00
 4           87013 2002-01-05           4.57
 ...           ...        ...            ...
 6392        87013 2022-12-27           0.00
 6393        87013 2022-12-28           0.00
 6394        87013 2022-12-29           2.40
 6395        87013 2022-12-30           0.60
 6396        87013 2022-12-31           0.00

 [6397 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            88035 2002-01-01            0.0
 1            88035 2002-01-02            0.0
 2            88035 2002-01-03            0.3
 3            88035 2002-01-04            0.1
 4            88035 2002-01-05            0.6
 ...            ...        ...            ...
 16015        88055 2022-12-02            0.4
 16016        88055 2022-12-03            0.6
 16017        88055 2022-12-04            0.0
 16018        88055 2022-12-05            0.0
 16019        88055 2022-12-06            0.0

 [16020 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           90015 2014-03-12            0.0
 1           90015 2014-03-13            0.0
 2           90015 2014-03-14           27.2
 3           90015 2014-03-15            0.4
 4           90015 2014-03-16            0.0
 ...           ...        ...            ...
 3070        90015 2022-12-11            1.0
 3071        90015 2022-12-12            0.0
 3072        90015 2022-12-13            9.8
 3073        90015 2022-12-14           31.4
 3074        90015 2022-12-15            0.0

 [3075 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           94013 2012-01-31            0.0
 1           94013 2012-02-01            0.0
 2           94013 2012-02-02            0.0
 3           94013 2012-02-03            0.0
 4           94013 2012-02-04            0.4
 ...           ...        ...            ...
 8448        94019 2022-12-27            0.0
 8449        94019 2022-12-28            0.2
 8450        94019 2022-12-29            0.4
 8451        94019 2022-12-30            6.4
 8452        94019 2022-12-31            0.2

 [8453 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           96003 2013-05-14            0.0
 1           96003 2013-05-15            0.0
 2           96003 2013-05-16            0.1
 3           96003 2013-05-17            0.0
 4           96003 2013-05-18            0.0
 ...           ...        ...            ...
 3450        96003 2022-11-06           21.8
 3451        96003 2022-11-07           41.6
 3452        96003 2022-11-08           24.4
 3453        96003 2022-11-09            0.6
 3454        96003 2022-11-10            0.0

 [3455 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0            98075 2002-01-01            1.0
 1            98075 2002-01-02            0.8
 2            98075 2002-01-03           16.0
 3            98075 2002-01-04            0.1
 4            98075 2002-01-05            0.1
 ...            ...        ...            ...
 41261        98109 2022-11-06           23.3
 41262        98109 2022-11-07           30.2
 41263        98109 2022-11-08           51.5
 41264        98109 2022-11-09            5.4
 41265        98109 2022-11-10            0.1

 [41266 rows x 3 columns]]

## Agrupar datos por estación

Se crea una lista llamada "my_list" que contiene números del 0 al 21 utilizando la función `np.arange()`. Luego, se inicializa una lista vacía llamada "porestacion". A continuación, se realiza un bucle `for` para iterar sobre los elementos de "my_list". Dentro del bucle, se utiliza el método `groupby()` para agrupar los datos del DataFrame por la columna 'ESTACION_NEW'.

In [35]:
data_por_estacion = []

for df in data_new:
    grupos = df.groupby('ESTACION_NEW')
    
    for ESTACION, grupo in grupos:
        data_por_estacion.append(grupo)

In [36]:
data_por_estacion

[     ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0          100633 2004-02-12           0.00
 1          100633 2004-02-13           1.78
 2          100633 2004-02-14           0.51
 3          100633 2004-02-15           0.00
 4          100633 2004-02-16           0.00
 ...           ...        ...            ...
 6508       100633 2022-12-27           7.00
 6509       100633 2022-12-28           2.20
 6510       100633 2022-12-29          27.20
 6511       100633 2022-12-30           2.00
 6512       100633 2022-12-31           7.60

 [6513 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 6513        100641 2007-03-09            0.9
 6514        100641 2007-03-10            1.9
 6515        100641 2007-03-11            8.5
 6516        100641 2007-03-12           12.5
 6517        100641 2007-03-13            0.0
 ...            ...        ...            ...
 11976       100641 2022-12-27            0.8
 11977       100641 2022-12-28           11.6
 11978       100641 2022-12-29           15.6
 11979       100641 2022-12-30            0.0
 11980       100641 2022-12-31           65.8

 [5468 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 11981       100643 2009-12-11            1.4
 11982       100643 2009-12-12            0.2
 11983       100643 2009-12-13            0.0
 11984       100643 2009-12-14            0.5
 11985       100643 2009-12-15            0.0
 ...            ...        ...            ...
 16745       100643 2022-12-27            2.0
 16746       100643 2022-12-28           30.2
 16747       100643 2022-12-29            0.8
 16748       100643 2022-12-30            6.4
 16749       100643 2022-12-31            5.4

 [4769 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 16750       100649 2013-01-16            0.0
 16751       100649 2013-01-17            2.7
 16752       100649 2013-01-18            0.6
 16753       100649 2013-01-19            0.0
 16754       100649 2013-01-20            0.0
 ...            ...        ...            ...
 20092       100649 2022-11-06           40.2
 20093       100649 2022-11-07           38.6
 20094       100649 2022-11-08           21.2
 20095       100649 2022-11-09           55.2
 20096       100649 2022-11-10           27.2

 [3347 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 20097       100651 2013-05-16            0.6
 20098       100651 2013-05-17            0.2
 20099       100651 2013-05-18           16.0
 20100       100651 2013-05-19            1.8
 20101       100651 2013-05-20           27.0
 ...            ...        ...            ...
 23534       100651 2022-12-27            5.2
 23535       100651 2022-12-28           51.6
 23536       100651 2022-12-29            9.8
 23537       100651 2022-12-30           76.4
 23538       100651 2022-12-31            0.2

 [3442 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 23539       100653 2013-09-04           33.8
 23540       100653 2013-09-05           28.1
 23541       100653 2013-09-06           35.8
 23542       100653 2013-09-07            5.8
 23543       100653 2013-09-08            0.1
 ...            ...        ...            ...
 26871       100653 2022-11-06           60.1
 26872       100653 2022-11-07           57.3
 26873       100653 2022-11-08           32.0
 26874       100653 2022-11-09           38.3
 26875       100653 2022-11-10            5.9

 [3337 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 26876       100655 2014-10-23            0.6
 26877       100655 2014-10-24            3.0
 26878       100655 2014-10-25           91.0
 26879       100655 2014-10-26           54.0
 26880       100655 2014-10-27            0.0
 ...            ...        ...            ...
 29854       100655 2022-12-27            0.2
 29855       100655 2022-12-28            0.0
 29856       100655 2022-12-29            7.8
 29857       100655 2022-12-30            0.6
 29858       100655 2022-12-31            0.2

 [2983 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0          200002 2002-01-01            6.0
 1          200002 2002-01-02            1.3
 2          200002 2002-01-03            1.6
 3          200002 2002-01-04           42.2
 4          200002 2002-01-05            0.0
 ...           ...        ...            ...
 2485       200002 2017-07-07            3.4
 2486       200002 2017-07-08            6.2
 2487       200002 2017-07-09           67.0
 2488       200002 2017-07-10            2.8
 2489       200002 2017-07-11            0.6

 [2490 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 2490       200007 2008-05-24           0.00
 2491       200007 2008-05-25          31.50
 2492       200007 2008-05-26          20.07
 2493       200007 2008-05-27          11.68
 2494       200007 2008-05-28           5.84
 ...           ...        ...            ...
 5089       200007 2019-08-11          91.20
 5090       200007 2019-08-12          61.20
 5091       200007 2019-08-13          41.40
 5092       200007 2019-08-14          21.20
 5093       200007 2019-08-15           0.40

 [2604 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 5094       200009 2013-11-23            0.0
 5095       200009 2013-11-24            1.2
 5096       200009 2013-11-25           36.8
 5097       200009 2013-11-26           11.7
 5098       200009 2013-11-27            9.6
 ...           ...        ...            ...
 6636       200009 2018-03-04            0.0
 6637       200009 2018-03-05            0.0
 6638       200009 2018-03-06            0.0
 6639       200009 2018-03-07            0.3
 6640       200009 2018-03-08            2.0

 [1547 rows x 3 columns],
      ESTACION_NEW      FECHA  LLUVIA_DIARIA
 0           69633 2002-01-01            0.0
 1           69633 2002-01-02            1.9
 2           69633 2002-01-03            8.9
 3           69633 2002-01-04            4.1
 4           69633 2002-01-05            3.2
 ...           ...        ...            ...
 6978        69633 2022-12-27            3.4
 6979        69633 2022-12-28            0.0
 6980        69633 2022-12-29            4.0
 6981        69633 2022-12-30            1.6
 6982        69633 2022-12-31            0.0

 [6983 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 6983         69647 2002-11-07          19.54
 6984         69647 2002-11-08          27.16
 6985         69647 2002-11-09          25.66
 6986         69647 2002-11-10           2.79
 6987         69647 2002-11-11          19.05
 ...            ...        ...            ...
 14037        69647 2022-12-27           7.20
 14038        69647 2022-12-28           2.80
 14039        69647 2022-12-29           4.00
 14040        69647 2022-12-30           7.80
 14041        69647 2022-12-31           0.00

 [7059 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 14042        69677 2002-01-01            0.0
 14043        69677 2002-01-02            3.3
 14044        69677 2002-01-03            9.6
 14045        69677 2002-01-04           11.3
 14046        69677 2002-01-05            4.9
 ...            ...        ...            ...
 21055        69677 2021-10-09            0.6
 21056        69677 2021-10-10           10.6
 21057        69677 2021-10-11           14.8
 21058        69677 2021-10-12            0.0
 21059        69677 2021-10-13            0.0

 [7018 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 21060        69679 2002-01-01           0.00
 21061        69679 2002-01-02           1.51
 21062        69679 2002-01-03           4.55
 21063        69679 2002-01-04           4.80
 21064        69679 2002-01-05           2.27
 ...            ...        ...            ...
 28393        69679 2022-12-27           9.20
 28394        69679 2022-12-28           0.00
 28395        69679 2022-12-29           5.00
 28396        69679 2022-12-30           2.60
 28397        69679 2022-12-31           0.20

 [7338 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 28398        69681 2002-01-01            4.4
 28399        69681 2002-01-02            1.3
 28400        69681 2002-01-03            9.3
 28401        69681 2002-01-04           14.4
 28402        69681 2002-01-05            8.3
 ...            ...        ...            ...
 35496        69681 2022-12-27            0.0
 35497        69681 2022-12-28            0.0
 35498        69681 2022-12-29            0.0
 35499        69681 2022-12-30            0.0
 35500        69681 2022-12-31            0.6

 [7103 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 35501        69699 2011-03-15            0.2
 35502        69699 2011-03-16            0.0
 35503        69699 2011-03-17            0.0
 35504        69699 2011-03-18            0.0
 35505        69699 2011-03-19            0.0
 ...            ...        ...            ...
 39334        69699 2022-12-27            3.8
 39335        69699 2022-12-28            0.2
 39336        69699 2022-12-29            0.0
 39337        69699 2022-12-30            0.0
 39338        69699 2022-12-31            0.0

 [3838 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 39339        69701 2011-09-21            0.2
 39340        69701 2011-09-22            0.0
 39341        69701 2011-09-23            1.1
 39342        69701 2011-09-24           25.9
 39343        69701 2011-09-25            3.7
 ...            ...        ...            ...
 43442        69701 2022-12-27            0.0
 43443        69701 2022-12-28            0.0
 43444        69701 2022-12-29            0.0
 43445        69701 2022-12-30            0.0
 43446        69701 2022-12-31            0.4

 [4108 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 43447        69709 2012-08-20            1.6
 43448        69709 2012-08-21           45.8
 43449        69709 2012-08-22            4.3
 43450        69709 2012-08-23            0.0
 43451        69709 2012-08-24            0.0
 ...            ...        ...            ...
 47187        69709 2022-12-27            0.0
 47188        69709 2022-12-28            0.0
 47189        69709 2022-12-29            0.0
 47190        69709 2022-12-30            2.2
 47191        69709 2022-12-31            0.0

 [3745 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 47192        69711 2013-04-10            0.0
 47193        69711 2013-04-11            0.4
 47194        69711 2013-04-12            0.0
 47195        69711 2013-04-13            0.0
 47196        69711 2013-04-14            0.0
 ...            ...        ...            ...
 50516        69711 2022-12-27           18.8
 50517        69711 2022-12-28            0.2
 50518        69711 2022-12-29            1.6
 50519        69711 2022-12-30            0.2
 50520        69711 2022-12-31            0.0

 [3329 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 50521        69713 2013-04-12            0.0
 50522        69713 2013-04-13            0.0
 50523        69713 2013-04-14            0.4
 50524        69713 2013-04-15            0.0
 50525        69713 2013-04-16            0.0
 ...            ...        ...            ...
 54067        69713 2022-12-27            4.6
 54068        69713 2022-12-28            0.6
 54069        69713 2022-12-29            3.0
 54070        69713 2022-12-30            0.4
 54071        69713 2022-12-31            0.0

 [3551 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 54072        69715 2013-04-22            0.4
 54073        69715 2013-04-23            0.0
 54074        69715 2013-04-24            0.0
 54075        69715 2013-04-25            0.0
 54076        69715 2013-04-26            1.0
 ...            ...        ...            ...
 57507        69715 2022-12-27            0.0
 57508        69715 2022-12-28            0.0
 57509        69715 2022-12-29            3.8
 57510        69715 2022-12-30            0.2
 57511        69715 2022-12-31            0.8

 [3440 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 57512        69717 2013-09-17            1.9
 57513        69717 2013-09-18            0.0
 57514        69717 2013-09-19            0.0
 57515        69717 2013-09-20            0.0
 57516        69717 2013-09-21            0.0
 ...            ...        ...            ...
 60484        69717 2022-12-27            0.0
 60485        69717 2022-12-28            0.0
 60486        69717 2022-12-29            1.0
 60487        69717 2022-12-30            0.4
 60488        69717 2022-12-31            0.4

 [2977 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 60489        69719 2015-10-28           81.8
 60490        69719 2015-10-29            0.8
 60491        69719 2015-10-30            0.6
 60492        69719 2015-10-31            0.2
 60493        69719 2015-11-01            9.4
 ...            ...        ...            ...
 62422        69719 2022-08-26            2.6
 62423        69719 2022-08-27            0.6
 62424        69719 2022-08-28           19.6
 62425        69719 2022-08-29            5.4
 62426        69719 2022-08-30            0.0

 [1938 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 62427        69721 2013-10-08            0.0
 62428        69721 2013-10-09            9.4
 62429        69721 2013-10-10           22.8
 62430        69721 2013-10-11            0.4
 62431        69721 2013-10-12           21.4
 ...            ...        ...            ...
 65780        69721 2022-12-27            0.0
 65781        69721 2022-12-28            0.0
 65782        69721 2022-12-29            7.4
 65783        69721 2022-12-30            0.4
 65784        69721 2022-12-31            0.2

 [3358 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 65785        69723 2013-10-10            1.0
 65786        69723 2013-10-11            0.0
 65787        69723 2013-10-12            0.2
 65788        69723 2013-10-13           21.6
 65789        69723 2013-10-14            0.2
 ...            ...        ...            ...
 69094        69723 2022-12-27            0.0
 69095        69723 2022-12-28            0.0
 69096        69723 2022-12-29            0.0
 69097        69723 2022-12-30            0.6
 69098        69723 2022-12-31            0.0

 [3314 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 69099        69725 2014-10-15            0.2
 69100        69725 2014-10-16            0.4
 69101        69725 2014-10-17            6.8
 69102        69725 2014-10-18            6.2
 69103        69725 2014-10-19           13.4
 ...            ...        ...            ...
 71835        69725 2022-12-05            0.4
 71836        69725 2022-12-06            1.2
 71837        69725 2022-12-07            0.8
 71838        69725 2022-12-08            5.4
 71839        69725 2022-12-09            0.0

 [2741 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 71840        69727 2014-03-26            0.0
 71841        69727 2014-03-27            0.4
 71842        69727 2014-03-28            0.6
 71843        69727 2014-03-29            0.4
 71844        69727 2014-03-30            0.0
 ...            ...        ...            ...
 74949        69727 2022-11-17            3.4
 74950        69727 2022-11-18            1.2
 74951        69727 2022-11-19           69.2
 74952        69727 2022-11-20           14.8
 74953        69727 2022-11-21            1.4

 [3114 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 74954        69729 2014-09-22           8.47
 74955        69729 2014-09-23           0.25
 74956        69729 2014-09-24           6.10
 74957        69729 2014-09-25          23.37
 74958        69729 2014-09-26           5.58
 ...            ...        ...            ...
 77856        69729 2022-12-27           0.00
 77857        69729 2022-12-28           0.00
 77858        69729 2022-12-29           0.00
 77859        69729 2022-12-30           1.40
 77860        69729 2022-12-31           0.20

 [2907 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 77861        69731 2014-11-05           22.0
 77862        69731 2014-11-06           69.6
 77863        69731 2014-11-07           11.8
 77864        69731 2014-11-08            6.8
 77865        69731 2014-11-09           10.4
 ...            ...        ...            ...
 80618        69731 2022-12-27            0.0
 80619        69731 2022-12-28            1.4
 80620        69731 2022-12-29            1.0
 80621        69731 2022-12-30            1.6
 80622        69731 2022-12-31            0.8

 [2762 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 80623        69735 2015-02-20            9.2
 80624        69735 2015-02-21            2.8
 80625        69735 2015-02-22            0.2
 80626        69735 2015-02-23            0.2
 80627        69735 2015-02-24            6.8
 ...            ...        ...            ...
 83315        69735 2022-11-12            6.2
 83316        69735 2022-11-13           16.6
 83317        69735 2022-11-14           14.8
 83318        69735 2022-11-15           25.8
 83319        69735 2022-11-16            6.2

 [2697 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 83320        69737 2015-05-13            0.0
 83321        69737 2015-05-14            0.0
 83322        69737 2015-05-15            0.8
 83323        69737 2015-05-16            7.8
 83324        69737 2015-05-17            2.2
 ...            ...        ...            ...
 86009        69737 2022-12-12            0.0
 86010        69737 2022-12-13            0.4
 86011        69737 2022-12-14            0.4
 86012        69737 2022-12-15            0.8
 86013        69737 2022-12-16            3.8

 [2694 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 86014        69739 2015-05-14            0.0
 86015        69739 2015-05-15           56.2
 86016        69739 2015-05-16           61.2
 86017        69739 2015-05-17            2.0
 86018        69739 2015-05-18            3.6
 ...            ...        ...            ...
 88798        69739 2022-12-27            1.4
 88799        69739 2022-12-28            0.0
 88800        69739 2022-12-29            0.6
 88801        69739 2022-12-30            0.6
 88802        69739 2022-12-31            0.0

 [2789 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 88803        69743 2017-03-24            0.8
 88804        69743 2017-03-25            0.0
 88805        69743 2017-03-26            0.0
 88806        69743 2017-03-27            0.0
 88807        69743 2017-03-28            0.0
 ...            ...        ...            ...
 90904        69743 2022-12-27            0.0
 90905        69743 2022-12-28            0.8
 90906        69743 2022-12-29            0.4
 90907        69743 2022-12-30            0.4
 90908        69743 2022-12-31            0.2

 [2106 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 90909        69747 2017-04-21            2.2
 90910        69747 2017-04-22            0.0
 90911        69747 2017-04-23            0.0
 90912        69747 2017-04-24            0.6
 90913        69747 2017-04-25            3.2
 ...            ...        ...            ...
 92696        69747 2022-12-27           17.2
 92697        69747 2022-12-28            0.8
 92698        69747 2022-12-29            2.6
 92699        69747 2022-12-30            1.4
 92700        69747 2022-12-31            0.0

 [1792 rows x 3 columns],
       ESTACION_NEW      FECHA  LLUVIA_DIARIA
 92701        69749 2017-05-10            3.2
 92702        69749 2017-05-11           45.6
 92703        69749 2017-05-12            7.8
 92704        69749 2017-05-13            0.4
 92705        69749 2017-05-14            0.0
 ...            ...        ...            ...
 94758        69749 2022-12-27            6.4

Se realiza una copia profunda de la lista y modifica cada elemento para que contenga un único valor de la columna en la posición (0, 2) del DataFrame correspondiente.

In [37]:
NUMERO = [df.iloc[0, 0] for df in data_por_estacion]

Eliminar la columna 'ESTACION_NEW' de cada DataFrame en la lista "porestacion".

In [40]:
for i, df in enumerate(data_por_estacion):
    data_por_estacion[i].pop('ESTACION_NEW')

Se filtra cada DataFrame en la lista "data_por_estacion" para incluir solo las filas donde el valor de 'LLUVIA_DIARIA' es mayor o igual a 0.

In [41]:
for i, df in enumerate(data_por_estacion):
    data_por_estacion[i] = df.loc[df['LLUVIA_DIARIA'] >= 0]

In [42]:
data_por_estacion

[          FECHA  LLUVIA_DIARIA
 0    2004-02-12           0.00
 1    2004-02-13           1.78
 2    2004-02-14           0.51
 3    2004-02-15           0.00
 4    2004-02-16           0.00
 ...         ...            ...
 6508 2022-12-27           7.00
 6509 2022-12-28           2.20
 6510 2022-12-29          27.20
 6511 2022-12-30           2.00
 6512 2022-12-31           7.60

 [6513 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 6513  2007-03-09            0.9
 6514  2007-03-10            1.9
 6515  2007-03-11            8.5
 6516  2007-03-12           12.5
 6517  2007-03-13            0.0
 ...          ...            ...
 11976 2022-12-27            0.8
 11977 2022-12-28           11.6
 11978 2022-12-29           15.6
 11979 2022-12-30            0.0
 11980 2022-12-31           65.8

 [5468 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 11981 2009-12-11            1.4
 11982 2009-12-12            0.2
 11983 2009-12-13            0.0
 11984 2009-12-14            0.5
 11985 2009-12-15            0.0
 ...          ...            ...
 16745 2022-12-27            2.0
 16746 2022-12-28           30.2
 16747 2022-12-29            0.8
 16748 2022-12-30            6.4
 16749 2022-12-31            5.4

 [4769 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 16750 2013-01-16            0.0
 16751 2013-01-17            2.7
 16752 2013-01-18            0.6
 16753 2013-01-19            0.0
 16754 2013-01-20            0.0
 ...          ...            ...
 20092 2022-11-06           40.2
 20093 2022-11-07           38.6
 20094 2022-11-08           21.2
 20095 2022-11-09           55.2
 20096 2022-11-10           27.2

 [3347 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 20097 2013-05-16            0.6
 20098 2013-05-17            0.2
 20099 2013-05-18           16.0
 20100 2013-05-19            1.8
 20101 2013-05-20           27.0
 ...          ...            ...
 23534 2022-12-27            5.2
 23535 2022-12-28           51.6
 23536 2022-12-29            9.8
 23537 2022-12-30           76.4
 23538 2022-12-31            0.2

 [3442 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 23539 2013-09-04           33.8
 23540 2013-09-05           28.1
 23541 2013-09-06           35.8
 23542 2013-09-07            5.8
 23543 2013-09-08            0.1
 ...          ...            ...
 26871 2022-11-06           60.1
 26872 2022-11-07           57.3
 26873 2022-11-08           32.0
 26874 2022-11-09           38.3
 26875 2022-11-10            5.9

 [3337 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 26876 2014-10-23            0.6
 26877 2014-10-24            3.0
 26878 2014-10-25           91.0
 26879 2014-10-26           54.0
 26880 2014-10-27            0.0
 ...          ...            ...
 29854 2022-12-27            0.2
 29855 2022-12-28            0.0
 29856 2022-12-29            7.8
 29857 2022-12-30            0.6
 29858 2022-12-31            0.2

 [2983 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 0    2002-01-01            6.0
 1    2002-01-02            1.3
 2    2002-01-03            1.6
 3    2002-01-04           42.2
 4    2002-01-05            0.0
 ...         ...            ...
 2485 2017-07-07            3.4
 2486 2017-07-08            6.2
 2487 2017-07-09           67.0
 2488 2017-07-10            2.8
 2489 2017-07-11            0.6

 [2490 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 2490 2008-05-24           0.00
 2491 2008-05-25          31.50
 2492 2008-05-26          20.07
 2493 2008-05-27          11.68
 2494 2008-05-28           5.84
 ...         ...            ...
 5089 2019-08-11          91.20
 5090 2019-08-12          61.20
 5091 2019-08-13          41.40
 5092 2019-08-14          21.20
 5093 2019-08-15           0.40

 [2604 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 5094 2013-11-23            0.0
 5095 2013-11-24            1.2
 5096 2013-11-25           36.8
 5097 2013-11-26           11.7
 5098 2013-11-27            9.6
 ...         ...            ...
 6636 2018-03-04            0.0
 6637 2018-03-05            0.0
 6638 2018-03-06            0.0
 6639 2018-03-07            0.3
 6640 2018-03-08            2.0

 [1547 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 0    2002-01-01            0.0
 1    2002-01-02            1.9
 2    2002-01-03            8.9
 3    2002-01-04            4.1
 4    2002-01-05            3.2
 ...         ...            ...
 6978 2022-12-27            3.4
 6979 2022-12-28            0.0
 6980 2022-12-29            4.0
 6981 2022-12-30            1.6
 6982 2022-12-31            0.0

 [6983 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 6983  2002-11-07          19.54
 6984  2002-11-08          27.16
 6985  2002-11-09          25.66
 6986  2002-11-10           2.79
 6987  2002-11-11          19.05
 ...          ...            ...
 14037 2022-12-27           7.20
 14038 2022-12-28           2.80
 14039 2022-12-29           4.00
 14040 2022-12-30           7.80
 14041 2022-12-31           0.00

 [7059 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 14042 2002-01-01            0.0
 14043 2002-01-02            3.3
 14044 2002-01-03            9.6
 14045 2002-01-04           11.3
 14046 2002-01-05            4.9
 ...          ...            ...
 21055 2021-10-09            0.6
 21056 2021-10-10           10.6
 21057 2021-10-11           14.8
 21058 2021-10-12            0.0
 21059 2021-10-13            0.0

 [7018 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 21060 2002-01-01           0.00
 21061 2002-01-02           1.51
 21062 2002-01-03           4.55
 21063 2002-01-04           4.80
 21064 2002-01-05           2.27
 ...          ...            ...
 28393 2022-12-27           9.20
 28394 2022-12-28           0.00
 28395 2022-12-29           5.00
 28396 2022-12-30           2.60
 28397 2022-12-31           0.20

 [7338 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 28398 2002-01-01            4.4
 28399 2002-01-02            1.3
 28400 2002-01-03            9.3
 28401 2002-01-04           14.4
 28402 2002-01-05            8.3
 ...          ...            ...
 35496 2022-12-27            0.0
 35497 2022-12-28            0.0
 35498 2022-12-29            0.0
 35499 2022-12-30            0.0
 35500 2022-12-31            0.6

 [7103 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 35501 2011-03-15            0.2
 35502 2011-03-16            0.0
 35503 2011-03-17            0.0
 35504 2011-03-18            0.0
 35505 2011-03-19            0.0
 ...          ...            ...
 39334 2022-12-27            3.8
 39335 2022-12-28            0.2
 39336 2022-12-29            0.0
 39337 2022-12-30            0.0
 39338 2022-12-31            0.0

 [3838 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 39339 2011-09-21            0.2
 39340 2011-09-22            0.0
 39341 2011-09-23            1.1
 39342 2011-09-24           25.9
 39343 2011-09-25            3.7
 ...          ...            ...
 43442 2022-12-27            0.0
 43443 2022-12-28            0.0
 43444 2022-12-29            0.0
 43445 2022-12-30            0.0
 43446 2022-12-31            0.4

 [4108 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 43447 2012-08-20            1.6
 43448 2012-08-21           45.8
 43449 2012-08-22            4.3
 43450 2012-08-23            0.0
 43451 2012-08-24            0.0
 ...          ...            ...
 47187 2022-12-27            0.0
 47188 2022-12-28            0.0
 47189 2022-12-29            0.0
 47190 2022-12-30            2.2
 47191 2022-12-31            0.0

 [3745 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 47192 2013-04-10            0.0
 47193 2013-04-11            0.4
 47194 2013-04-12            0.0
 47195 2013-04-13            0.0
 47196 2013-04-14            0.0
 ...          ...            ...
 50516 2022-12-27           18.8
 50517 2022-12-28            0.2
 50518 2022-12-29            1.6
 50519 2022-12-30            0.2
 50520 2022-12-31            0.0

 [3329 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 50521 2013-04-12            0.0
 50522 2013-04-13            0.0
 50523 2013-04-14            0.4
 50524 2013-04-15            0.0
 50525 2013-04-16            0.0
 ...          ...            ...
 54067 2022-12-27            4.6
 54068 2022-12-28            0.6
 54069 2022-12-29            3.0
 54070 2022-12-30            0.4
 54071 2022-12-31            0.0

 [3551 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 54072 2013-04-22            0.4
 54073 2013-04-23            0.0
 54074 2013-04-24            0.0
 54075 2013-04-25            0.0
 54076 2013-04-26            1.0
 ...          ...            ...
 57507 2022-12-27            0.0
 57508 2022-12-28            0.0
 57509 2022-12-29            3.8
 57510 2022-12-30            0.2
 57511 2022-12-31            0.8

 [3440 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 57512 2013-09-17            1.9
 57513 2013-09-18            0.0
 57514 2013-09-19            0.0
 57515 2013-09-20            0.0
 57516 2013-09-21            0.0
 ...          ...            ...
 60484 2022-12-27            0.0
 60485 2022-12-28            0.0
 60486 2022-12-29            1.0
 60487 2022-12-30            0.4
 60488 2022-12-31            0.4

 [2977 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 60489 2015-10-28           81.8
 60490 2015-10-29            0.8
 60491 2015-10-30            0.6
 60492 2015-10-31            0.2
 60493 2015-11-01            9.4
 ...          ...            ...
 62422 2022-08-26            2.6
 62423 2022-08-27            0.6
 62424 2022-08-28           19.6
 62425 2022-08-29            5.4
 62426 2022-08-30            0.0

 [1938 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 62427 2013-10-08            0.0
 62428 2013-10-09            9.4
 62429 2013-10-10           22.8
 62430 2013-10-11            0.4
 62431 2013-10-12           21.4
 ...          ...            ...
 65780 2022-12-27            0.0
 65781 2022-12-28            0.0
 65782 2022-12-29            7.4
 65783 2022-12-30            0.4
 65784 2022-12-31            0.2

 [3358 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 65785 2013-10-10            1.0
 65786 2013-10-11            0.0
 65787 2013-10-12            0.2
 65788 2013-10-13           21.6
 65789 2013-10-14            0.2
 ...          ...            ...
 69094 2022-12-27            0.0
 69095 2022-12-28            0.0
 69096 2022-12-29            0.0
 69097 2022-12-30            0.6
 69098 2022-12-31            0.0

 [3314 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 69099 2014-10-15            0.2
 69100 2014-10-16            0.4
 69101 2014-10-17            6.8
 69102 2014-10-18            6.2
 69103 2014-10-19           13.4
 ...          ...            ...
 71835 2022-12-05            0.4
 71836 2022-12-06            1.2
 71837 2022-12-07            0.8
 71838 2022-12-08            5.4
 71839 2022-12-09            0.0

 [2741 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 71840 2014-03-26            0.0
 71841 2014-03-27            0.4
 71842 2014-03-28            0.6
 71843 2014-03-29            0.4
 71844 2014-03-30            0.0
 ...          ...            ...
 74949 2022-11-17            3.4
 74950 2022-11-18            1.2
 74951 2022-11-19           69.2
 74952 2022-11-20           14.8
 74953 2022-11-21            1.4

 [3114 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 74954 2014-09-22           8.47
 74955 2014-09-23           0.25
 74956 2014-09-24           6.10
 74957 2014-09-25          23.37
 74958 2014-09-26           5.58
 ...          ...            ...
 77856 2022-12-27           0.00
 77857 2022-12-28           0.00
 77858 2022-12-29           0.00
 77859 2022-12-30           1.40
 77860 2022-12-31           0.20

 [2907 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 77861 2014-11-05           22.0
 77862 2014-11-06           69.6
 77863 2014-11-07           11.8
 77864 2014-11-08            6.8
 77865 2014-11-09           10.4
 ...          ...            ...
 80618 2022-12-27            0.0
 80619 2022-12-28            1.4
 80620 2022-12-29            1.0
 80621 2022-12-30            1.6
 80622 2022-12-31            0.8

 [2762 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 80623 2015-02-20            9.2
 80624 2015-02-21            2.8
 80625 2015-02-22            0.2
 80626 2015-02-23            0.2
 80627 2015-02-24            6.8
 ...          ...            ...
 83315 2022-11-12            6.2
 83316 2022-11-13           16.6
 83317 2022-11-14           14.8
 83318 2022-11-15           25.8
 83319 2022-11-16            6.2

 [2697 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 83320 2015-05-13            0.0
 83321 2015-05-14            0.0
 83322 2015-05-15            0.8
 83323 2015-05-16            7.8
 83324 2015-05-17            2.2
 ...          ...            ...
 86009 2022-12-12            0.0
 86010 2022-12-13            0.4
 86011 2022-12-14            0.4
 86012 2022-12-15            0.8
 86013 2022-12-16            3.8

 [2694 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 86014 2015-05-14            0.0
 86015 2015-05-15           56.2
 86016 2015-05-16           61.2
 86017 2015-05-17            2.0
 86018 2015-05-18            3.6
 ...          ...            ...
 88798 2022-12-27            1.4
 88799 2022-12-28            0.0
 88800 2022-12-29            0.6
 88801 2022-12-30            0.6
 88802 2022-12-31            0.0

 [2789 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 88803 2017-03-24            0.8
 88804 2017-03-25            0.0
 88805 2017-03-26            0.0
 88806 2017-03-27            0.0
 88807 2017-03-28            0.0
 ...          ...            ...
 90904 2022-12-27            0.0
 90905 2022-12-28            0.8
 90906 2022-12-29            0.4
 90907 2022-12-30            0.4
 90908 2022-12-31            0.2

 [2106 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 90909 2017-04-21            2.2
 90910 2017-04-22            0.0
 90911 2017-04-23            0.0
 90912 2017-04-24            0.6
 90913 2017-04-25            3.2
 ...          ...            ...
 92696 2022-12-27           17.2
 92697 2022-12-28            0.8
 92698 2022-12-29            2.6
 92699 2022-12-30            1.4
 92700 2022-12-31            0.0

 [1792 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 92701 2017-05-10            3.2
 92702 2017-05-11           45.6
 92703 2017-05-12            7.8
 92704 2017-05-13            0.4
 92705 2017-05-14            0.0
 ...          ...            ...
 94758 2022-12-27            6.4
 94759 2022-12-28            1.2
 94760 2022-12-29            5.4
 94761 2022-12-30           10.2
 94762 2022-12-31            0.0

 [2062 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 0    2002-01-01           10.7
 1    2002-01-02            1.3
 2    2002-01-03            4.0
 3    2002-01-04           24.0
 4    2002-01-05           20.2
 ...         ...            ...
 6967 2022-12-27            0.0
 6968 2022-12-28            2.4
 6969 2022-12-29            0.0
 6970 2022-12-30            0.0
 6971 2022-12-31            0.0

 [6972 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 6972 2014-01-16            2.5
 6973 2014-01-17           20.3
 6974 2014-01-18            4.5
 6975 2014-01-19            2.6
 6976 2014-01-20            8.5
 ...         ...            ...
 8662 2021-11-13            2.2
 8663 2021-11-14            6.8
 8664 2021-11-15           45.8
 8665 2021-11-16            2.2
 8666 2021-11-17           36.8

 [1695 rows x 2 columns],
           FECHA  LLUVIA_DIARIA
 0    2004-03-23            0.0
 1    2004-03-24            0.0
 2    2004-03-25            0.0
 3    2004-03-26            0.0
 4    2004-03-27            0.0
 ...         ...            ...
 5934 2022-12-27            0.0
 5935 2022-12-28            0.0
 5936 2022-12-29            0.0
 5937 2022-12-30            0.0
 5938 2022-12-31            0.0

 [5939 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 5939  2004-11-10           0.00
 5940  2004-11-11           0.00
 5941  2004-11-12           0.00
 5942  2004-11-13           1.26
 5943  2004-11-14           0.25
 ...          ...            ...
 12203 2022-12-17           0.00
 12204 2022-12-18           0.00
 12205 2022-12-19           0.00
 12206 2022-12-20           0.00
 12207 2022-12-21           0.00

 [6269 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 12208 2002-01-01            0.0
 12209 2002-01-02            0.0
 12210 2002-01-03            0.0
 12211 2002-01-04            0.0
 12212 2002-01-05            0.0
 ...          ...            ...
 19465 2022-12-27            0.0
 19466 2022-12-28            0.0
 19467 2022-12-29            0.0
 19468 2022-12-30            0.0
 19469 2022-12-31            0.0

 [7262 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 19470 2002-10-27           15.6
 19471 2002-10-28           10.1
 19472 2002-10-29            0.3
 19473 2002-10-30           17.7
 19474 2002-10-31           51.1
 ...          ...            ...
 26141 2022-12-27            0.0
 26142 2022-12-28            0.0
 26143 2022-12-29            0.0
 26144 2022-12-30            0.0
 26145 2022-12-31            0.4

 [6676 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 26146 2012-03-31            0.0
 26147 2012-04-01            0.0
 26148 2012-04-02            0.0
 26149 2012-04-03            0.0
 26150 2012-04-04            0.0
 ...          ...            ...
 30016 2022-12-27            0.0
 30017 2022-12-28            0.0
 30018 2022-12-29            0.0
 30019 2022-12-30            0.0
 30020 2022-12-31            0.0

 [3875 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 30021 2012-09-21            9.6
 30022 2012-09-22           16.1
 30023 2012-09-23            0.8
 30024 2012-09-24            0.0
 30025 2012-09-25            0.0
 ...          ...            ...
 33089 2022-06-23           66.9
 33090 2022-06-24            1.9
 33091 2022-06-25            5.3
 33092 2022-06-26            0.0
 33093 2022-06-27            0.2

 [3073 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 33094 2013-04-11            0.0
 33095 2013-04-12            0.0
 33096 2013-04-13            0.0
 33097 2013-04-14            0.0
 33098 2013-04-15            0.0
 ...          ...            ...
 36558 2022-12-27            0.0
 36559 2022-12-28            0.0
 36560 2022-12-29            0.0
 36561 2022-12-30            0.0
 36562 2022-12-31            0.0

 [3469 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 36563 2015-11-24            0.4
 36564 2015-11-25            0.0
 36565 2015-11-26            0.0
 36566 2015-11-27            0.0
 36567 2015-11-28            0.0
 ...          ...            ...
 38587 2022-12-27            0.0
 38588 2022-12-28            0.0
 38589 2022-12-29            0.0
 38590 2022-12-30            0.0
 38591 2022-12-31            0.0

 [2029 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 38592 2014-12-12            0.6
 38593 2014-12-13            0.0
 38594 2014-12-14            0.0
 38595 2014-12-15            0.0
 38596 2014-12-16            0.0
 ...          ...            ...
 40353 2020-02-15            0.0
 40354 2020-02-16            0.0
 40355 2020-02-17            0.0
 40356 2020-02-18            0.0
 40357 2020-02-19            0.0

 [1766 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 40358 2015-05-20            0.0
 40359 2015-05-21            0.0
 40360 2015-05-22            0.0
 40361 2015-05-23            0.0
 40362 2015-05-24            0.2
 ...          ...            ...
 42814 2022-12-27            0.0
 42815 2022-12-28            0.0
 42816 2022-12-29            0.0
 42817 2022-12-30            0.0
 42818 2022-12-31            0.0

 [2461 rows x 2 columns],
            FECHA  LLUVIA_DIARIA
 42819 2016-04-27            0.0
 42820 2016-04-28           12.8
 42821 2016-04-29            0.0
 42822 2016-04-30            0.0
 42823 2016-05-01            0.2

* Para asegurar que las fechas estén ordenadas de manera adecuada, se utiliza la función `sort_values` de Pandas.

In [43]:
# Crear la nueva lista vacía
data_por_estacion_total = []

# Iterar a través de las tablas en la lista original
for df in data_por_estacion:
    # Ordenar la tabla por la columna deseada (en este ejemplo, 'LLUVIA_DIARIA')
    df_ordenado = df.sort_values('FECHA', ascending=True)
    # Agregar la tabla ordenada a la nueva lista
    data_por_estacion_total.append(df_ordenado)

* Volver la columna 'FECHA' un dateintex

In [44]:
for i, df in enumerate(data_por_estacion_total):
    data_por_estacion_total[i] = data_por_estacion_total[i].set_index('FECHA')

## Obtener los estadisticos diarios

* Eliminar los valores Nan

In [45]:
for i, df in enumerate(data_por_estacion_total):
    data_por_estacion_total[i] = data_por_estacion_total[i].dropna(subset=['LLUVIA_DIARIA'])

* (media, mediana, máximo, mínimo, q05 y q95)

In [54]:
#Obtener el promedio diario
diario_min = []
diario_max = []
diario_mean = []
diario_median = []
diario_p5 = []
diario_p95 = []
for i, df in enumerate(data_por_estacion_total):
    media = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).mean()
    mediana = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).median()
    maximo = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).max()
    minimo = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).min()
    p5 = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).quantile(0.05)
    p95 = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m%d")).quantile(0.95)
    #groupby() se usa agrupando por mes y por día a la vez
    diario_mean.append(media)
    diario_median.append(mediana)
    diario_max.append(maximo)
    diario_min.append(minimo)
    diario_p5.append(p5)
    diario_p95.append(p95)

* Crear una lista con los estadisticos

In [55]:
diario_estadisticos = [diario_min, diario_max, diario_mean, diario_median, diario_p5, diario_p95]

* Seleccionar solo la columna que interesa

In [56]:
diario_columnas = [[tabla['LLUVIA_DIARIA'] for tabla in lista] for lista in diario_estadisticos]

* Convertir en dataframe cada lista de estaciones

In [57]:
diario_dataframes = [pd.DataFrame(tabla) for tabla in diario_columnas]

* Transponer cada dataframe de estaciones

In [58]:
diario_dataframes_transpuestos = [tabla.transpose() for tabla in diario_dataframes]

* Renombrar las columnas

In [59]:
# Cambiar los nombres de las columnas en cada DataFrame
for df in diario_dataframes_transpuestos:
    df.columns = NUMERO

* Guardar estadisticos diarios en excel

In [60]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Diaria_Observada_Lluvia.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
diario_dataframes_transpuestos[0].to_excel(writer, sheet_name='min', index=True)
diario_dataframes_transpuestos[1].to_excel(writer, sheet_name='max', index=True)
diario_dataframes_transpuestos[2].to_excel(writer, sheet_name='mean', index=True)
diario_dataframes_transpuestos[3].to_excel(writer, sheet_name='median', index=True)
diario_dataframes_transpuestos[4].to_excel(writer, sheet_name='p5', index=True)
diario_dataframes_transpuestos[5].to_excel(writer, sheet_name='p95', index=True)


# Guardar el archivo Excel
writer.save()

## Obtener los estadisticos mensuales

In [61]:
#Obtener el promedio diario
mensual_min = []
mensual_max = []
mensual_mean = []
mensual_median = []
mensual_p5 = []
mensual_p95 = []
for i, df in enumerate(data_por_estacion_total):
    media = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).mean()
    mediana = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).median()
    maximo = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).max()
    minimo = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).min()
    p5 = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).quantile(0.05)
    p95 = data_por_estacion_total[i].groupby(data_por_estacion_total[i].index.strftime("%m")).quantile(0.95)
    #groupby() se usa agrupando por mes y por día a la vez
    mensual_min.append(minimo)
    mensual_max.append(maximo)
    mensual_mean.append(media)
    mensual_median.append(mediana)
    mensual_p5.append(p5)
    mensual_p95.append(p95)

In [62]:
#Crear lista de estadisticos
mensual_estadisticos = [mensual_min, mensual_max, mensual_mean, mensual_median, mensual_p5, mensual_p95]

#Seleccionar columnas que interesan
mensual_columnas = [[tabla['LLUVIA_DIARIA'] for tabla in lista] for lista in mensual_estadisticos]

#Convertir en dataframe
mensual_dataframes = [pd.DataFrame(tabla) for tabla in mensual_columnas]

#Transponer cada dataframe
mensual_dataframes_transpuestos = [tabla.transpose() for tabla in mensual_dataframes]

* Renombrar las columnas

In [63]:
# Cambiar los nombres de las columnas en cada DataFrame
for df in mensual_dataframes_transpuestos:
    df.columns = NUMERO

* Guardar estadisticos mensuales en excel

In [64]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Mensual_Observada_Lluvia.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
mensual_dataframes_transpuestos[0].to_excel(writer, sheet_name='min', index=True)
mensual_dataframes_transpuestos[1].to_excel(writer, sheet_name='max', index=True)
mensual_dataframes_transpuestos[2].to_excel(writer, sheet_name='mean', index=True)
mensual_dataframes_transpuestos[3].to_excel(writer, sheet_name='median', index=True)
mensual_dataframes_transpuestos[4].to_excel(writer, sheet_name='p5', index=True)
mensual_dataframes_transpuestos[5].to_excel(writer, sheet_name='p95', index=True)

# Guardar el archivo Excel
writer.save()