# Climatología de Temperatura Observada

## Importar librerias

In [1]:
import glob
import pandas as pd
import seaborn as sns
import os
import zipfile
import matplotlib.pyplot as plt
import numpy as np
import copy
from datetime import datetime

## Abrir todos los archivos excel por cuenca

In [2]:
# Criterios de coincidencia de patrones para archivos de Excel en el directorio
filenames = 'C:/Users/arias/OneDrive/Documentos/UCR/TFG/Climatologia/Observado/Temperatura/Cuencas/Cuenca*.xlsx'

In [3]:
# Crea un diccionario vacío para almacenar los datos de cada archivo
dat = {}

# Recorra cada archivo de Excel que coincida con el patrón y lea sus datos en un marco de datos de pandas
for file in glob.glob(filenames):
    dat[file] = pd.read_excel(file)

In [4]:
# Access the data from each file using its file name as the key in the data_dict
data_new = []

for file, data in dat.items():
    data_new.append(data)

## Arreglar datos

* En la columna 'ESTACION' todos los valores tengan 3 digitos

In [5]:
for i, df in enumerate(data_new):
    def formatear_valor(valor):
        if valor < 10:
            return '00' + str(valor)
        elif valor < 100:
            return '0' + str(valor)
        else:
            return str(valor)

    # Aplicar la función a la tabla
    data_new[i]['ESTACION'] = data_new[i]['ESTACION'].apply(formatear_valor)

In [6]:
#Unir el numero de 'CUENCA' con 'ESTACION' para tener el numero de cada estacion
for i, df in enumerate(data_new):
    data_new[i]['ESTACION_NEW'] = data_new[i]['CUENCA'].astype(str) + data_new[i]['ESTACION'].astype(str)

In [9]:
data_new

[      ESTACION_NEW      FECHA    MAX    MIN
 0           100633 2003-10-17  30.37  22.96
 1           100633 2003-10-18  31.28  24.03
 2           100633 2003-10-19  26.45  23.46
 3           100633 2003-10-20  25.54  23.43
 4           100633 2003-10-21  27.59  23.50
 ...            ...        ...    ...    ...
 29327       100655 2022-12-27  32.90  22.70
 29328       100655 2022-12-28  31.50  22.50
 29329       100655 2022-12-29  31.80  22.80
 29330       100655 2022-12-30  32.70  23.10
 29331       100655 2022-12-31  32.60  22.00

 [29332 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0          200002 2002-01-01  28.76  23.30
 1          200002 2002-01-02  28.85  23.93
 2          200002 2002-01-03  26.98  23.89
 3          200002 2002-01-04  28.69  22.63
 4          200002 2002-01-05  28.69  22.87
 ...           ...        ...    ...    ...
 6977       200009 2018-03-04  30.90  21.60
 6978       200009 2018-03-05  32.20  22.30
 6979       200009 2018-03-06  32.50  22.80
 6980       200009 2018-03-07  30.80  23.80
 6981       200009 2018-03-08  31.40  23.40

 [6982 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            69633 2002-01-01  30.57  23.33
 1            69633 2002-01-02  30.12  22.43
 2            69633 2002-01-03  31.15  22.53
 3            69633 2002-01-04  29.14  22.56
 4            69633 2002-01-05  26.01  21.73
 ...            ...        ...    ...    ...
 94209        69749 2022-12-27  23.30  18.00
 94210        69749 2022-12-28  23.00  17.70
 94211        69749 2022-12-29  25.40  17.80
 94212        69749 2022-12-30  24.60  18.30
 94213        69749 2022-12-31  23.60  15.90

 [94214 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           71015 2002-01-01  31.88  22.32
 1           71015 2002-01-02  31.25  22.86
 2           71015 2002-01-03  31.61  23.29
 3           71015 2002-01-04  29.63  22.22
 4           71015 2002-01-05  29.30  22.06
 ...           ...        ...    ...    ...
 8577        71023 2022-07-04  27.30  23.30
 8578        71023 2022-07-05  26.50  23.30
 8579        71023 2022-07-06  29.10  23.90
 8580        71023 2022-07-07  29.50  23.40
 8581        71023 2022-07-08  31.40  23.20

 [8582 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            72149 2004-03-24  35.41  27.00
 1            72149 2004-03-25  36.96  26.70
 2            72149 2004-03-26  36.01  25.39
 3            72149 2004-03-27  36.65  25.41
 4            72149 2004-03-28  36.12  25.63
 ...            ...        ...    ...    ...
 53909        72195 2022-11-26  26.00  21.30
 53910        72195 2022-11-27  25.10  21.60
 53911        72195 2022-11-28  23.40  21.70
 53912        72195 2022-11-29  26.90  21.70
 53913        72195 2022-11-30  29.10  21.10

 [53914 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            73123 2002-01-01  24.01  16.92
 1            73123 2002-01-02  23.24  15.67
 2            73123 2002-01-03  24.61  16.19
 3            73123 2002-01-04  20.98  14.97
 4            73123 2002-01-05  21.23  15.10
 ...            ...        ...    ...    ...
 65877        73171 2022-12-27  22.20  11.20
 65878        73171 2022-12-28  24.20  12.20
 65879        73171 2022-12-29  24.20  15.60
 65880        73171 2022-12-30  24.10  16.10
 65881        73171 2022-12-31  23.30  13.00

 [65882 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            74051 2002-01-01  35.46  22.10
 1            74051 2002-01-02  33.99  20.08
 2            74051 2002-01-03  34.64  21.18
 3            74051 2002-01-04  33.92  22.40
 4            74051 2002-01-05  31.37  21.38
 ...            ...        ...    ...    ...
 38197        74083 2022-11-18  31.50  23.90
 38198        74083 2022-11-19  32.10  20.70
 38199        74083 2022-11-20  29.50  22.60
 38200        74083 2022-11-21  30.30  20.60
 38201        74083 2022-11-22  30.60  22.50

 [38202 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            76055 2002-01-01  33.76  24.11
 1            76055 2002-01-02  33.10  23.84
 2            76055 2002-01-03  33.37  24.24
 3            76055 2002-01-04  31.89  23.25
 4            76055 2002-01-05  28.80  23.58
 ...            ...        ...    ...    ...
 18009        76067 2022-11-01  27.00  19.20
 18010        76067 2022-11-02  27.70  18.70
 18011        76067 2022-11-03  27.80  19.00
 18012        76067 2022-11-04  25.80  19.60
 18013        76067 2022-11-05  23.50  20.10

 [18014 rows x 4 columns],
       ESTACION_NEW      FECHA   MAX    MIN
 0            78027 2002-01-01  30.1  25.80
 1            78027 2002-01-02  32.2  24.78
 2            78027 2002-01-03  30.0  25.90
 3            78027 2002-01-04  32.3  25.56
 4            78027 2002-01-05  30.1  24.28
 ...            ...        ...   ...    ...
 13456        78035 2022-12-27  33.0  23.30
 13457        78035 2022-12-28  32.0  22.70
 13458        78035 2022-12-29  34.6  24.20
 13459        78035 2022-12-30  35.5  23.70
 13460        78035 2022-12-31  32.4  23.70

 [13461 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           80013 2014-08-20  23.97  23.01
 1           80013 2014-08-24  32.31  21.81
 2           80013 2014-08-25  30.33  22.67
 3           80013 2014-08-26  32.52  22.72
 4           80013 2014-08-27  32.01  22.49
 ...           ...        ...    ...    ...
 2754        80013 2022-11-04  29.60  23.20
 2755        80013 2022-11-05  28.90  22.30
 2756        80013 2022-11-06  26.50  22.10
 2757        80013 2022-11-07  25.80  22.40
 2758        80013 2022-11-08  25.80  21.50

 [2759 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           81005 2002-01-01  30.28  23.34
 1           81005 2002-01-02  30.32  22.57
 2           81005 2002-01-03  30.15  23.20
 3           81005 2002-01-04  29.69  22.61
 4           81005 2002-01-05  29.52  21.91
 ...           ...        ...    ...    ...
 9804        81013 2022-07-07  26.90  16.90
 9805        81013 2022-07-08  27.90  17.30
 9806        81013 2022-07-09  27.30  18.00
 9807        81013 2022-07-10  24.20  17.20
 9808        81013 2022-07-11  27.10  20.00

 [9809 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            82011 2012-11-22  29.65  20.51
 1            82011 2012-11-23  31.06  19.16
 2            82011 2012-11-24  33.76  19.51
 3            82011 2012-11-25  32.25  19.16
 4            82011 2012-11-26  31.36  20.91
 ...            ...        ...    ...    ...
 13732        82019 2022-12-27  32.20  19.00
 13733        82019 2022-12-28  31.90  17.80
 13734        82019 2022-12-29  31.90  19.10
 13735        82019 2022-12-30  31.80  19.80
 13736        82019 2022-12-31  32.20  18.50

 [13737 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           83007 2013-09-12  28.16  22.14
 1           83007 2013-09-13  30.97  21.05
 2           83007 2013-09-14  31.55  22.76
 3           83007 2013-09-15  32.23  22.21
 4           83007 2013-09-16  33.29  22.62
 ...           ...        ...    ...    ...
 3022        83007 2022-10-29  30.70  22.10
 3023        83007 2022-10-30  31.70  20.80
 3024        83007 2022-10-31  31.80  19.40
 3025        83007 2022-11-01  32.10  20.50
 3026        83007 2022-11-02  31.60  20.10

 [3027 rows x 4 columns],
        ESTACION_NEW      FECHA    MAX    MIN
 0             84139 2002-01-01  26.69  17.52
 1             84139 2002-01-02  24.88  15.77
 2             84139 2002-01-03  26.84  17.80
 3             84139 2002-01-04  22.07  16.04
 4             84139 2002-01-05  22.96  15.83
 ...             ...        ...    ...    ...
 123966        84295 2022-12-27  31.20  14.70
 123967        84295 2022-12-28  32.00  14.70
 123968        84295 2022-12-29  31.20  16.20
 123969        84295 2022-12-30  31.90  16.70
 123970        84295 2022-12-31  28.60  14.40

 [123971 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            85021 2002-01-01  28.64  21.72
 1            85021 2002-01-02  30.87  21.30
 2            85021 2002-01-03  30.44  21.95
 3            85021 2002-01-04  29.80  21.29
 4            85021 2002-01-05  31.77  20.90
 ...            ...        ...    ...    ...
 16205        85027 2020-10-30  32.10  24.00
 16206        85027 2020-10-31  32.40  24.60
 16207        85027 2020-11-01  31.10  23.40
 16208        85027 2020-11-02  32.30  23.80
 16209        85027 2020-11-03  30.60  24.10

 [16210 rows x 4 columns],
      ESTACION_NEW      FECHA   MAX   MIN
 0           86013 2015-05-07  32.2  24.7
 1           86013 2015-05-08  32.9  25.1
 2           86013 2015-05-09  32.8  24.8
 3           86013 2015-05-10  33.2  24.8
 4           86013 2015-05-11  32.5  24.0
 ...           ...        ...   ...   ...
 2767        86013 2022-12-18  31.7  23.7
 2768        86013 2022-12-19  32.3  22.2
 2769        86013 2022-12-20  29.5  21.7
 2770        86013 2022-12-21  30.5  22.1
 2771        86013 2022-12-22  31.4  23.6

 [2772 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           87013 2002-01-01  28.84  22.74
 1           87013 2002-01-02  31.31  22.68
 2           87013 2002-01-03  29.34  23.11
 3           87013 2002-01-04  30.65  22.39
 4           87013 2002-01-05  32.31  21.82
 ...           ...        ...    ...    ...
 6473        87013 2022-12-27  31.60  20.10
 6474        87013 2022-12-28  32.00  19.60
 6475        87013 2022-12-29  31.70  20.90
 6476        87013 2022-12-30  30.40  21.50
 6477        87013 2022-12-31  29.80  19.60

 [6478 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            88035 2002-01-01  23.82  16.14
 1            88035 2002-01-02  22.41  14.92
 2            88035 2002-01-03  25.51  15.46
 3            88035 2002-01-04  20.32  14.11
 4            88035 2002-01-05  20.90  14.38
 ...            ...        ...    ...    ...
 15764        88055 2022-12-02  25.60  17.20
 15765        88055 2022-12-03  26.30  16.20
 15766        88055 2022-12-04  24.70  14.40
 15767        88055 2022-12-05  25.20  15.30
 15768        88055 2022-12-06  26.50  14.90

 [15769 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           90015 2014-03-13  30.75  26.22
 1           90015 2014-03-14  30.86  24.61
 2           90015 2014-03-15  30.38  25.76
 3           90015 2014-03-16  30.83  25.73
 4           90015 2014-03-17  30.39  26.02
 ...           ...        ...    ...    ...
 2976        90015 2022-11-13  26.10  21.50
 2977        90015 2022-11-14  25.80  21.70
 2978        90015 2022-11-15  26.60  21.50
 2979        90015 2022-11-16  27.80  22.40
 2980        90015 2022-11-17  27.00  22.50

 [2981 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX   MIN
 0           94013 2012-02-01  10.92  0.92
 1           94013 2012-02-02  10.12  1.94
 2           94013 2012-02-03  12.59  3.21
 3           94013 2012-02-04  13.09  4.50
 4           94013 2012-02-05  14.97  4.94
 ...           ...        ...    ...   ...
 8231        94019 2022-12-27  11.80  4.00
 8232        94019 2022-12-28  13.80  2.90
 8233        94019 2022-12-29  14.20  4.60
 8234        94019 2022-12-30  12.60  5.30
 8235        94019 2022-12-31  10.60  2.80

 [8236 rows x 4 columns],
      ESTACION_NEW      FECHA    MAX    MIN
 0           96003 2013-05-28  31.78  23.20
 1           96003 2013-05-29  30.92  22.12
 2           96003 2013-05-30  31.93  22.41
 3           96003 2013-05-31  30.39  21.85
 4           96003 2013-06-01  30.87  23.57
 ...           ...        ...    ...    ...
 3267        96003 2022-11-06  28.70  22.20
 3268        96003 2022-11-07  26.50  22.40
 3269        96003 2022-11-08  27.20  22.70
 3270        96003 2022-11-09  29.10  22.10
 3271        96003 2022-11-10  27.90  22.50

 [3272 rows x 4 columns],
       ESTACION_NEW      FECHA    MAX    MIN
 0            98075 2002-01-01  22.09  16.71
 1            98075 2002-01-02  26.98  16.74
 2            98075 2002-01-03  25.52  17.53
 3            98075 2002-01-04  25.66  16.01
 4            98075 2002-01-05  27.67  18.29
 ...            ...        ...    ...    ...
 40836        98109 2022-11-06  24.00  17.50
 40837        98109 2022-11-07  24.00  18.00
 40838        98109 2022-11-08  22.70  17.80
 40839        98109 2022-11-09  26.20  18.20
 40840        98109 2022-11-10  23.70  17.40

 [40841 rows x 4 columns]]

In [8]:
#Eliminar las columnas que no son necesarias
data_new = [tabla[['ESTACION_NEW', 'FECHA', 'MAX', 'MIN']] for tabla in data_new]

## Agrupar datos por estación

* Agrupar las filas según los valores de la columna "ESTACION_NEW"

In [11]:
data_por_estacion = []

for df in data_new:
    grupos = df.groupby('ESTACION_NEW')
    
    for ESTACION, grupo in grupos:
        data_por_estacion.append(grupo)

* Obtener el número de cada estación

In [14]:
NUMERO = [df.iloc[0, 0] for df in data_por_estacion]

* Separar los datos por temperatura maxima, minima y promedio
* Eliminar las columnas que no son necesarias

In [15]:
TempMAX = [tabla[['FECHA', 'MAX']] for tabla in data_por_estacion]
TempMIN = [tabla[['FECHA', 'MIN']] for tabla in data_por_estacion]

In [18]:
TempMAX

[          FECHA    MAX
 0    2003-10-17  30.37
 1    2003-10-18  31.28
 2    2003-10-19  26.45
 3    2003-10-20  25.54
 4    2003-10-21  27.59
 ...         ...    ...
 6651 2022-12-27  39.10
 6652 2022-12-28  30.00
 6653 2022-12-29  30.90
 6654 2022-12-30  31.00
 6655 2022-12-31  30.20

 [6656 rows x 2 columns],
            FECHA    MAX
 6656  2007-03-11  34.71
 6657  2007-03-12  34.91
 6658  2007-03-13  35.18
 6659  2007-03-14  35.05
 6660  2007-03-15  34.71
 ...          ...    ...
 12006 2022-12-27  32.60
 12007 2022-12-28  32.00
 12008 2022-12-29  32.70
 12009 2022-12-30  32.00
 12010 2022-12-31  32.30

 [5355 rows x 2 columns],
            FECHA    MAX
 12011 2009-11-25  24.72
 12012 2009-11-26  24.76
 12013 2009-12-13  32.75
 12014 2009-12-14  33.43
 12015 2009-12-15  32.99
 ...          ...    ...
 16771 2022-12-27  31.90
 16772 2022-12-28  31.80
 16773 2022-12-29  32.60
 16774 2022-12-30  31.10
 16775 2022-12-31  32.20

 [4765 rows x 2 columns],
            FECHA    MAX
 16776 2013-01-29  33.71
 16777 2013-01-30  32.79
 16778 2013-01-31  34.00
 16779 2013-02-01  33.63
 16780 2013-02-02  33.20
 ...          ...    ...
 20158 2022-11-06  28.10
 20159 2022-11-07  24.70
 20160 2022-11-08  25.80
 20161 2022-11-09  26.70
 20162 2022-11-10  25.10

 [3387 rows x 2 columns],
            FECHA    MAX
 20163 2013-05-17  26.12
 20164 2013-05-18  28.05
 20165 2013-05-19  33.23
 20166 2013-05-20  31.61
 20167 2013-05-21  30.46
 ...          ...    ...
 23503 2022-12-27  32.10
 23504 2022-12-28  31.40
 23505 2022-12-29  32.30
 23506 2022-12-30  31.90
 23507 2022-12-31  31.40

 [3345 rows x 2 columns],
            FECHA    MAX
 23508 2013-09-06  26.10
 23509 2013-09-07  27.98
 23510 2013-09-08  28.36
 23511 2013-09-09  29.93
 23512 2013-09-10  28.54
 ...          ...    ...
 26438 2022-11-06  25.10
 26439 2022-11-07  23.50
 26440 2022-11-08  24.30
 26441 2022-11-09  23.50
 26442 2022-11-10  23.20

 [2935 rows x 2 columns],
            FECHA    MAX
 26443 2014-10-24  30.48
 26444 2014-10-25  31.10
 26445 2014-10-26  31.80
 26446 2014-10-27  30.59
 26447 2014-10-28  31.73
 ...          ...    ...
 29327 2022-12-27  32.90
 29328 2022-12-28  31.50
 29329 2022-12-29  31.80
 29330 2022-12-30  32.70
 29331 2022-12-31  32.60

 [2889 rows x 2 columns],
           FECHA    MAX
 0    2002-01-01  28.76
 1    2002-01-02  28.85
 2    2002-01-03  26.98
 3    2002-01-04  28.69
 4    2002-01-05  28.69
 ...         ...    ...
 2453 2017-07-07  24.50
 2454 2017-07-08  28.20
 2455 2017-07-09  26.70
 2456 2017-07-10  27.40
 2457 2017-07-11  27.50

 [2458 rows x 2 columns],
           FECHA    MAX
 2458 2008-05-25  30.25
 2459 2008-05-26  31.66
 2460 2008-05-27  27.90
 2461 2008-05-28  28.37
 2462 2008-05-29  26.97
 ...         ...    ...
 5449 2019-08-11  33.20
 5450 2019-08-12  32.50
 5451 2019-08-13  32.60
 5452 2019-08-14  34.30
 5453 2019-08-15  33.00

 [2996 rows x 2 columns],
           FECHA    MAX
 5454 2013-11-24  30.28
 5455 2013-11-25  31.00
 5456 2013-11-26  27.48
 5457 2013-11-27  28.13
 5458 2013-11-28  29.44
 ...         ...    ...
 6977 2018-03-04  30.90
 6978 2018-03-05  32.20
 6979 2018-03-06  32.50
 6980 2018-03-07  30.80
 6981 2018-03-08  31.40

 [1528 rows x 2 columns],
           FECHA    MAX
 0    2002-01-01  30.57
 1    2002-01-02  30.12
 2    2002-01-03  31.15
 3    2002-01-04  29.14
 4    2002-01-05  26.01
 ...         ...    ...
 7012 2022-07-09  28.60
 7013 2022-07-10  30.60
 7014 2022-07-11  31.00
 7015 2022-07-12  29.90
 7016 2022-07-13  25.20

 [7017 rows x 2 columns],
            FECHA    MAX
 7017  2002-11-08  23.60
 7018  2002-11-09  24.09
 7019  2002-11-10  25.21
 7020  2002-11-11  28.69
 7021  2002-11-12  27.60
 ...          ...    ...
 14060 2022-12-27  26.00
 14061 2022-12-28  25.90
 14062 2022-12-29  27.40
 14063 2022-12-30  26.40
 14064 2022-12-31  27.40

 [7048 rows x 2 columns],
            FECHA    MAX
 14065 2002-01-01  32.03
 14066 2002-01-02  32.33
 14067 2002-01-03  32.20
 14068 2002-01-04  31.28
 14069 2002-01-05  25.84
 ...          ...    ...
 21007 2021-10-09  30.30
 21008 2021-10-10  31.90
 21009 2021-10-11  30.70
 21010 2021-10-12  30.70
 21011 2021-10-13  32.90

 [6947 rows x 2 columns],
            FECHA    MAX
 21012 2002-01-01  33.48
 21013 2002-01-02  30.19
 21014 2002-01-03  31.45
 21015 2002-01-04  29.01
 21016 2002-01-05  24.98
 ...          ...    ...
 28457 2022-12-27  30.50
 28458 2022-12-28  29.90
 28459 2022-12-29  31.10
 28460 2022-12-30  30.40
 28461 2022-12-31  30.90

 [7450 rows x 2 columns],
            FECHA    MAX
 28462 2002-01-01  31.49
 28463 2002-01-02  30.15
 28464 2002-01-03  30.79
 28465 2002-01-04  29.79
 28466 2002-01-05  28.20
 ...          ...    ...
 35550 2022-12-27  30.10
 35551 2022-12-28  31.00
 35552 2022-12-29  31.00
 35553 2022-12-30  29.80
 35554 2022-12-31  29.80

 [7093 rows x 2 columns],
            FECHA    MAX
 35555 2011-03-17  27.21
 35556 2011-03-18  25.61
 35557 2011-03-19  23.60
 35558 2011-03-20  21.83
 35559 2011-03-21  23.65
 ...          ...    ...
 39220 2022-12-27  30.20
 39221 2022-12-28  31.10
 39222 2022-12-29  30.80
 39223 2022-12-30  30.40
 39224 2022-12-31  30.20

 [3670 rows x 2 columns],
            FECHA    MAX
 39225 2011-09-22  32.97
 39226 2011-09-23  32.89
 39227 2011-09-24  32.35
 39228 2011-09-25  30.82
 39229 2011-09-26  29.37
 ...          ...    ...
 43228 2022-12-27  30.70
 43229 2022-12-28  31.00
 43230 2022-12-29  30.80
 43231 2022-12-30  31.00
 43232 2022-12-31  29.80

 [4008 rows x 2 columns],
            FECHA    MAX
 43233 2012-08-21  34.25
 43234 2012-08-22  32.66
 43235 2012-08-23  29.98
 43236 2012-08-24  31.84
 43237 2012-08-25  34.35
 ...          ...    ...
 46870 2022-12-27  29.90
 46871 2022-12-28  30.90
 46872 2022-12-29  30.30
 46873 2022-12-30  30.30
 46874 2022-12-31  28.90

 [3642 rows x 2 columns],
            FECHA    MAX
 46875 2013-04-11  29.26
 46876 2013-04-12  34.83
 46877 2013-04-13  34.88
 46878 2013-04-14  34.62
 46879 2013-04-15  33.18
 ...          ...    ...
 50054 2022-12-27  28.00
 50055 2022-12-28  28.10
 50056 2022-12-29  28.60
 50057 2022-12-30  28.60
 50058 2022-12-31  29.10

 [3184 rows x 2 columns],
            FECHA    MAX
 50059 2013-04-14  34.31
 50060 2013-04-15  32.95
 50061 2013-04-16  34.97
 50062 2013-04-17  35.18
 50063 2013-04-18  34.42
 ...          ...    ...
 53477 2022-12-27  31.50
 53478 2022-12-28  31.20
 53479 2022-12-29  32.60
 53480 2022-12-30  31.70
 53481 2022-12-31  32.50

 [3423 rows x 2 columns],
            FECHA    MAX
 53482 2013-05-05  30.25
 53483 2013-05-06  32.98
 53484 2013-05-07  34.59
 53485 2013-05-08  34.22
 53486 2013-05-10  34.97
 ...          ...    ...
 56794 2022-12-27  31.30
 56795 2022-12-28  31.80
 56796 2022-12-29  31.70
 56797 2022-12-30  31.20
 56798 2022-12-31  30.10

 [3317 rows x 2 columns],
            FECHA    MAX
 56799 2013-09-18  26.63
 56800 2013-09-19  25.56
 56801 2013-09-20  28.74
 56802 2013-09-21  25.23
 56803 2013-09-22  28.86
 ...          ...    ...
 60150 2022-12-27  30.20
 60151 2022-12-28  31.00
 60152 2022-12-29  30.90
 60153 2022-12-30  30.40
 60154 2022-12-31  29.90

 [3356 rows x 2 columns],
            FECHA   MAX
 60155 2015-10-29  30.4
 60156 2015-10-30  30.0
 60157 2015-10-31  29.0
 60158 2015-11-01  29.5
 60159 2015-11-02  31.3
 ...          ...   ...
 62420 2022-10-01  28.1
 62421 2022-10-02  24.8
 62422 2022-10-03  26.2
 62423 2022-10-04  28.8
 62424 2022-10-05  29.4

 [2270 rows x 2 columns],
            FECHA    MAX
 62425 2013-10-09  25.19
 62426 2013-10-10  29.25
 62427 2013-10-11  27.77
 62428 2013-10-12  26.50
 62429 2013-10-13  28.24
 ...          ...    ...
 65427 2022-12-27  27.70
 65428 2022-12-28  28.30
 65429 2022-12-29  28.10
 65430 2022-12-30  27.30
 65431 2022-12-31  27.20

 [3007 rows x 2 columns],
            FECHA    MAX
 65432 2013-10-11  27.88
 65433 2013-10-12  30.32
 65434 2013-10-13  32.27
 65435 2013-10-14  30.31
 65436 2013-10-15  31.84
 ...          ...    ...
 68731 2022-12-27  30.20
 68732 2022-12-28  31.10
 68733 2022-12-29  31.00
 68734 2022-12-30  30.10
 68735 2022-12-31  29.80

 [3304 rows x 2 columns],
            FECHA    MAX
 68736 2014-10-16  28.91
 68737 2014-10-17  32.51
 68738 2014-10-18  29.29
 68739 2014-10-19  31.95
 68740 2014-10-20  32.27
 ...          ...    ...
 71533 2022-12-04  29.20
 71534 2022-12-05  30.20
 71535 2022-12-06  31.30
 71536 2022-12-07  31.00
 71537 2022-12-08  29.80

 [2802 rows x 2 columns],
            FECHA    MAX
 71538 2014-03-27  29.91
 71539 2014-03-28  31.47
 71540 2014-03-29  31.30
 71541 2014-03-30  30.62
 71542 2014-03-31  32.05
 ...          ...    ...
 74375 2022-11-17  30.00
 74376 2022-11-18  29.90
 74377 2022-11-19  30.60
 74378 2022-11-20  26.90
 74379 2022-11-21  25.60

 [2842 rows x 2 columns],
            FECHA    MAX
 74380 2014-09-23  27.42
 74381 2014-09-24  31.58
 74382 2014-09-25  31.16
 74383 2014-09-26  30.49
 74384 2014-09-27  33.90
 ...          ...    ...
 77251 2022-12-27  31.80
 77252 2022-12-28  32.80
 77253 2022-12-29  32.50
 77254 2022-12-30  31.00
 77255 2022-12-31  30.70

 [2876 rows x 2 columns],
            FECHA   MAX
 77256 2014-11-07  22.5
 77257 2014-11-08  23.1
 77258 2014-11-09  27.0
 77259 2014-11-10  22.8
 77260 2014-11-11  27.0
 ...          ...   ...
 80118 2022-12-27  28.5
 80119 2022-12-28  29.9
 80120 2022-12-29  29.1
 80121 2022-12-30  28.6
 80122 2022-12-31  25.4

 [2867 rows x 2 columns],
            FECHA   MAX
 80123 2015-02-22  24.4
 80124 2015-02-23  29.8
 80125 2015-02-24  30.4
 80126 2015-02-25  27.1
 80127 2015-02-26  30.3
 ...          ...   ...
 82865 2022-11-12  27.9
 82866 2022-11-13  28.9
 82867 2022-11-14  27.2
 82868 2022-11-15  27.0
 82869 2022-11-16  25.4

 [2747 rows x 2 columns],
            FECHA   MAX
 82870 2015-05-14  23.5
 82871 2015-05-15  25.9
 82872 2015-05-16  20.2
 82873 2015-05-17  20.4
 82874 2015-05-18  20.1
 ...          ...   ...
 85603 2022-12-12  21.9
 85604 2022-12-13  22.5
 85605 2022-12-14  24.5
 85606 2022-12-15  24.5
 85607 2022-12-16  25.8

 [2738 rows x 2 columns],
            FECHA   MAX
 85608 2015-05-15  30.7
 85609 2015-05-16  26.1
 85610 2015-05-17  25.1
 85611 2015-05-18  31.7
 85612 2015-05-19  30.3
 ...          ...   ...
 88320 2022-12-27  29.6
 88321 2022-12-28  29.4
 88322 2022-12-29  30.2
 88323 2022-12-30  28.9
 88324 2022-12-31  29.7

 [2717 rows x 2 columns],
            FECHA   MAX
 88325 2017-03-26  23.5
 88326 2017-03-27  24.1
 88327 2017-03-28  22.4
 88328 2017-03-29  23.3
 88329 2017-03-30  23.0
 ...          ...   ...
 90376 2022-12-27  23.7
 90377 2022-12-28  24.6
 90378 2022-12-29  24.6
 90379 2022-12-30  23.3
 90380 2022-12-31  23.2

 [2056 rows x 2 columns],
            FECHA   MAX
 90381 2017-04-22  34.4
 90382 2017-04-23  34.9
 90383 2017-04-24  34.2
 90384 2017-04-25  33.3
 90385 2017-04-26  34.4
 ...          ...   ...
 92156 2022-12-27  30.3
 92157 2022-12-28  29.9
 92158 2022-12-29  31.3
 92159 2022-12-30  29.2
 92160 2022-12-31  31.0

 [1780 rows x 2 columns],
            FECHA   MAX
 92161 2017-05-11  21.6
 92162 2017-05-12  28.2
 92163 2017-05-13  27.2
 92164 2017-05-14  25.2
 92165 2017-05-15  28.0
 ...          ...   ...
 94209 2022-12-27  23.3
 94210 2022-12-28  23.0
 94211 2022-12-29  25.4
 94212 2022-12-30  24.6
 94213 2022-12-31  23.6

 [2053 rows x 2 columns],
           FECHA    MAX
 0    2002-01-01  31.88
 1    2002-01-02  31.25
 2    2002-01-03  31.61
 3    2002-01-04  29.63
 4    2002-01-05  29.30
 ...         ...    ...
 6223 2022-12-27  30.10
 6224 2022-12-28  31.20
 6225 2022-12-29  30.70
 6226 2022-12-30  29.80
 6227 2022-12-31  30.40

 [6228 rows x 2 columns],
           FECHA    MAX
 6228 2014-01-18  23.44
 6229 2014-01-19  29.40
 6230 2014-01-20  27.96
 6231 2014-01-21  28.71
 6232 2014-01-22  27.52
 ...         ...    ...
 8577 2022-07-04  27.30
 8578 2022-07-05  26.50
 8579 2022-07-06  29.10
 8580 2022-07-07  29.50
 8581 2022-07-08  31.40

 [2354 rows x 2 columns],
           FECHA    MAX
 0    2004-03-24  35.41
 1    2004-03-25  36.96
 2    2004-03-26  36.01
 3    2004-03-27  36.65
 4    2004-03-28  36.12
 ...         ...    ...
 5774 2022-12-27  31.90
 5775 2022-12-28  32.10
 5776 2022-12-29  32.20
 5777 2022-12-30  32.70
 5778 2022-12-31  33.00

 [5779 rows x 2 columns],
            FECHA    MAX
 5779  2004-11-11  30.95
 5780  2004-11-12  31.08
 5781  2004-11-13  29.85
 5782  2004-11-14  29.75
 5783  2004-11-15  27.85
 ...          ...    ...
 11945 2022-12-17  32.60
 11946 2022-12-18  31.60
 11947 2022-12-19  30.30
 11948 2022-12-20  31.00
 11949 2022-12-21  31.50

 [6171 rows x 2 columns],
            FECHA    MAX
 11950 2002-01-01  33.67
 11951 2002-01-02  34.18
 11952 2002-01-03  35.08
 11953 2002-01-04  32.80
 11954 2002-01-05  30.90
 ...          ...    ...
 19208 2022-12-27  33.00
 19209 2022-12-28  32.80
 19210 2022-12-29  33.90
 19211 2022-12-30  33.60
 19212 2022-12-31  33.30

 [7263 rows x 2 columns],
            FECHA    MAX
 19213 2002-10-27  29.23
 19214 2002-10-28  32.11
 19215 2002-10-29  30.35
 19216 2002-10-30  32.14
 19217 2002-10-31  29.92
 ...          ...    ...
 25710 2022-12-27  33.50
 25711 2022-12-28  33.00
 25712 2022-12-29  32.10
 25713 2022-12-30  31.40
 25714 2022-12-31  33.00

 [6502 rows x 2 columns],
            FECHA    MAX
 25715 2012-04-01  34.25
 25716 2012-04-02  33.50
 25717 2012-04-03  34.01
 25718 2012-04-04  34.20
 25719 2012-04-05  34.69
 ...          ...    ...
 29545 2022-11-13  30.40
 29546 2022-11-14  30.30
 29547 2022-11-15  30.40
 29548 2022-11-16  31.10
 29549 2022-11-17  30.40

 [3835 rows x 2 columns],
            FECHA    MAX
 29550 2012-09-23  33.05
 29551 2012-09-24  34.69
 29552 2012-09-25  33.82
 29553 2012-09-26  35.13
 29554 2012-09-27  36.21
 ...          ...    ...
 32732 2022-06-23  35.10
 32733 2022-06-24  35.30
 32734 2022-06-25  33.90
 32735 2022-06-26  33.10
 32736 2022-06-27  30.10

 [3187 rows x 2 columns],
            FECHA    MAX
 32737 2013-04-24  34.32
 32738 2013-04-25  35.29
 32739 2013-04-26  37.56
 32740 2013-04-28  35.17
 32741 2013-04-29  35.84
 ...          ...    ...
 36144 2022-12-27  32.50
 36145 2022-12-28  34.10
 36146 2022-12-29  32.40
 36147 2022-12-30  32.10
 36148 2022-12-31  32.10

 [3412 rows x 2 columns],
            FECHA   MAX
 36149 2015-11-25  30.9
 36150 2015-11-26  31.7
 36151 2015-11-27  31.1
 36152 2015-11-28  31.0
 36153 2015-11-29  31.6
 ...          ...   ...
 38083 2022-12-27  28.8
 38084 2022-12-28  29.6
 38085 2022-12-29  30.1
 38086 2022-12-30  29.8
 38087 2022-12-31  30.2

 [1939 rows x 2 columns],
            FECHA   MAX
 38088 2014-12-13  29.8
 38089 2014-12-14  30.4
 38090 2014-12-15  32.2
 38091 2014-12-16  31.7
 38092 2014-12-17  31.6
 ...          ...   ...
 39840 2020-02-15  35.2
 39841 2020-02-16  33.2
 39842 2020-02-17  34.5
 39843 2020-02-18  34.6
 39844 2020-02-19  35.1

 [1757 rows x 2 columns],
            FECHA   MAX
 39845 2015-05-21  31.8
 39846 2015-05-22  30.8
 39847 2015-05-23  32.3
 39848 2015-05-24  32.5
 39849 2015-05-25  31.1
 ...          ...   ...
 42525 2022-12-27  31.4
 42526 2022-12-28  31.0
 42527 2022-12-29  30.2
 42528 2022-12-30  30.4
 42529 2022-12-31  31.2

 [2685 rows x 2 columns],
            FECHA   MAX
 42530 2016-04-28  27.0
 42531 2016-04-29  34.1
 42532 2016-04-30  33.1
 42533 2016-05-01  34.5
 42534 2016-05-02  32.9
 ...          ...   ...
 44963 2022-12-27  32.1
 44964 2022-12-28  31.7
 44965 2022-12-29  32.5
 44966 2022-12-30  33.2
 44967 2022-12-31  32.3

 [2438 rows x 2 columns],
            FECHA   MAX
 44968 2017-08-18  29.4
 44969 2017-08-19  30.3
 44970 2017-08-20  30.3
 44971 2017-08-21  29.5
 44972 2017-08-22  29.9
 ...          ...   ...
 46805 2022-12-27  29.7
 46806 2022-12-28  29.7
 46807 2022-12-29  32.0
 46808 2022-12-30  31.7
 46809 2022-12-31  30.8

 [1842 rows x 2 columns],
            FECHA   MAX
 46810 2017-08-05  30.4
 46811 2017-08-06  27.9
 46812 2017-08-07  27.1
 46813 2017-08-08  28.7
 46814 2017-08-09  30.1
 ...          ...   ...
 48326 2022-02-17  30.1
 48327 2022-02-18  32.1
 48328 2022-02-19  30.1
 48329 2022-02-20  30.7
 48330 2022-02-21  31.5

 [1521 rows x 2 columns],
            FECHA   MAX
 48331 2017-08-08  30.1
 48332 2017-08-09  32.3
 48333 2017-08-10  31.6
 48334 2017-08-11  31.6
 48335 2017-08-12  31.0
 ...          ...   ...
 50222 2022-12-27  32.7
 50223 2022-12-28  32.8
 50224 2022-12-29  32.5
 50225 2022-12-30  32.3
 50226 2022-12-31  33.0

 [1896 rows x 2 columns],
            FECHA   MAX
 50227 2017-09-02  31.5
 50228 2017-09-03  29.1
 50229 2017-09-04  26.6
 50230 2017-09-05  29.5
 50231 2017-09-06  28.9
 ...          ...   ...
 52161 2022-12-27  26.9
 52162 2022-12-28  26.4
 52163 2022-12-29  27.2
 52164 2022-12-30  27.5
 52165 2022-12-31  28.0

 [1939 rows x 2 columns],
            FECHA   MAX
 52166 2018-02-11  31.4
 52167 2018-02-12  31.1
 52168 2018-02-13  31.9
 52169 2018-02-14  32.1
 52170 2018-02-15  31.9
 ...          ...   ...
 53909 2022-11-26  26.0
 53910 2022-11-27  25.1
 53911 2022-11-28  23.4
 53912 2022-11-29  26.9
 53913 2022-11-30  29.1

 [1748 rows x 2 columns],
           FECHA    MAX
 0    2002-01-01  24.01
 1    2002-01-02  23.24
 2    2002-01-03  24.61
 3    2002-01-04  20.98
 4    2002-01-05  21.23
 ...         ...    ...
 7418 2022-12-27  21.20
 7419 2022-12-28  22.80
 7420 2022-12-29  22.80
 7421 2022-12-30  23.10
 7422 2022-12-31  22.10

 [7423 rows x 2 columns],
            FECHA    MAX
 7423  2002-01-01  22.06
 7424  2002-01-02  22.88
 7425  2002-01-03  23.69
 7426  2002-01-04  21.80
 7427  2002-01-05  20.78
 ...          ...    ...
 14592 2022-06-04  23.90
 14593 2022-06-05  24.00
 14594 2022-06-06  24.90
 14595 2022-06-07  22.10
 14596 2022-06-08  20.10

 [7174 rows x 2 columns],
            FECHA    MAX
 14597 2004-11-04  13.79
 14598 2004-11-05  16.78
 14599 2004-11-06  14.20
 14600 2004-11-07  14.46
 14601 2004-11-08  10.57
 ...          ...    ...
 20964 2022-12-27  14.30
 20965 2022-12-28  12.50
 20966 2022-12-29  11.70
 20967 2022-12-30  15.70
 20968 2022-12-31  15.50

 [6372 rows x 2 columns],
            FECHA    MAX
 20969 2007-07-18  19.40
 20970 2007-07-19  19.78
 20971 2007-07-20  22.29
 20972 2007-07-21  21.88
 20973 2007-07-22  21.27
 ...          ...    ...
 24726 2022-12-27  19.40
 24727 2022-12-28  21.30
 24728 2022-12-29  20.50
 24729 2022-12-30  21.30
 24730 2022-12-31  19.80

 [3762 rows x 2 columns],
            FECHA    MAX
 24731 2010-01-27  17.86
 24732 2010-01-28  14.66
 24733 2010-01-29  17.52
 24734 2010-01-30  16.85
 24735 2010-01-31  24.20
 ...          ...    ...
 29167 2022-10-04  13.40
 29168 2022-10-05  13.20
 29169 2022-10-06  12.10
 29170 2022-10-07   9.40
 29171 2022-10-08   8.90

 [4441 rows x 2 columns],
            FECHA    MAX
 29172 2011-11-01  28.20
 29173 2011-11-02  28.33
 29174 2011-11-03  30.67
 29175 2011-11-04  27.73
 29176 2011-11-05  29.54
 ...          ...    ...
 33066 2022-12-27  30.90
 33067 2022-12-28  31.80
 33068 2022-12-29  31.90
 33069 2022-12-30  31.00
 33070 2022-12-31  31.10

 [3899 rows x 2 columns],
            FECHA    MAX
 33071 2011-12-20  26.98
 33072 2011-12-21  29.22
 33073 2011-12-22  30.59
 33074 2011-12-23  23.67
 33075 2011-12-24  30.33
 ...          ...    ...
 37007 2022-12-27  28.70
 37008 2022-12-28  29.60
 37009 2022-12-29  29.30
 37010 2022-12-30  28.40
 37011 2022-12-31  29.00

 [3941 rows x 2 columns],
            FECHA    MAX
 37012 2012-02-16  27.58
 37013 2012-02-17  23.03
 37014 2012-02-18  24.94
 37015 2012-02-19  23.96
 37016 2012-02-20  24.20
 ...          ...    ...
 40900 2022-12-27  24.30
 40901 2022-12-28  25.20
 40902 2022-12-29  25.00
 40903 2022-12-30  25.30
 40904 2022-12-31  24.20

 [3893 rows x 2 columns],
            FECHA    MAX
 40905 2007-10-21  26.46
 40906 2007-10-22  29.91
 40907 2007-10-23  29.12
 40908 2007-10-24  30.87
 40909 2007-10-25  30.80
 ...          ...    ...
 43675 2022-12-27  28.50
 43676 2022-12-28  29.10
 43677 2022-12-29  29.30
 43678 2022-12-30  29.30
 43679 2022-12-31  28.50

 [2775 rows x 2 columns],
            FECHA    MAX

* Filtrar las tablas para que solo tengan valores mayores a -10

In [24]:
# Filtrar y actualizar los DataFrames en TempMAX y TempMIN 
TempMAX = [df.loc[(df['MAX'] > -10) & (df['MAX'] < 50)] for df in TempMAX]
TempMIN = [df.loc[(df['MIN'] > -10) & (df['MIN'] < 50)] for df in TempMIN]

* Volver la columna 'FECHA' un dateintex

In [25]:
# Establecer el índice 'FECHA' en cada DataFrame en TempMAX y TempMIN
TempMAX = [df.set_index('FECHA') for df in TempMAX]
TempMIN = [df.set_index('FECHA') for df in TempMIN]

* Eliminar los valores Nan

In [26]:
# Filtrar y actualizar los DataFrames en TempMAX y TempMIN
TempMAX = [df.dropna(subset=['MAX']) for df in TempMAX]
TempMIN = [df.dropna(subset=['MIN']) for df in TempMIN]

## Obtener los estadisticos diarios

* Crear una lista de las temperaturas Maxima, Minima y Promedio

In [27]:
#Crear una lista vacía llamada lista_de_listas_de_tablas
lista_temp = [TempMAX, TempMIN]

* Obtener los estadisticos mean, median, max y min, de cada T(max, min) y cada estación

In [28]:
# Crear listas para almacenar los resultados de cada estadístico
diario_min = []
diario_max = []
diario_mean = []
diario_median = []
diario_percentil5 = []
diario_percentil95 = []

# Iterar sobre cada lista de tablas en lista_temp
for lista in lista_temp:
    # Crear listas temporales para almacenar los resultados de cada estadístico en la lista actual
    temp_min = []
    temp_max = []
    temp_mean = []
    temp_median = []
    temp_percentil5 = []
    temp_percentil95 = []

    # Iterar sobre cada tabla en la lista actual
    for tabla in lista:
        # Agrupar por mes y día y calcular los estadísticos
        estadisticas_min = tabla.groupby(tabla.index.strftime("%m%d")).min()
        temp_min.append(estadisticas_min)

        estadisticas_max = tabla.groupby(tabla.index.strftime("%m%d")).max()
        temp_max.append(estadisticas_max)

        estadisticas_mean = tabla.groupby(tabla.index.strftime("%m%d")).mean()
        temp_mean.append(estadisticas_mean)

        estadisticas_median = tabla.groupby(tabla.index.strftime("%m%d")).median()
        temp_median.append(estadisticas_median)

        estadisticas_percentil5 = tabla.groupby(tabla.index.strftime("%m%d")).quantile(0.05)
        temp_percentil5.append(estadisticas_percentil5)

        estadisticas_percentil95 = tabla.groupby(tabla.index.strftime("%m%d")).quantile(0.95)
        temp_percentil95.append(estadisticas_percentil95)

    # Agregar las listas temporales a las listas principales
    diario_min.append(temp_min)
    diario_max.append(temp_max)
    diario_mean.append(temp_mean)
    diario_median.append(temp_median)
    diario_percentil5.append(temp_percentil5)
    diario_percentil95.append(temp_percentil95)

* Acomodar los datos y crear tablas con todas las estaciones

In [29]:
# Crear una lista
estadisticos_diarios = [diario_min, diario_max, diario_mean, diario_median, diario_percentil5, diario_percentil95]

* Se selecciona solo la columna que necesitamos, para que la fecha no cause problemas

In [30]:
# Convertir cada tabla en un DataFrame dentro de cada lista
diario_columnas = [[[tabla.iloc[:,0] for tabla in temperatura] for temperatura in estadistico]for estadistico in estadisticos_diarios]

* Volvemos un dataframe cada tabla T(max, min) y luego transponemos cada dataframe

In [31]:
diario_dataframes = [[pd.DataFrame(tabla) for tabla in estadistico]for estadistico in diario_columnas]

In [32]:
diario_dataframes_transpuestos = [[tabla.transpose() for tabla in estadistico]for estadistico in diario_dataframes]

* Renombrar las columnas

In [33]:
# Cambiar los nombres de las columnas en cada DataFrame
for estadistico in diario_dataframes_transpuestos:
    for tabla in estadistico:
        tabla.columns = NUMERO

* Guardar estadisticos diarios en excel

In [34]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Diaria_Observada_Temperatura.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
diario_dataframes_transpuestos[0][0].to_excel(writer, sheet_name='tmax_min', index=True)
diario_dataframes_transpuestos[1][0].to_excel(writer, sheet_name='tmax_max', index=True)
diario_dataframes_transpuestos[2][0].to_excel(writer, sheet_name='tmax_mean', index=True)
diario_dataframes_transpuestos[3][0].to_excel(writer, sheet_name='tmax_median', index=True)
diario_dataframes_transpuestos[4][0].to_excel(writer, sheet_name='tmax_p5', index=True)
diario_dataframes_transpuestos[5][0].to_excel(writer, sheet_name='tmax_p95', index=True)
diario_dataframes_transpuestos[0][1].to_excel(writer, sheet_name='tmin_min', index=True)
diario_dataframes_transpuestos[1][1].to_excel(writer, sheet_name='tmin_max', index=True)
diario_dataframes_transpuestos[2][1].to_excel(writer, sheet_name='tmin_mean', index=True)
diario_dataframes_transpuestos[3][1].to_excel(writer, sheet_name='tmin_median', index=True)
diario_dataframes_transpuestos[4][1].to_excel(writer, sheet_name='tmin_p5', index=True)
diario_dataframes_transpuestos[5][1].to_excel(writer, sheet_name='tmin_p95', index=True)

# Guardar el archivo Excel
writer.save()

## Obtener los estadisticos mensual

In [35]:
# Crear listas para almacenar los resultados de cada estadístico
mensual_min = []
mensual_max = []
mensual_mean = []
mensual_median = []
mensual_percentil5 = []
mensual_percentil95 = []

# Iterar sobre cada lista de tablas en lista_temp
for lista in lista_temp:
    # Crear listas temporales para almacenar los resultados de cada estadístico en la lista actual
    temp_min = []
    temp_max = []
    temp_mean = []
    temp_median = []
    temp_percentil5 = []
    temp_percentil95 = []

    # Iterar sobre cada tabla en la lista actual
    for tabla in lista:
        # Agrupar por mes y día y calcular los estadísticos
        estadisticas_min = tabla.groupby(tabla.index.strftime("%m")).min()
        temp_min.append(estadisticas_min)

        estadisticas_max = tabla.groupby(tabla.index.strftime("%m")).max()
        temp_max.append(estadisticas_max)

        estadisticas_mean = tabla.groupby(tabla.index.strftime("%m")).mean()
        temp_mean.append(estadisticas_mean)

        estadisticas_median = tabla.groupby(tabla.index.strftime("%m")).median()
        temp_median.append(estadisticas_median)

        estadisticas_percentil5 = tabla.groupby(tabla.index.strftime("%m")).quantile(0.05)
        temp_percentil5.append(estadisticas_percentil5)

        estadisticas_percentil95 = tabla.groupby(tabla.index.strftime("%m")).quantile(0.95)
        temp_percentil95.append(estadisticas_percentil95)

    # Agregar las listas temporales a las listas principales
    mensual_min.append(temp_min)
    mensual_max.append(temp_max)
    mensual_mean.append(temp_mean)
    mensual_median.append(temp_median)
    mensual_percentil5.append(temp_percentil5)
    mensual_percentil95.append(temp_percentil95)

In [36]:
# Crear una lista
estadisticos_mensual = [mensual_min, mensual_max, mensual_mean, mensual_median, mensual_percentil5, mensual_percentil95]

# Convertir cada tabla en un DataFrame dentro de cada lista
mensual_columnas = [[[tabla.iloc[:,0] for tabla in temperatura] for temperatura in estadistico]for estadistico in estadisticos_mensual]

# Volvemos un dataframe cada tabla T(max, min) y luego transponemos cada dataframe
mensual_dataframes = [[pd.DataFrame(tabla) for tabla in estadistico]for estadistico in mensual_columnas]
mensual_dataframes_transpuestos = [[tabla.transpose() for tabla in estadistico]for estadistico in mensual_dataframes]

* Renombrar las columnas

In [37]:
# Cambiar los nombres de las columnas en cada DataFrame
for estadistico in mensual_dataframes_transpuestos:
    for tabla in estadistico:
        tabla.columns = NUMERO

* Guardar estadisticos mensuales en excel

In [38]:
# Crear el objeto ExcelWriter
writer = pd.ExcelWriter('Climatologia_Mensual_Observada_Temperatura.xlsx', engine='xlsxwriter')

# Escribir los DataFrames en diferentes hojas
mensual_dataframes_transpuestos[0][0].to_excel(writer, sheet_name='tmax_min', index=True)
mensual_dataframes_transpuestos[1][0].to_excel(writer, sheet_name='tmax_max', index=True)
mensual_dataframes_transpuestos[2][0].to_excel(writer, sheet_name='tmax_mean', index=True)
mensual_dataframes_transpuestos[3][0].to_excel(writer, sheet_name='tmax_median', index=True)
mensual_dataframes_transpuestos[4][0].to_excel(writer, sheet_name='tmax_p5', index=True)
mensual_dataframes_transpuestos[5][0].to_excel(writer, sheet_name='tmax_p95', index=True)
mensual_dataframes_transpuestos[0][1].to_excel(writer, sheet_name='tmin_min', index=True)
mensual_dataframes_transpuestos[1][1].to_excel(writer, sheet_name='tmin_max', index=True)
mensual_dataframes_transpuestos[2][1].to_excel(writer, sheet_name='tmin_mean', index=True)
mensual_dataframes_transpuestos[3][1].to_excel(writer, sheet_name='tmin_median', index=True)
mensual_dataframes_transpuestos[4][1].to_excel(writer, sheet_name='tmin_p5', index=True)
mensual_dataframes_transpuestos[5][1].to_excel(writer, sheet_name='tmin_p95', index=True)

# Guardar el archivo Excel
writer.save()